/*==============
   购物车begin
===============*/
.cart .category{
   height:auto;
}
.cart .tips{
    margin-top:20px;
    min-height:500px;
    background:#f1f1f1;
    text-align:center;
}
.cart .tips p{
    line-height:400px;
    font-size:36px;
    color:#ddd;
}
.cart-top{
    margin-top:50px;
    overflow:hidden;
}
.cart-top h1{
    font-size:24px;
    font-weight:normal;
    float:left;
    color:#333;
}
.cart-top .cart-tips{
    margin-left:16px;
    font-size:16px;
    color:#666;
    white-space:nowrap;
    line-height:42px;
    float:left;
}
.cart-th{
    margin-top:25px;
    width:100%;
    height:50px;
    background:#fff;
    color:#333;
    line-height:50px;
    position:relative;
}
.cart-th .th1{
    margin-left:188px;
}
.cart-th .th2{
    margin-left:254px;
}
.cart-th .th3{
    margin-left:155px;
}
.cart-th .th4{
     margin-left:190px;
 }
.cart-th .th5{
    margin-left: 165px;
}
.cart-list{
    margin-top:15px;
}
.cart-list-top {
    height:50px;
    background:#fff;
    line-height:50px;
}
.cart-list-top a{
    color:#333;
}
.cart-list-top img{
    margin-top:9px;
    margin-right:10px;
    width:32px;
    height:32px;
    background:#f1f1f1;
    margin-left:20px;
    float:left;
}
.cart-list-top .cart-ck-order{
    margin-left:25px;
}
.cart-list-top .a-forDiscount{
    margin-right: 38px;
    margin-top: 7px;
    width: 80px;
    height: 36px;
    line-height: 36px;
    border-radius: 3px;
    color: #fff;
    text-align: center;
    float: right;
    cursor: pointer;
    background: #499946;
    font-size: 16px;
}
.cart-th .cart-checkedAll{
    position:absolute;
    left:20px;
    top:5px;
}
.cart-list-cont{
    min-height:120px;
    margin-top:1px;
    padding:15px 20px;
    text-align:center;
    overflow:hidden;
    background:#fff;
}
.cart-list-cont .cont1,.cart-list-cont .cont2,.cart-list-cont .cont3,.cart-list-cont .cont4,.cart-list-cont .cont5{
    color:#666;
    float:left;
}
.cart-list-cont .cont1{
    width:280px;
    text-align:left;
    padding-left:140px;
    position:relative;
}
.cart-list-cont .cont2{
     width:125px;
    font-size:17px;
    text-decoration:line-through;
    line-height:120px;
 }
.cart-list-cont .cont3{
    width:260px;
    line-height:26px;
}
.cart-list-cont .cont3 p:first-child,.cart-list-cont .cont4 p:first-child{
    margin-top:30px;
}
.cart-list-cont .cont4{
     width:210px;
    line-height:26px;
 }
.cart-list-cont .cont5{
    width:140px;
    position:relative;
}
.a-cart-goodsImg{
    display:table-caption;
    width:100px;
    height:100px;
    line-height:100px;
    border:1px solid #e5e5e5;
    padding:10px;
    position:absolute;
    left:0px;
    top:0px;
    text-align:center;
}
.a-cart-goodsImg img{
    vertical-align:middle;
    max-width:100%;
    max-height:100%;
}
.cart-list .goods-name{
    overflow:hidden;
}
.cart-list .goods-name h2{
    float:left;
    height:24px;
    line-height:24px;
    margin-bottom:15px;
    font-size:16px;
    font-weight:normal;
    max-width:210px;
    overflow:hidden;
}
.cart-list .goods-name small{
    float:left;
    line-height: 22px;
    margin-left:12px;
}
.cart-list-cont .cont1 p{
    color:#999;
    margin-bottom:10px;
    max-width:240px;
    overflow:hidden;
    text-overflow:clip;
    white-space:nowrap;
}
.cart-list-cont .cont3 .price{
    font-size:17px;
    color:#333;
}
.cart-list-cont .cont4 .wait-to-pay{
    font-size:17px;
    color:#ea3127;
}
.payed{
   color:#ea3127;
}
.cart-list .icon-remove{
    display:block;
    width:32px;
    height:32px;
    background:url(../res/icon/icon_delete.png);
    position:relative;
    left:50%;
    top:35px;
    opacity:0.5;
}
.cart-list .icon-remove:hover{
    opacity:1;
}
.cart-finally{
    margin-top:20px;
}
.cart-finally p{
    text-align:right;
}
.cart-finally p:first-child{
    color:#666;
}
.cart .cart-sum-cost{
    font-size:16px;
    line-height:36px;
    color:#333;
}
.cart .cart-sum-cost span{
    font-size:24px;
    color:#ff0000;
}
#btn_sure_pay{
    padding:10px 45px;
    font-size:18px;
    background:#ea3127;
    color:#fff;
    border:none;
    margin-top:10px;
    cursor:pointer;
}
/*购物车end*/