/*==============
   首页begin
===============*/
.banner{
    min-width: 1200px;
    width: 100%;
    height: 450px;
    overflow: hidden;
    position: relative;
    background: rgb(255, 255, 255) none repeat scroll 0% 0%;
    background-image: url("../res/images/default.png");
    background-size: auto 250px;
}
.banner .spinner{
    margin-top:200px;
    position:relative;
    left:100px;
}
.banner ul{
    min-width:100%;
    position:absolute;
    left:0px;
    top:0px;
    overflow:hidden;
}
.banner ul,.banner .inner-html{
    display: block;
    height:486px;
}
.banner li{
    display:block;
 /*   max-width:1920px;*/
    width:100%;
    height:486px;
    float:left;
    overflow:hidden;
    position:absolute;
    left:0px;
    top:0px;
    opacity:0;
    text-align: center;
}
.banner li a{
    display:block;
    width:100%;
    text-align:center;
}
.banner img{
/*    height:486px;*/
    display:inline;
    position:relative;
    left:-960px;;
    top:0px;
    margin-left:50%;
}
.banner .prev,.banner .next{
    display:none;
    width:30px;
    height:54px;
    background-color:rgba(0,0,0,0.3);
    position:absolute;
    left:50%;
    top:200px;
    margin-left:-330px;
    font-size:24px;
    color:#fff;
    font-family: Terminal;
    text-align:center;
    line-height:50px;
    cursor:pointer;
    z-index:100;
}
.banner:hover .prev,.banner:hover .next{
    display:block;
}
.banner .prev{
    background-image:url(../res/icon/icon_prev.png);
    background-repeat:no-repeat;
    background-position:0px 12px;

}
.banner .next{
    background-image:url(../res/icon/icon_next.png);
    background-repeat:no-repeat;
    background-position:3px 12px;

}
.banner .prev:hover,.banner .next:hover{
    background-color:rgba(0,0,0,0.6);

}
.banner .next{
    margin-left:515px;
}
.banner-index{
padding: 5px 10px;
position: absolute;
left: 50%;
top: 92%;
margin-left: 70px;
    z-index:3;
}
.banner-index a{
    display:block;
    margin-left:10px;
    float: left;
    width:12px;
    height:12px;
    border-radius:8px;
    background:rgba(0,0,0,0.2);
    position:relative;
    left:-5px;
    cursor:pointer;
}
.banner-index a.cur-banner-index{
    background:#ff6600;
}
.banner-index a.cur-banner-index:hover{
    background:#ff6600;
}
.banner-index a:hover{
    background:rgba(255,102,0,0.7);
}
.today-update{
    width:75.2%;
    margin-top:30px;
    float:left; 

}
.tomorrow-advance-notice{
    width:22.8%;
    margin-left:15px;
    margin-top:30px;
    float: left;
	overflow:hidden;
}
.today-content{
    margin-bottom:20px;
    height:211px;
    background:#fff;
    overflow:hidden;
    position:relative;
	-webkit-transition:all .3s;
}
.today-list-l{
    width:220px;
    height:100%;
    float:left;
    text-align:center;
}
.today-list-l .info1,.today-list-l .info2{
    margin:0 auto;
    width:90%;
    border-bottom:1px solid #f4f4f4;
}
.today-list-l .info2{
	border-bottom:0px solid #f4f4f4;
	}
.today-list-r{
    display:table-caption;
    width:532px;
    height:211px;
    top:0px;
    overflow:hidden;
    text-align:center;

}
.today-list-r img{
    vertical-align:middle;
    transition:transform 0.3s;
    -webkit-transition:-webkit-transform 0.3s;
    max-width:100%;
    max-height:100%;
}
.today-content:hover .today-list-r img{
    transition:transform 0.3s;
    -webkit-transition:-webkit-transform 0.3s;
    transform:scale(1.03);
    -o-transform:scale(1.03);
    -ms-transform:scale(1.03);
    -moz-transform:scale(1.03);
    -webkit-transform:scale(1.03);
}
.today-content:hover{
	-webkit-box-shadow: 0 1px 10px rgba(0,0,0,0.1);
	}
.today-pro-logo{
    display:block;
    margin-left:auto;
    margin-right:auto;
    margin-top:20px;
    width:120px;
    height:40px;
    text-align:center;
}
.today-pro-logo img{
    max-width:100%;
}
.today-pro-font{
    max-width:80%;
    font-size:12px;
    color:#000;
    line-height:20px;
    height:20px;
    overflow:hidden;
    text-overflow:ellipsis;
    margin:15px auto;
}
.today-pro-discount{
    margin-top:5px;
    margin-bottom:10px;
}
.today-pro-discount span{
    color:#ff6700;
    font-size:30px;
}
.today-top{
	margin-bottom:5px;
    line-height:40px;
    overflow:hidden;
}
.today-top h3{
    margin-right:15px;
    font-size:20px;
    text-indent:5px;
    font-weight:normal;
    float:left;
}
.today-top p{
    float:left;
    color:#666;
}
.tomorrow-top h3{
	margin-bottom:5px;
    height:40px;
    line-height:40px;
    font-size:18px;
    text-indent:5px;
    font-weight:normal;
    color:#333;
}
.tomorrow-content{
    overflow:hidden;
    padding-bottom:10px;
}
.tomorrow-content li{
    list-style: none;
    width:113.5px;
    height:96px;
    background:#fff;
    display:table-caption;
    line-height:96px;
    margin-top:1px;
    text-align:center;
    float:left;
    overflow:hidden;
}
.tomorrow-content li:nth-child(even){ margin-left:1px;}
.tomorrow-content li a{
    display:block;
    width:100%;
    height:100%;
}
.tomorrow-content li img{
    max-width:90%;
    max-height:90%;
    vertical-align:middle;
    transition:transform 0.3s;
    -moz-transition:transform 0.3s;
    -o-transition:transform 0.3s;
    -webkit-transition:-webkit-transform 0.3s;
}
.tomorrow-content li a:hover img{
    transform:scale(1.1);
    -moz-transform:scale(1.1);
    -o-transform:scale(1.1);
    -webkit-transform:scale(1.1);
    transition:transform 0.3s;
    -moz-transition:transform 0.3s;
    -o-transition:transform 0.3s;
    -webkit-transition:-webkit-transform 0.3s;
}
/*首页end*/

.banner.banner-css3 li{
    opacity:1;
}
.today-list-r img{
    -webkit-transition: all .5s!important;
    -moz-transition: all .5s!important;
    -ms-transition: all .5s!important;
    -o-transition: all .5s!important;
    transition: all .5s!important;
}
.floor{
    margin-top:20px;
}
.floor .floor-title{
    line-height:40px;
}
.floor .floor-title h2{
    font-size:18px;
    color:#333;
    font-weight:normal;
}
.floor img{
    max-width:100%;
    max-height:100%;
}
.floor *{
    box-sizing:border-box;
}
.floor .item-link img{
    width: 72%;
    height: 72%;
}
.floor .item-link .bar-item-info{
    position: absolute;
    left: 0px;
    top: 160px;
    z-index: 2;
    text-align: left;
    padding: 8px 10px 10px 10px;
    width: 100%;
}
.floor .item-link .bar-item-info h2{
    max-width:100%;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    font-weight:500;
    font-size:14px;
    color:#333;
}
.floor .item-link .bar-price{
    line-height:20px;
    color:#999;
}
.floor .item-link .bar-price .min-price{
    font-size: 16px;
    color: #ec3640;
    font-weight: 500;

}
.floor a.link{
    transition:all 0s;
}
.floor a.link:hover{
    position:absolute;
    border-color:#fde465!important;
}

.floor-nav{
    width:75px;
    position:fixed;
    left:50%;
    top:50%;
    margin-left:-640px;
    background:#fff;
    text-align:center;
    font-size:14px;
}
.floor-nav li{
    line-height:40px;
    cursor:pointer;
    position:relative;
    border-bottom:1px solid #eee;
    color:#999;
    font-size:12px;
}
.floor-nav li:last-child{
    border-bottom:none;
}
.floor-nav li:hover{
    background:#ffcc66;
    color:#f8f8f8;
}
.floor-nav li.cur{
    border-bottom-color:transparent;
    color:#fff;
    background: #ffcc66;
    font-size:14px;
}
.floor-nav li:nth-child(1).cur{
    background:#84B6F5;
}
.floor-nav li:nth-child(2).cur{
    background:#B0C662;
}
.floor-nav li:nth-child(3).cur{
    background:#C094E3;
}
.floor-nav li:nth-child(4).cur{
    background:#F29AC0;
}
.floor-nav li:nth-child(5).cur{
    background:#D1BD7E;
}
.floor-nav li:nth-child(6).cur{
    background:#FB7677;
}




/*==============
  活动样式begin
==============*/
.home.bar-clg-rec{
    margin-top:15px;
    height:60px;
    background:#fff;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    padding-left:104px;
    position:relative;
    overflow:hidden;
}
.home.bar-clg-rec .bar-title{
    display:block;
    width:104px;
    height:30px;
    border-right:1px solid #eee;
    position:absolute;
    left:0px;
    top:15px;
    line-height:30px;
    color:#666;
    font-size:14px;
    font-weight:500;
}
.home.bar-clg-rec .ul-clg-rec{
    width:996px;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    overflow:hidden;
    background:#fff;
    z-index:2;
    position:relative;
}
.home.bar-clg-rec *{
    box-sizing:border-box;
    -moz-box-sizing:border-box;
}
.home.bar-clg-rec .ul-clg-rec li{
    overflow: hidden;
    height:60px;
    overflow:hidden;
    padding:10px 0px;
}
.home.bar-clg-rec .ul-clg-rec .cont{
    float: left;
}
.home.bar-clg-rec .ul-clg-rec .cont2,.home.bar-clg-rec .ul-clg-rec .cont3,.home.bar-clg-rec .ul-clg-rec .cont4,.home.bar-clg-rec .ul-clg-rec .cont5{
    text-align: center;
}
.home .ul-clg-rec .cont1{
    width:200px;
    padding-left:85px;
    position:relative;
}
.home .ul-clg-rec .cont1 img{
    width:40px;
    height:40px;
    border-radius:20px;
    position:absolute;
    left:30px;
    top:0px;
}
.home .ul-clg-rec .cont1 .user-name{
    display:block;
    overflow:hidden;
    max-width:100px;
    height:20px;
    line-height:20px;
    font-size:16px;

}
.home .ul-clg-rec .cont2{
    width:380px;
    padding:0px 10px;
    line-height:40px;

}
.home .ul-clg-rec .cont2 h2{
    color:#666;
    font-weight:normal;
    font-size:12px;
}
.home .ul-clg-rec .cont3{
    width:100px;
    padding:0px 10px;
}
.home .ul-clg-rec .cont4{
    width:150px;
    padding:0px 10px;
    line-height:40px;
}
.home .ul-clg-rec .cont5{
    width:150px;
    line-height:40px;
}
.home .ul-clg-rec .icon-disc{
    display:block;
    width:71px;
    height:31px;
    background:url(../res/images/background/bg_act_discount_card.png);
    line-height: 31px;
    text-align:center;
    color:#ce6100;
    position:relative;
    top:5px;
}
.home .ul-clg-rec .icon-disc span{
    font-size:16px;
}
.home .ul-clg-rec .score{
    font-size:14px;
    color:#ff6700;
}
.home .icon-clg-result{
    width:76px;
    height:36px;
    display:inline-block;
}
.home .icon-clg-result.success{
    background: url(../res/images/background/icon_clg_success.png);
}
.home .icon-clg-result.fail{
    background: url(../res/images/background/icon_clg_fail.png);
}
.home.box-act.content{
    margin-top:15px;
}
.home .box-act-title{
    line-height: 48px;
    overflow:hidden;
}
.home .box-act-title label{
    display:block;
    float:left;
    font-size:16px;

}
.home .box-act-title label:before{
    content: '';
    display:block;
    width:27px;
    height:27px;
    background: url(../res/icon/icon_flag_red.png);
    float:left;
    position:relative;
    top:10px;
}
.home .box-act-title .btn{
    float:right;
    width:100px;
    height:36px;
    background: #d0170e;
    color:#ffd87a;
    line-height:36px;
    font-size:14px;
}
.home .box-act-title .btn:hover{
    background:#a70901;
    color:#fce2a5;
}
.home .act-slider{
    width:100%;
    height:310px;
    position:relative;
    overflow:hidden;
}
.home .act-slider ul{
    width:100%;
    height:100%;
    position:absolute;
    left:0px;
    top:0px;
    overflow:hidden;
}
.home .act-slider ul li{
    width:19.8%;
    height:100%;
    margin-left:0.2%;
    background:#fff;
    float:left;
    padding-top: 217px;
    position:relative;
    box-sizing:border-box;
    -moz-box-sizing: border-box;
    overflow:hidden;
}
.home .act-slider ul li:hover .img-container{
    transform:scale(1.03);
}
.home .act-slider ul li .img-container{
    width:217px;
    height:217px;
    display:block;
    position:absolute;
    left:0px;
    top:0px;
}
.act-slider ul li .img-container img{
    max-width:100%;
    max-height:100%;
}
.act-slider ul li .act-info{
    padding:10px;
    line-height:24px;

}
.act-slider ul li .act-info h2{
    white-space:nowrap;
    text-overflow:ellipsis;
    overflow:hidden;
    font-size:14px;
    font-weight:normal;
}
.act-slider ul li .act-info .price{
    color:#999;
}
.act-slider ul li .act-info .price .min-price{
    color:#ff6700;
    font-size:16px;
    font-weight:bold;
}
.act-slider ul li .act-info .bar-time{
    background:#ff6700;
    color:#fff;
    border-radius:12px;
    text-align:center;
}
/*活动样式  end*/


/*=================
    晒单 begin
==================*/



.module-soo{
   width:100%;
    margin-top:20px;
    overflow: hidden;
    position: relative;
}
.module-soo,.module-soo *{
    box-sizing:border-box;
}
.module-soo .md-top{
    line-height: 40px;
    overflow:hidden;
}
.module-soo .md-top h2{
    float: left;
    font-size:18px;
    font-weight:500;
    position: relative;
}
.module-soo .md-top h2:before{
    display: block;
    content: '';
    width:32px;
    height:32px;
    background: url(../res/icon/icon_camera.png);
    position: relative;
    top:4px;
    float: left;
    margin-right:10px;

}
.module-soo .md-top span{
    margin-left: 10px;
    font-size:14px;
}
.module-soo .md-top .more{
    float: right;
    font-size: 12px;
    color:#999;
    font-family: '宋体';
    position:relative;
   padding-right:20px;
}
.module-soo .md-top .more span{

    position: absolute;
    display: block;
    content: '+';
    width: 15px;
    height: 15px;
    left: 0px;
    background: #aaa;
    top: 13px;
    left: 15px;
    line-height: 15px;
    text-align: center;
    color: #f1f1f1;
    font-size: 24px;
    transition:all .3s;
}
.module-soo .md-top .more:hover{
    color:#ED9C05;
}
.module-soo .md-top .more:hover span{
    background:#ED9C05;
}
.module-soo .soo-slider-box{
    width:500%;
    background: #fff;
    overflow-y:hidden;
    overflow-x:auto;
    position: relative;
    left:0px;
    top:0px;
}
.module-soo .soo-slider-box ul{
    width:20%;
    height:320px;
    padding:20px 0px 20px 0px;
    float:left;
    overflow: hidden;
}
.module-soo .li-soo{
    height:100%;
    width:50%;
    padding:0px 20px 0px 20px;
    float: left;
}
.module-soo .li-soo:first-child{
    border-right:1px solid #eee;
}
.module-soo .soo-shower{
    padding-left: 70px;
    padding-top: 10px;
    position: relative;
    min-height:60px;
    margin-bottom:20px;
}
.module-soo .soo-shower img{
    width:60px;
    height:60px;
    border-radius:50%;
    position: absolute;
    left:0px;
    top:0px;
}
.module-soo .describe{
    height:22px;
    line-height:22px;
    overflow:hidden;
    text-overflow:ellipsis;
    margin-bottom:10px;
    white-space: nowrap;
}
.module-soo .nickname{
    font-size:14px;
    color:#000;
}
.module-soo .images{
    width:100%;
    height:190px;
    overflow: hidden;
}
.module-soo .img-adapt{
    width:162px;
    height:162px;
    line-height:162px;
    float: left;
    margin-left:5px;
    overflow:hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border:1px solid #f1f1f1;
}
.module-soo .img-adapt img{
    max-width: inherit;
    max-height:inherit;
    width:100%;
}
.module-soo .soo-disc-card{
    display:block;
    width:70px;
    height:20px;
    background: url(../res/icon/zhekouka.png) no-repeat;
    background-size:100%;
    margin-right:15px;
    line-height:18px;
    text-align: center;
    color:#fff;
}
.module-soo .soo-shower p{
    margin-bottom:8px;
}
.module-soo .item-name{
    color: #8ECA3F;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 352px;
}
.module-soo .btn-prev,.module-soo .btn-next{
    display:none;
    width:30px;
    height:60px;
    background-color: rgba(0,0,0,0.3);
    position: absolute;
    top:180px;
    left:0px;
    cursor: pointer;
}
.module-soo:hover .btn-prev,.module-soo:hover .btn-next{
    display: block;
}
.module-soo .btn-prev:hover,.module-soo .btn-next:hover{
    background-color: rgba(0,0,0,0.5);
}
.module-soo .btn-prev{
    background-image:url(../res/icon/icon_prev.png);
    background-repeat:no-repeat;
    background-position: 2px 15px;
}
.module-soo .btn-next{
    left:100%;
    margin-left:-30px;
    text-align: center;
    background-image:url(../res/icon/icon_next.png);
    background-repeat:no-repeat;
    background-position: 2px 15px;
}
/*晒单  end*/


/*==============
 幸运播报

=============*/
.lucky-bro{
    padding-left: 180px;
    position: relative;
    font-size:14px;
}

.lucky-bro .avatar{
    width:40px;
    height:40px;
    border-radius:50%;
    border:1px solid #eee;
    position: absolute;
    left:5px;
    top:10px;
}
.lucky-bro{
    width:100%;
    height:60px;
    background:#fff;
    margin-top:20px;
    overflow: hidden;
}
.lucky-bro,.lucky-bro *{
    box-sizing: border-box;
}
.lucky-bro-title{
    width:150px;
    height:30px;
    border-right:1px dashed #eee;
    position: absolute;
    left:0px;
    top:15px;
    background: url(../res/images/bro_title.png) 30px 0px no-repeat;
}
.lucky-bro ul{
    position: relative;
}
.lucky-bro .user h2{

    overflow: hidden;
    text-overflow:ellipsis;
    font-weight:500;
    color:#333;
    font-size:16px;
}
.lucky-bro ul li{
    width:100%;
    height:60px;
    padding-left:65px;
    position: absolute;
    left:0px;
    background: #fff;
    z-index: 2;
}
.lucky-bro .td1{
    height:100%;
    overflow: hidden;
    line-height:60px;
    width:100px;
}
.lucky-bro .td2{
    width:500px;
    height:100%;
    text-align: center;
    line-height:60px;
    padding:0px 10px 0px 10px;
}
.lucky-bro .td2 .inner{
    width:100%;
    margin:0 auto;
    overflow: hidden;
    display: inline-block;
    white-space: nowrap;
    text-overflow: ellipsis;
    color:#8ECA3F;
}
.lucky-bro .item-name{
    color:#8ECA3F;
}
.lucky-bro .td3{
    height:100%;
    text-align: center;
    line-height:60px;
    padding:0px 10px 0px 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow:ellipsis;
    width:250px;
    color:#4095CF;
    font-size:14px;
}

.lucky-bro .disc-card {
    display: block;
    width: 85px;
    height: 24px;
    background: url(../res/icon/zhekouka.png) no-repeat;
    background-size: 100% 100%;
    line-height: 24px;
    position: relative;
    top: 17px;
    margin:0 auto;
    color:#fff;
}
.modal-download-app{
    width:408px;
    height:408px;
    position: absolute;
    left:50%;
    top:50%;
    margin-left:-204px;
    margin-top:-204px;
    animation:modalShow .3s;
    background-color:#fff;
    background: url(../res/images/freeShopping/pc_tc.png) no-repeat;
}
.modal-download-app .btn-close{
    width: 182px;
    height: 47px;
    position: absolute;
    left: 116px;
    top: 334px;
    border: 2px solid transparent;
    cursor: pointer;
}


.modal-firstAccess{
    width:100%;
    height:100%;
    text-align: center;
/*    background: url(../res/images/firstAccess/first.jpg) no-repeat;
    background-position:50% 50% ;*/
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-y:auto ;
}
.modal-firstAccess .modal-content{
    width:492px;
    height:791px;
    position: relative;
    left:0px;
    top:0px;
}
.modal-firstAccess .btn-close{
    width: 50px;
    height:50px;
    position:absolute;
    left:100%;
    top:0px;
    margin-left:-50px;
    cursor: pointer;
}
.modal-firstAccess .btn-link{
    display: block;
    width: 100px;
    height: 25px;
    position: absolute;
    left: 100%;
    margin-left: -155px;
    top: 50%;
    margin-top: -86px;
}




/*=================
    freeShopping begin
==================*/
.md-fs{
    width:100%;
    height:380px;
    overflow: hidden;
    margin-top:20px;
    box-sizing: border-box;
    overflow: hidden;
}
.md-fs *{
    box-sizing: border-box;
}
.md-fs .md-top{
    line-height: 40px;
    overflow: hidden;
}
.md-fs .md-top h2{
    float: left;
    font-size: 18px;
    font-weight: 500;
    position: relative;
}
.md-fs .md-top h2 span{
    font-size:14px;
    margin-left:10px;
}
.md-fs .md-top h2:before{
    display: block;
    content: '';
    width: 32px;
    height: 32px;
    background: url(../res/icon/icon_fs_play.png);
    position: relative;
    top: 4px;
    float: left;
    margin-right: 10px;
}
.md-fs .bar-progress{
    margin:10px auto 10px auto;
    font-size: 12px;
    color:#999;
}
.md-fs .progress{
    width:100%;
    height:7px;
    background: #ddd;
    border-radius:10px;
    overflow: hidden;
}
.md-fs .progress .progress-val{
    height:100%;
    background: #FFBF27;
}
.md-fs .bar-time-down{
    line-height: 30px;
    position: absolute;
    left: 0px;
    top: 0px;
    color: #fff;
    width: 100%;
    text-align: center;

}
.md-fs .bar-time-down p{
    display: inline-block;
    padding:0px 10px;
    background: rgba(239, 232, 232, 0.3);
    color:#666;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}
.md-fs ul{
    min-width:1100px;
    height:340px;
    background:#fff;
    position: relative;
    left:0px;
    top:0px;
    overflow: hidden;
}
.md-fs ul li{
    width:220px;
    height:100%;
    border-left:1px solid #f1f1f1;
    padding:220px 15px 15px 15px;
    float:left;
    position: relative;
}
.md-fs ul li .hidden-qrcode{
    width:100%;
    height:100%;
    position: absolute;
    left:0px;
    top:320px;
    z-index: 2;
    background: rgba(0,0,0,.7);
    text-align: center;
    transition:all .5s;
    opacity:0;
    /*display: none;*/
}
.md-fs ul li:hover .hidden-qrcode{
    display: block;
    top:0px;
    opacity:1;
}
.md-fs ul li .hidden-qrcode img{
    width:80%;
    margin-top:25px;
}
.md-fs ul li .hidden-qrcode p{
    font-size: 14px;
    color: #E2AD0F;
    padding: 20px 65px;
    line-height: 25px;
}
.md-fs .img-adapt{
    width:220px;
    height:220px;
    position: absolute;
    left:0px;
    top:0px;
    display: table-caption;
    line-height: 220px;
    text-align: center;
}
.md-fs .img-adapt img{
    max-width: 100%;
    max-height: 100%;
    vertical-align: middle;
}
.md-fs  ul li h2{
    line-height:40px;
    margin-bottom:-10px;
    font-weight:500;
    font-size:14px;
}
.md-fs .bar-time{
    margin-top:5px;
    width:100%;
    height:30px;
    border:1px solid #FF2424;
    line-height: 18px;
    border-radius:20px;
    overflow: hidden;
}
.md-fs .bar-time .item{
    width:50%;
    text-align: center;
    color:#FF2424;
    overflow: hidden;
    padding:5px;
}
.md-fs .bar-time .item:last-child{
    background: #FF2424;
    color:#fff;
}
/*
freeShopping end*/
