/*==============
 *商品详情begin
===============*/
.G-details{
    margin-top:15px;
}
.G-details .loading{
    position:fixed;
    left:50%;
    top:50%;
    margin-left:-32px;
    margin-top:-64px;
    z-index:999;
}
.G-details .page-location a{
    color:#999;
}
.G-details .page-location a:nth-child(n+2){
    cursor:pointer;
}
.G-details .page-location a:nth-child(n+2):hover{
    color:#666;
}
.G-details .page-location a:last-child:after{
    content:'';
}
.box-goodsDetails{
    margin-top:15px;

    background:#fff;
    padding-left:500px;
    position:relative;
}
.box-goods-img{
    width:460px;
    padding:20px;
    position:absolute;
    left:0px;
    top:0px;
}
.box-goods-img .big-goods-img{
    width:460px;
    height:460px;
    overflow:hidden;
    position:relative;
}
.box-goods-img .big-goods-img .img-so{
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 10;
    max-width: 100%;
}
.box-goods-img .big-goods-img ul{
    position:relative;
    transition:left 0.3s;
    -ms-transition:left 0.3s;
    -webkit-transition:left 0.3s;
    -o-transition:left 0.3s;
    -moz-transition:left 0.3s;
    overflow:hidden;
}
.box-goods-img .big-goods-img li{
    display:table-caption;
    width: 460px;
    height: 460px;
    text-align:center;
    overflow:hidden;
    line-height:460px;
    float:left;
}
.big-goods-img .big-img{
    vertical-align:middle;
    min-height:100px;
    min-width:100px;
    max-width:100%;
    max-height:100%;
    line-height:530px;
}
.G-details .prev-img{
    display:block;
    width:20px;
    height:75px;
    background:url(../res/icon/icon_prev.png) 2px 30px no-repeat;
    background-color:rgba(0,0,0,0.1);
    background-size:80%;
    cursor:pointer;
    position:absolute;
    left:0px;
    top:228px;
}
.G-details .next-img{
    display:block;
    width:20px;
    height:75px;
    background:url(../res/icon/icon_next.png) 2px 30px no-repeat;
    background-color:rgba(0,0,0,0.1);
    cursor:pointer;
    background-size:80%;
    position:absolute;
    left:480px;
    top:228px;
}
.G-details .prev-img:hover,.G-details .next-img:hover{
    background-color:rgba(0,0,0,0.3);
}
.small-goods-img{
    margin-top:25px;
    width:410px;
    height:80px;
    position:relative;
    text-align:center;
}
.small-goods-img ul{
    min-width:100%;
    /*display:inline-block;*/
    position:absolute;
    left:0px;
    top:0px;
    overflow:hidden;
    text-align:left;
}
.small-goods-img li:first-child{ margin-left:0 !important;}
.small-goods-img li{
    margin-left:10px;
    width:64px;
    height:64px;
    line-height:78px;
    border:1px solid #eaeaea;
    padding:4px;
    background:#fff;
    position:relative;

    top:0px;
    display:inline-block;
    overflow:hidden;
    cursor:pointer;
    position: relative;
}
.small-goods-img li img{
    max-width:100%;
    max-height:100%;
    z-index:-1;
}
.small-goods-img li:hover{
    border-color:#ff9900;
}
.small-goods-img li.cur{
    border-color:#ff6700;
}
.G-details .pro-info{
    min-height:560px;
    border-left:1px solid #e5e5e5;
    padding:20px 30px 40px 30px;
    overflow:hidden;
    position:relative;
}
.G-details .pro-property{
   /* width:100%;*/
    padding-left:20px;
    margin-left:-20px;
    border-radius:1px;
    border:1px solid transparent;
    position:relative;
	margin-top:20px;
}
.G-details .pro-property .tips{
    position:absolute;
    top:0px;
    line-height:36px;
    color:#ff4400;
    font-weight:500;
    display:none;
}
.G-details .pro-property.unFinish{
    padding-top: 40px;
    background:#fff;
    border-radius: 2px;
    margin-bottom: 10px;
    border-color:#ff3300;
    border-width:2px;
}
.G-details .pro-property.unFinish .tips{
    display:block;
}
.pro-info h1{
    max-width: 98%;
    font-size: 20px;
    margin-bottom: 10px;
    max-height: 50px;
    line-height: 25px;
    overflow: hidden;
    text-overflow: clip;
    color: #333;
}
.pro-info small{
    display:block;
    color:#ff6700;
    max-height:36px;
    line-height:18px;
    overflow:hidden;
    margin-bottom:10px;
}
.pro-info .bar-time{
    display:inline-block;
    background:#f1f1f1;
    padding:3px 10px;
    overflow:hidden;
}
.pro-info .bar-time p:before{
    content: '';
    width:16px;
    height:16px;
    background:url(../res/icon/icon_time_s.png) no-repeat;
    margin-right:5px;
    position: relative;
    top:1px;
    float:left;
}
.pro-info .bar-time p{
	color:#999;
    float:left;
}
.pro-info .bar-time p span{
	color:#333;
	}
.pro-price{
    padding:24px 0px;
    padding-top:15px;
    position:relative;

}
.pro-price .real-price:before{
    content:'￥';
    color:#ff6700;
    font-size:24px;
}
.pro-price .real-price{
    font-size:36px;
    color:#ff6700;
}
.pro-info .icon-discount{
    margin-left:15px;
    min-width:40px;
    height:20px;
    position:relative;
    left:2px;
    top:-6px;
    text-align:center;
    border-top-right-radius:3px;
    border-bottom-right-radius:3px;
    font-size:12px;
}
.pro-info .icon-discount:before{
    border-width:10px;
    left:-10px;
}
.pro-info .bar-o-p{
    line-height:24px;
}
.pro-price .old-price{

    text-decoration:line-through;
    color:#999;
    position:relative;

}
.pro-property{
    margin-bottom:0px;
}
.pro-property li{
    margin-bottom:24px;
    padding-left:66px;
    position: relative;
}
.pro-property li label{
    color:#666;
	width:66px;
	text-align:left;
    position:absolute;
    line-height:50px;
    left:0px;
    top:0px;
    margin-left:10px;
}
.pro-property li p{

}
.pro-property li p a{
    box-sizing: border-box;
    margin-left:12px;
    margin-top:10px;
    display:inline-block;
    min-width:106px;
    height:36px;
    padding:0px 10px;
    line-height:34px;
    border:1px solid #d6d6d6;
    text-align:center;
    position:relative;
    left:-12px;
    cursor:pointer;
    transition:line-height 0s,border-color .3s,background-color .3s;
}
.pro-property li p a:hover{
    border-color:#ff6700;
    color:#333;
}
.pro-property li p a.cur{
    border-color:#ff6700;
    border-width:2px;
    position:relative;
    line-height: 32px;
}
.pro-property li p a.cur:after{
    content:'';
    color:#fff;
    width:32px;
    height:32px;
    position:absolute;
    left:100%;
    top:10px;
    margin-left:-23px;
    background:url(../res/icon/icon_ck.png) no-repeat;
    background-size:75%;
}
.bar-amount{
    overflow: hidden;
}
.bar-amount label{
    display:block;
	float:left;
    color:#666;
    margin-bottom:8px;
	margin-top:10px;
   text-indent:10px;
	width:66px;
}
.bar-amount .div-btn{ 
float:left;
}
.bar-amount .btn-add,.bar-amount .btn-reduce,.bar-amount input{
    display:block;
    width:36px;
    height:36px;
    border:1px solid #cecece;
    overflow:hidden;
    text-align:center;
    line-height:36px;
    float:left;
    font-size:18px;
    color:#a3a3a3;
}
.pro-property li p a.disabled{
    border-color: #eee;
    color: #999;
    background: #f9f9f9;
    border-style: dashed;
}
.bar-amount .btn-reduce{
    border-left:1px solid #cecece;
}
.bar-amount p{
    float:left;
    line-height:36px;
    margin-left:20px;
}
.bar-amount p span{
    color: #ff3300;
    font-size: 13px;
}
.bar-amount input{
    border-left:none;
    border-right:none;
    padding:0px 10px;
    margin:0px;
    outline:none;
    font-size:16px;
    color:#333;
    background:#fff;
}
.bar-amount .btn-add:hover,.bar-amount .btn-reduce:hover{
    color:#ff6700;
    cursor:pointer;
    border-color:#ff6700;
}
.pro-info .bar-btn{
    margin-left:66px;
    margin-top:56px;
    margin-bottom:40px;
}
.pro-info .bar-btn .btn-add{
    background:#fff;
    border-color:#ddd;
}
.pro-info .bar-btn input,.pro-info .bar-btn a{
    display:inline-block;
    width:160px;
    height:46px;
    cursor:pointer;
    font-size:18px;
    text-align:center;
    outline:none;
}
.pro-info .bar-btn a {
    line-height: 46px;
}
.pro-info .bar-btn input.btn-buy{
    background:#ff6700;
    border:none;
    color:#fff;
}
.pro-info .bar-btn input,.pro-info .bar-btn a.btn-enterAct{
 background:#d0170e;
    color:#fff;
}
.pro-info .bar-btn input,.pro-info .bar-btn a.btn-enterAct:hover{
    background:#a70901;
}
.pro-info .bar-btn .btn-playGame{
    display:inline-block;
    color:#fff;
    background:#F79D00;
    border:none;
    margin-right:15px;
}
.pro-info .bar-btn .btn-playGame:hover{
    background:#F78D00;
}
.pro-info .bar-btn input.btn-buy:hover{
    background:#ff4700;
}
.pro-info .bar-btn input.btn-add{
    background:none;
    border:1px solid #858585;
    margin-left:0px;
	color: #464646;
}

.pro-info .bar-btn input.btn-add:hover{
    color:#ff3300;
    border-color:#ff3300;
}

.pro-info .bar-btn .btn-playGame.disabled,.pro-info .bar-btn .btn-buy.disabled,.pro-info .bar-btn .btn-add.disabled{
    background:#ccc !important;
    color:#fff !important;
    border-color:transparent!important;
}
.box-proIntro{
    margin-top:20px;
    overflow:hidden;
    background:#fff;
    position:relative;
}
.box-proIntro.tabs .tab-item span:first-child{
    padding:0px 56px;
}
.box-proIntro.tabs .tab-item span:last-child.cur{
    border-right:1px solid #eaeaea;
}
.box-proIntro .tab-content{
    padding:20px;
    min-height:600px;
}
.box-proIntro .tab-content .pro-explain{
    padding:26px 25px;
    overflow:hidden;
}
.box-proIntro .tab-content .pro-explain li{
    margin-left:3%;
    width:30%;
    line-height:30px;
    float:left;
    white-space: nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    color:#585858;
    position:relative;
    left:-3%;
}
.G-details .box-pro-show{
    min-height:10px;
}
.pro-showing-images{
   text-align:center;
    overflow:hidden;
}
.pro-showing-images img{
    max-width:100%;
    display: block;
    margin: 0 auto;
}
.tag-free-played{
    width: 0px;
    height: 0px;
    border-top: 40px solid #ff6700;
    border-right: 40px solid #ff6700;
    border-bottom: 40px solid transparent;
    border-left: 40px solid transparent;
    position: absolute;
    left: 100%;
    top: -2px;
    margin-left: -79px;
    opacity: 0.8;
}
.tag-free-played span{
    display: block;
    width: 50px;
    position: relative;
    left: -7px;
    top: -25px;
    color: #fff;
    font-size: 16px;
    transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
/*商品详情end*/



/*
.box-price-slider{
    width:100px;
    height:20px;
    border:1px solid #ddd;
    line-height:20px;
    text-align:center;
    background:#fff;
    border-radius:2px;
    position:relative;
   */
/* overflow:hidden;*//*

}
.box-price-slider ul{
    transition:top 1s;
    position:absolute;
    left:0px;
}
.box-slider-container{
    width:120px;
    height:20px;
    position:relative;
}
.box-slider-container:after{
    content:'';
    display:block;
    border:11px solid transparent;;
    border-left-color:#ccc;
    position:absolute;
    left:100px;
    top:0px;
}
.box-slider-container:before{
    content:'';
    display:block;
    border:11px solid transparent;;
    border-left-color:#fff;
    position:absolute;
    left:99px;
    top:0px;
    z-index: 2;
}*/

.box-prices{
    background: #F5F5F5;
    padding: 15px 23px;
    padding-right: 10px;
    height: 66px;
}
.box-prices .item-price{
    height:66px;
    box-sizing:border-box;
    padding-left:50px;
    position: relative;
}
.box-prices .item-price1{
    width:50%;
}
.box-prices .item-price2{
    width:50%;
    padding-left:30px;
    padding-right:30px;
}
.box-prices .item-price2 p{
    margin-bottom:5px;
}
.box-prices .number-slider{
    overflow: hidden;
}
.box-prices .number-slider .prices-slider{
    float:left;
    margin-top:10px;
}
.box-prices .explain{
    padding-left:55px;
    margin-top:-15px;
}
.number-slider .prices-slider li{
    width: 20px;
    height: 32px;
    background: #FB2834;
    color: #fff;
    border-radius: 3px;
    float: left;
    text-align: center;
    line-height: 32px;
    font-size: 32px;
    margin-left: 2px;
    position: relative;
    left: -1px;
    overflow: hidden;
}
.number-slider .prices-slider.free{
    width: 50px;
    height: 32px;
    background: #FB2834;
    font-size: 20px;
    text-align: center;
    line-height: 32px;
    color: #fff;
    border-radius: 4px;
}
.number-slider .prices-slider li .item-slider{
    position:relative;
    top:-1900%;
    font-family:SimHei;
 /*   transition:top 0.3s;
    -webkit-transition:top 0.3s;
    -moz-transition:top 0.3s;
    -o-transition:top 0.3s;
    -ms-transition:top 0.3s;
    -ms-transition:top 0.3s;*/
}
.number-slider .item-num{
    height:45px;
}
.number-slider .unit{
    float:left;
    font-size:24px;
    color:#FB2834;
    position:relative;
    top:15px;
}
.number-slider label{
    position: absolute;
    left:0px;
    top:0px;
    line-height:66px;
}
.item-price .org-price{
    font-size:36px;
    color:#FB2834;
    line-height:56px;
}
.item-price .img-get-disc{
    float: left;
    width:64px;
    height:32px;
    background:url(../res/images/img_getdisc.png);
    position: relative;
    top:10px;
    margin-left:10px;
}
.number-slider .discount-slider{
    float:left;
    width:50px;
    height:18px;
    font-size:12px;
    color:#fff;
    background:#EDAB3A;
    text-align:center;
    position:relative;
    top:24px;
    left:2px;
}
.number-slider .discount-slider:before{
    /*content:'';
    border:9px solid transparent;
    border-right-color:#EDAB3A;
    position:absolute;
    left:-18px;*/
}
.number-slider .item-overlay{
    display:block;
    position:absolute;
    width: 100%;
    height:45px;
    left:0px;
    top:0px;
    z-index:10;
    background:#FB2834;
}
.item-ranking-table{
    width:100%;
    margin:0 auto;
    text-align:center;
    border-collapse:collapse;
    font-size:14px;
}
.item-ranking-table .tr-th{
    background:#f1f1f1;
}
.item-ranking-table .tr-th th{
    font-size:12px;
    font-weight:normal;
}
.item-ranking-table tr{
    border-bottom:1px solid #eee;
    line-height:70px;
}
.item-ranking-table tr:first-child{
    line-height:40px;
}
.item-ranking-table tr:last-child,.item-ranking-table tr:first-child{
    border-bottom:none;
}
.item-ranking-table .top{
    display:inline-block;
    width:48px;
    height:48px;
    text-align:center;
    line-height:35px;
    border-radius:50%;
    color:#999;
    font-size:18px;
}
.item-ranking-table .top.top1,.item-ranking-table .top.top2,.item-ranking-table .top.top3{
    color:#fff;
    line-height:44px;
    font-size:16px;
}
.item-ranking-table .top.top1{
    background:url(../res/icon/icon_ranking.png) 1px 0px no-repeat;
    background-size:300%;

}
.item-ranking-table .top.top2{
    background:url(../res/icon/icon_ranking.png) -46px 0px no-repeat;
    background-size:300%;

}
.item-ranking-table .top.top3{
    background:url(../res/icon/icon_ranking.png) -98px 0px no-repeat;
    background-size:300%;
}
.item-ranking-table .icon-discount{
    background:#ecab3b;
    border-top-right-radius:3px;
    border-bottom-right-radius:3px;
}
.item-ranking-table .icon-discount:before{
    border-right-color:#ecab3b!important;
}
.item-ranking-table .final-price{
    font-size:16px;
}
.box-compare-price {
    position:relative;
    width:120px;
    margin-right:10px;
    border-top:2px solid transparent;
    z-index: 20;
}
.box-compare-price  .tt{
    background: #EDAB3A;
    text-align:center;
    color:#fff;
    height:20px;
    line-height:20px;
    cursor: pointer;
    text-indent: -8px;
    border:1px solid transparent;
}
.box-compare-price ul{
    display:none;
    background: #fff;
    width:150%;
    border:1px solid transparent;
    position:relative;
    top:-1px;
}
.box-compare-price ul li{
    padding:0px 10px;
    line-height:24px;
    overflow:hidden;
}
.box-compare-price ul li a{
    display: block;
    width: 100%;
    height: 100%;
    cursor: pointer;
    overflow:hidden;
}
.box-compare-price ul li a:hover{
    color:#333;
}
.box-compare-price ul li label{
    max-width: 100px;
    float: left;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.box-compare-price ul li span{
    float: right;
}
.box-compare-price:hover{
    border-top-color:#EDAB3A;
    background-color: #fff;
}
.box-compare-price:hover .tt{
    background: #fff;
    color:#EDAB3A;
    position: relative;
    border-left-color: #ddd;
    border-right-color: #ddd;
    position:relative;
    z-index:2;
}
.box-compare-price li:hover{
    background: #f0f0f0;
}
.box-compare-price:hover .icon-arr-d{
    display: none;
}
.box-compare-price .icon-arr-d{
    position: absolute;
    left:80%;
    top:8px;
    border:5px solid transparent;
    border-top-color: #fff;
}
.box-compare-price .icon-arr-d:before{
    content:'';
    display: block;
    position:absolute;
    left:-5px;
    top:-6px;
    border:5px solid transparent;
    border-top-color: #EDAB3A;
}
.box-compare-price:hover ul{
    display:block;
    border-color: #ddd;
    position:relative;
    z-index:1;
}

.G-details .bar-reference,.G-details .bar-reference *{
    box-sizing:border-box;
}
.G-details .bar-reference{
    height:40px;
    position:relative;
    line-height:40px;
}
.G-details .bar-reference label{
    position: absolute;
    left:10px;
    color:#999;
    z-index:2;
}
.G-details .bar-reference ul{
    width:100%;
    padding-left: 80px;
    height: 40px;
    overflow: hidden;
    position: absolute;
    left: 0px;
    background-color: #fff;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    line-height: 40px;
    z-index:1;
}
.G-details .bar-reference ul:hover{
    border: 2px dashed #FB2834;
    height:auto;
    padding-bottom: 20px;
}
.G-details .bar-reference ul li{
    padding:0px 5px;
    float: left;
    width:25%;
    white-space: nowrap;
}
.G-details .bar-reference ul li a{
    color:#333;
}
.G-details .bar-reference em{
    color:#FB2834;
    font-style:normal;
    font-size: 13px;
}
.G-details .pro-info .ul-svc{
   width:100%;
    box-sizing: border-box;
    height:40px;
   padding:0px 30px;
    overflow:hidden;
    position:absolute;
    left:0px;
    top:100%;
    margin-top:-40px;
}
.G-details .pro-info .ul-svc li{
    box-sizing: border-box;
    border-top:1px dashed #eee;
    width:33.33333%;
    line-height:36px;
    padding-left:40px;
    float:left;
    color:#666;
    position: relative;
}
.G-details .pro-info .ul-svc li:before{
    content: '';
    display: block;
    width:19px;
    height:19px;
    position:absolute;
    left:10px;
    top:10px;
}
.G-details .pro-info .ul-svc li:nth-child(1):before{
    background:url(../res/icon/item_svc.png) 0px -1px no-repeat;
}
.G-details .pro-info .ul-svc li:nth-child(2):before{
    background:url(../res/icon/item_svc.png) 0px -23px no-repeat;
}
.G-details .pro-info .ul-svc li:nth-child(3):before{
    background:url(../res/icon/item_svc.png) 0px -46px no-repeat;
}









