/*==============
 *列表 begin
===============*/
.list{
    margin-bottom:20px;
    overflow:hidden;
    min-height:800px;
}
.banner-s{
    width:1200px;
    margin-bottom:24px;
    height:380px;
    background:#fff;
}
.banner-s a img{
    width:100%;
    height:100%;
}
.list .pro-list-top{
    height:50px;
    line-height:50px;
    padding:0px 20px;
    color:#333;
    background:#fff;
    position:relative;
}
.list .pro-list-top h3,.list .pro-list-top .label-condition{
    display:inline-block;
    margin-right:20px;
    margin-left:20px;
    font-weight:normal;
}
.pro-list-top p{
    display:inline-block;
}
.pro-list-top  .pull-right{
    color:#666;
}

.pro-list-top .arrow{
    margin-left:15px;
    margin-right:15px;
    font-family:"新宋体","Microsoft YaHei";
    font-size:16px;
}
.pro-list-top .btn:hover{
    color:#ff6700;
}
.pro-list-top .btn:last-child{
    margin-right:0px;
}
.list .pro-list-top span {
 cursor:pointer;
}
.icon-db-arrow{
    display:block;
    border:5px solid transparent;
    position:absolute;
    left:150px;
    top:15px;
    cursor:pointer;
}
.icon-db-arrow.up{
    border-bottom-color:#999;
}
.icon-db-arrow.down{
    border-top-color:#999;
    top:27px;
}
.icon-db-arrow.up.cur{
    border-bottom-color:#FF6700;
}
.icon-db-arrow.down.cur{
    border-top-color:#FF6700;
}

.list .pro-list-cont{
    width:100%;
    overflow:hidden;
    position:relative;
}
.list .pro-list-cont li{
    width:238px;
    height:86px;
    padding-top:238px;
    background:#fff;
    float:left;
    margin-left:15px;
    margin-top:15px;
    position:relative;
    top:0px;
	transition:all .3s;
	-webkit-transition:all .3s;
	-moz-transition:all .3s;
	-o-transition:all .3s;
}
.list .pro-list-cont .a-goodsImg{
    display:table-caption;
    width:238px;
    height:238px;

    position:absolute;
    left:0px;
    top:0px;
    overflow:hidden;
    text-align:center;
}
.a-goodsImg img{
    /*opacity:1;*/
}
.a-goodsImg img:hover{
   /* opacity:0.8;*/
}
.list .pro-list-cont .a-goodsImg img{
	transition:all .3s;
	-webkit-transition:all .3s;
	-moz-transition:all .3s;
	-o-transition:all .3s;
   max-width:100%;
   max-height:100%;
    vertical-align:middle;
}
.list .pro-list-cont li:first-child{
    margin-left:0px;
}
.list .pro-list-cont li:nth-child(4n+1){
    margin-left:0px;
}
.list .pro-list-cont li:nth-child(4n){
    margin-left:17px;
}
.list .pro-list-cont li:hover{
    transition:top 0.3s;
   top: -5px;
}
.list .pro-list-cont li:hover img{
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-o-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1);
	}
.list .goods-info{
    padding:15px 10px;
    height:46px;
    overflow:hidden;
    position:relative;
}
.list .goods-info h2{
    margin-bottom:10px;
    font-weight:normal;
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
}
.list .goods-info .price{
    color:#ff6700;
    font-size:18px;
    position:relative;
}
.list .goods-info .price .final-price{
    font-size:24px;
}
.list .goods-info .old-price{
    color:#999;
    font-size:12px;
    text-decoration:line-through;
    margin-left:0px;
}
.list .icon-discount{
    width: 45px;
    height: 18px;
    line-height: 18px;
    position: absolute;
    left: 100%;
    top: 6px;
    font-size: 12px;
    margin-left: -60px;
}
.list .icon-discount:before{
    border-width:9px;
    left:-9px;
}
.list .icon-discount:after{
    top:8px;
}
.list .filters{
    background:#fff;
    padding:20px;
    padding-top:10px;
    padding-bottom:0px;
    margin:10px 0px;
    position: relative;
   /* margin-top:50px;*/
}
.list .filters .category-name{
    cursor:pointer;
}
.list .ctr-choice{
    overflow:hidden;
}
.list .page-location{
    float:left;
    line-height:24px;
    margin-bottom: 4px;
}
.list .page-location a{
    color:#999;
}
.list .page-location a.cur:after {
    content:'>';
}
.list .filters h5{
    font-weight:normal;
    color:#666;
}
.filters ul li:first-child{ padding-top:15px;}
.filters ul li{
    padding: 8px 0px;
    position: relative;
}

.filters ul li p.show-a-part{
    max-height:50px;
    overflow:hidden;
}


.filters ul li:last-child{
    padding-bottom:10px;
}
.filters ul{
    border-top:1px solid #eee;
}
.filters ul .btn-multi,.filters ul .btn-more{
    border:1px solid #ddd;
    background:none;
    outline:none;
    cursor:pointer;
    color:#aaa;
    font-size:12px;
    vertical-align:top;
    position: absolute;
    left: 93.3%;
    top: 12px;
}
.filters ul .btn-more{
    border:none;
    width: 42px;
    left: 96.5%;
    top: 12px;
    margin-left:10px;
}
.filters ul .btn-multi:hover{
    color:#666;
    border-color:#aaa;
}
.filters ul li:hover{
    background:#fcfcfc;
}
.filters ul li span{
    display:inline-block;
    width:100px;
    text-align:right;
    color:#888;
    font-size:13px;
    font-weight:500;
    vertical-align:top;
    line-height:22px;
}
.filters ul li p{
    display:inline-block;
    width: 82%;
    line-height:18px;
}
.filters ul li p.show-a-part-items{
    max-height:30px;
    overflow:hidden;
}
.filters ul li a{
    display:inline-block;
    margin-left:20px;
    margin-bottom:8px;
    border:1px solid transparent;
    padding:1px 8px;
    color:#B16B33;
    font-size:12px;
    font-weight:500;
    cursor:pointer;
    white-space:nowrap;
    position:relative;
}
.filters li .icon-remove{
    background:#ff6700;
    color:#fff;
    position:absolute;
    left:0px;
    top:0px;
}
.filters ul li a.cur{
    color: #fff;
    background: #ff542b;
    font-size:12px;
    border-radius: 2px;
}
.filters ul li a.cur:hover{
    color:#fff;
}
.filters .choices{
    display:inline-block;
    border:1px solid #eee;
    padding:2px 10px;
    padding-right:10px;
    margin-left:10px;
    font-size:12px;
    color:#999;
    position:relative;
    max-width: 120px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 15px;
    margin-bottom: 4px;
}
.filters .choices a{
    color:#999;
 }

.filters .choices .icon-delete{
    font-size: 14px;
    cursor: pointer;
    position: absolute;
    left: 100%;
    top: 0px;
    margin-left: -18px;
    display: block;
    width: 20px;
    height: 20px;
    text-align: center;
}
.filters .choices .icon-delete:hover{
    color:#ff0000;
 }

.filters .choices:hover{
    border-color:#ff6700;
    color:#ff6700;
}
.filters .choices:hover a{
     color:#ff6700;
 }

.filters .box-multi-select{
    display:inline-block;
    width:84%;
    border:1px solid #ddd;
    padding-top: 10px;
    background:#fff;
}
.filters .box-multi-select .bar-buttons{
    text-align:center;
    margin-top:10px;
    margin-bottom:10px;
}
.filters .box-multi-select .bar-buttons button{
    margin-right:20px;
    cursor:pointer;
    background:#fcfcfc;
    border:1px solid #aaa;
    font-size:12px;
    color:#666;
}
.list .loading-tips{
    margin-top:200px;
}
.category-menu{
    width:75px;
    background:#fff;
    box-sizing:border-box;
    text-align: center;
    border:1px solid #ddd;
    position:fixed;
    left:50%;
    top:190px;
    margin-left:-585px;
    line-height:40px;
    border-radius:4px;
    transition:opacity 1s;
    -webkit-transition:opacity 0.5s;
    opacity:0;
}
@media screen and (max-width:1400px) {
    .category-menu{
        display:none;
    }
}
.category-menu li:hover{
    background:#ff6700;
}
.category-menu li:hover a{
    color:#fff;
    transition:none;
}
.category-menu li a{
    color:#666;
    display:block;
    width:100%;
    height:100%;
    border-bottom:1px dashed #ddd;
}
.category-menu li:last-child a{
    border-bottom:none;
}
 /*列表 end*/

.list .pro-list-cont li:hover .prices{
    animation:font_jump 1s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    position:relative;
    top:0px;
}
.list .img-so{
    position:absolute;
    left:0px;
    top:0px;
    opacity:1;
    z-index:10;
}
@keyframes font_jump{
    10%{top:-3px; }
    20%{top:0px; }
}
.brand.pro-list-top{
    margin-top:30px;
}