/*==============
 *购物成功 begin
===============*/
.shopping-status-top{
    margin-top:50px;
    overflow:hidden;
}
.shopping-status-top h1{
    font-size:24px;
    font-weight:normal;
    float:left;
    color:#333;
    line-height:40px;
}
.box-status{
    margin-top:33px;
    min-height:567px;
    background:#fff;
    overflow: hidden;
}
.box-status .result-tips{
    margin:0 auto;
    width:350px;
    border-bottom:1px solid #ededed;
    padding:50px 0px;
    padding-left:115px;
    position:relative;
    margin-top:30px;
}
.box-status .result-tips:before{
    display:block;
    content:'';
    width:115px;
    height:115px;
    background:url(../res/icon/icon_sucess.png);
    position:absolute;
    left:-10px;
    top:40px;
}
.box-status .result-tips h1{
    margin-bottom:15px;
    font-size:36px;
    font-weight:normal;
    line-height: 100px;
}
.box-status .result-tips p{
    color:#666;
}
.box-status .simple-info{
    margin-top:33px;
    margin-left:380px;
}
.box-status .simple-info p{
    color:#666;
    margin-bottom:18px;
}
.box-status .buttons{
    margin-top:40px;
    text-align:center;
}
.box-status .buttons .btn{
    display:inline-block;
    width:140px;
    height:40px;
    line-height:40px;
}
.box-status .buttons .btn:nth-child(2){
    margin-left:15px;
}
.box-confirmOrder .part-line{
    width:1200px;
    height:6px;
    background:#fdfdfd;
    margin-left:-20px;
    margin-bottom:20px;
}
/*购物成功 end*/