<div class="box-introduction box-help">
    <div class="protocol_z">
        <h3>幸运猫用户注册协议</h3>
        <p>重要须知：广州幸云至商电子商务有限公司旗下的幸运猫商城（下称“幸运猫”）在此特别提醒您仔细阅读（未成年人应在其法定监护人的陪同下阅读）本《幸运猫商城用户协议》（下称“本协议”）中的各个条款，包括但不限于免除或者限制幸运猫责任的条款、对用户权利进行限制的条款以及约定争议解决方式、司法管辖的条款。您有权选择同意或者不同意本协议。
            如果您通过幸运猫商城（PC端<a href="http://www.xingyunmao.cn">www.xingyunmao.cn</a>，移动端<a href="http://m.xingyunmao.cn">m.xingyunmao.cn</a>）的用户注册页面或者幸运猫提供的其他注册渠道来注册用户账号，即视为您完全同意本协议，愿意接受本协议中所有条款的约束。</p>
        <b>1.名词解释</b>
        <p>除您与幸运猫另有约定外，本协议及其补充协议当中的下列名词均采用如下解释：</p>
        <p>1.1 幸运猫商城用户协议：即本协议，指您与幸运猫约定的，在您登录、使用本商城，以及通过本商城下达订单、购买商品、支付货款、收取商品等整个网购过程中，您与幸运猫之间的权利、义务的书面合同。</p>
        <p>1.2 幸运猫商城：即本商城，指幸运猫享有全部著作权的、提供给您及其他用户登录和使用的一个游戏化电商购物平台，网址为www.xingyunmao.cn。</p>
        <p>1.3 商品：是幸运猫通过本商城向您推荐并进行销售的具体商品的统称。</p>
        <p>1.4 品牌供应商：与幸运猫签订协议，组织商业活动并通过本商城销售商品和服务的公司，包括品牌供应商或者其授权的经销商。</p>
        <p>1.5 用户账号：指您通过登录本商城的注册页面城或者幸运猫提供的其他注册渠道，注册获得并可据以登录本商城的账号。</p>
        <p>1.6 定金账户：是指您存放定金的钱包。有两种情况：一、当您支付了定金之后，没有完成尾款支付，商品下架24小时之后，我们会将您所支付过的定金返还到您的定金账户中；二、当您申请退货成功后，尾款是直接返回您的支付宝或者微信账户里，而定金部分同样是打回您的定金账户中。等到下次您过来选购其他商品时，可以直接用来支付其他商品的定金。</p>
        <p>1.7 付定金：即指定商品需通过支付定金来获得玩游戏的机会，最后结算时所支付的定金作为预付款参与折扣和尾款的计算。</p>
        <p>1.8 购物车：指本商城向您展示您已经选好的商品、准备购买但尚未支付相应价款的商品信息的网页区域， 又称“虚拟购物车”。包括：抢折扣按钮、商品名、所选参数、商品原价、折后价、已获得折扣、已支付定金、仍需支付尾款等等。</p>
        <p>1.9 抢折扣：即通过游戏来获取折扣，点击跳转到“进入游戏”或者“付定金”环节，同时展现你的幸运猫体力值，再根据体力值来决定是否需要用户支付定金，在玩游戏的过程中如果发挥出色可以抢到折扣卡。</p>
        <p>1.10 体力值：指用户剩余的游戏机会，当体力值不足时即结束游戏。</p>
        <p>1.11 折扣卡：即玩游戏之后，系统根据用户玩游戏的结果来自动计算的折扣数。</p>
        <p>1.12 试玩抢折扣/抢折扣：是指选定商品之后，再通过玩一个简单有趣的游戏来获取更低的折扣，折扣的大小完全由用户的游戏结果来决定。</p>
        <p> 1.13 订单：指由本商城结帐程序生成的，记录用户所购买的商品的名称、品牌、价款、折扣卡等交易的信息。这份文件将被用作所有可能发生的与用户购买有关的询问、请求和争议的参考。</p>
        <p>1.14 送货单：指幸运猫或者其品牌供应商、授权的经销商附录在用户所订购的商品包裹上的、供用户签收的商品销售凭证，送货单一般会简要地说明了对应包裹的每一件商品的名称和数量，如发生退换货必须寄回。</p>
        <p>1.15 收货地址：指您或者其他用户通过本商城购买商品所要求的送货地址，如果没有特别说明，即为用户填写的订单上所记载的收货地址。</p>
        <p>1.16 恶意评论：是指个人或组织对幸运猫商城销售的商品没有兴趣，却组织人力或者采用计算机程序模拟正常用户，在本商城或者其他网站平台上大规模发表用户评论，特别发表有关本商城所销售商品的负面评论，乃至违反国家有关法律法规。</p>
        <b>2.合同目的</b>
        <p>本协议旨在约定您在登录、使用本商城，通过本商城购买商品的过程中，您与幸运猫双方分别作为本协议的一方合同当事人所享有的权利和所负有的义务。</p>
        <b>3.用户账号</b>
        <p>3.1 您可通过登录本商城的首页-注册-注册用户账号，并设置相应的登录密码。一经注册成功，您即可以凭借用户账号和密码来登录及使用本商城。目前而言，上述用户账号主要是您的手机号码，并且是终身有效的账号。</p>
        <p>3.2 您成功注册用户账号后，便可直接使用账号从本商城购买商品了。</p>
        <p>3.3 您务必妥善保管您的用户账号、登录密码、及您在其项下填写的所有个人信息，不得将其赠与、转让、借用或者以其他的方式提供给第三方。否则，由此给您（或幸运猫、任何第三方）造成的一切损失，概由您自行承担（或者负责赔偿），包括但不限于：</p>
        <p>（1）您无法凭借该用户账号登录、使用本商城及/或从本商城购买商品；</p>
        <p>（2）您的该用户账号及其项下的折扣卡、体力值及/或资金未经您允许而被第三方盗用。</p>
        <p>3.4 为了防止您和其他用户的账号及其项下的个人信息泄露或者被他人窃取，幸运猫可能会随时采取计算机病毒查杀技术、计算机加密技术等措施进行保护。对此，您完全同意并接受，但这并不能免除本协议第3.3条所述的、您对用户账号及其项下的个人信息所负有的妥善保管义务。</p>
        <p>3.5 您如果遗忘了密码或者密码被他人修改，您可以按照幸运猫公布的账号及密码找回规则，通过幸运猫提供的账号及密码系统程序进行找回，或者在第一时间联系幸运猫的客服人员并提供相关的凭证，以便协助找回。</p>
        <p>3.6 您充分理解并完全同意：幸运猫是一个游戏化电商购物平台，幸运猫根据您账号下的商品购买记录及其他相关信息，如果发现您此前通过本商城或者幸运猫提供的其他网购渠道购买的商品，做于非正常用途的，对于您的这个账号的商品购买需求，幸运猫有权不予接受；您如果已经下达订单，幸运猫有权不予接受订单；幸运猫如果已经接受订单的，有权单方面解除。并不予发货。而且幸运猫视情况还有权冻结您的这个用户账号，使之无法通过本商城以及所提供的其他网购渠道下达订单、购买商品。</p>
        <p>3.7 作为一个幸运猫的用户，您可以邀请任何一个您的家庭成员、朋友、同事加入本站。但您若是希望把您的网站链接到本商城，您必须获得幸运猫的预先许可。在未取得幸运猫事先的书面许可情况下，不得私自通过技术手段将其他网站链接到本商城。否则，造成的一切损失，将由涉事的用户负责。</p>
        <b>4.用户守则</b>
        <p>4.1 本商城目前属于免费使用的网站，幸运猫有权对本商城进行升级及更新，自行设置收费的软件功能、费率标准、收费对象及/或收费时段。您如果不同意幸运猫设置的软件功能、费率标准、收费对象及收费时段的，则应当立即停止使用本商城；您如果继续使用的，则视为您接受幸运猫的上述设置，您应当遵照履行并向幸运猫支付相应的费用。</p>
        <p>4.2 您不得进行任何侵犯本商城知识产权的行为，或者进行其他的有损于幸运猫或其他用户合法权益的行为，包括但不限于：</p>
        <p>（1）删除或修改本网站上的版权信息；</p>
        <p>（2）修改、复制和/或发行本商城；</p>
        <p>（3）在本商城当中内置各种插件程序或者其他的第三方程序；</p>
        <p>（4）进行编译、反编译、反向工程或者以其他方式破解本商城的行为；</p>
        <p>（5）使用本商城外挂和/或利用本商城当中的BUG来获得不正当的利益；</p>
        <p>（6）利用劫持域名服务器等技术非法侵入、破坏本商城的服务器软件系统，或者修改、增加、删除、窃取、截留、替换本商城的客户端和/或服务器软件系统中的数据，或者非法挤占本商城的服务器空间，或者实施其他的使之超负荷运行的行为；</p>
        <p>（7）假冒幸运猫或签约商家在本商城网站当中发布任何诈骗或虚假信息；</p>
        <p>（8）利用本商城故意传播恶意程序或计算机病毒。</p>
        <p>4.3 您充分理解到：幸运猫可能会不定期地通过发布软件升级包或软件补丁、在线升级等方式对本网站进行更新。更新的过程中，幸运猫可能通过互联网调取、收集您的PC端终端上的关于本商城的客户端软件版本信息、数据及其他有关资料，并自动进行替换、修改、删除和/或补充。此种行为是网站更新所必须的一种操作或步骤，您如果不同意幸运猫进行此种操作，请您不要进行更新；您更新的行为即视为您同意幸运猫进行此种操作。</p>
        <p>4.4 您有权在本商城当中发表评论，转发或者回复其他用户的评论，但您应确保评论真实、客观且不会侵犯任何第三方的著作权、肖像权、名誉权、隐私权等合法权利。而且，您不得借助本网站用户评论功能发布任何广告。</p>
        <p>4.5 您应当遵守国家有关法律法规，不得在本商城当中发表、转发或者传播含有下列内容的信息：</p>
        <p>（1）反对宪法所确定的基本原则的；</p>
        <p>（2）危害国家安全、泄露国家秘密、颠覆国家政权、破坏国家统一的；</p>
        <p>（3）损害国家荣誉和利益的；</p>
        <p>（4）煽动民族仇恨、民族歧视，破坏民族团结的；</p>
        <p>（5）破坏国家宗教政策，宣扬邪教和封建迷信的；</p>
        <p>（6）散布谣言，扰乱社会秩序，破坏社会稳定的；</p>
        <p>（7）散布淫秽、色情、赌博、暴力、凶杀、恐怖或者教唆犯罪的；</p>
        <p>（8）侮辱或者诽谤他人，侵害他人合法权益的；</p>
        <p>（9）含有法律、行政法规禁止的其他内容的。</p>
        <p>4.6 个人账户是幸运猫授权您使用幸运猫商城用户管理系统的唯一凭证。幸运猫所提供的体力值、游戏折扣范围等服务和优惠均通过用户管理系统发放，并且仅提供给获得授权的用户个人使用。您同意在符合法律法规及本条款规定的情况下使用个人帐户，幸运猫有可能在某些情况（例如：您违反本条款和/或其它公开规则，或者您严重违背社会公德、提供虚假注册身份信息或者有其他违反法律禁止性规定的行为或损害幸运猫利益的不正当行为等）下暂时冻结、永久冻结、修改、删除您的个人账户或者采取其他处理措施。非经幸运猫同意，您不得将幸运猫各项产品及服务用于商业用途（例如：销售幸运猫个人帐户、销售个人帐户下体力值、折扣卡等）。在使用幸运猫服务过程中，如果您或您的个人帐户刻意规避幸运猫管理措施，或存在涉嫌欺诈、商业牟利、不恰当或不诚实地使用服务或者其他违反本条款和/或其他公开规则的行为，幸运猫有权拒绝为您继续提供服务，永久冻结您的个人帐户，并根据具体情况有权对该用户帐号中因上述手段而产生、获得的一切虚拟产品予以清零。</p>
        <b>5.商品描述与营销信息</b>
        <p>5.1 商品描述：幸运猫商城承诺所出售的商品均为正品。幸运猫直接与品牌供应商及其授权的经销商合作开展各项营销活动，相关商品信息均由品牌供应商或其授权的经销商提供，幸运猫确保各类商品参数、图片与品牌供应商及其授权的经销商所提供的商品保持一致。</p>
        <p>5.2 营销信息：您一经注册用户账号，即视为您同意幸运猫及其关联公司通过短信或者电子邮件的方式，向您注册时填写的手机号码发送相应的商品广告信息、促销优惠等营销信息；您如果不同意发送，您可以通过相应的退订功能进行退订。</p>
        <b>6.商品价格</b>
        <p>本商城上显示的所有价格都是以人民币为计价单位，包括所有的税费和运费（特别说明的除外）。在商品详情页面里您可以找到所有的相关信息，最后的支付价格为下订单时的有效价格。</p>
        <b>7.订单</b>
        <p>7.1 幸运猫保留对单个商品的总出售数量进行限制、对单个订单的商品购买数量及同一IP地址对同类商品购买数量进行限制的权利。</p>
        <p>7.2 根据您填写的订单信息，系统将会生成一份所有必要的信息电子订单表格。在结帐的过程中，您将被邀请复查订购商品的信息、付款方式以及这些商品的运输方式和费用。依据这些信息生成的最终订单表格被认为是该次交易的有效证据。这份文件被认为是所有的发货、问题、退货和争议事项的参考，所以您必须非常仔细地复查这些信息并纠正一切可能的错误。点击“完成”意味着您认可订单表格中包含的所有信息都是正确和完整的。</p>
        <p>7.3 如果您填写的收货人与用户本人信息不一致时，您应对收货人的行为所产生的法律后果承担连带责任。</p>
        <b>8.取消订单</b>
        <p> 8.1 如您需修改订单，当订单状态处于“待付款”时，到系统中自行修改即可，如订单显示为“已付款”则需要经过平台审核，如若货未发出，则可在平台审核后修改；若货已发出，则不能修改。</p>
        <p>8.2 您也可以取消订单，但对于频率较高的恶意取消行为，我们可能会调查其原因，也可能会成为我们可能拒绝向您提供服务、冻结或关闭您的个人帐户的原因。</p>
        <b>9.合同成立</b>
        <p> 您通过本商城下达了订单后，仅表示系统接收到了您下的订单，只有幸运猫将订单上的商品向您发出时，双方之间的买卖合同才成立。而且，如果您在一份订单里订购了多种商品并且幸运猫只给您发出了部分商品时，您与幸运猫之间，仅仅就已经发出的那一部分商品成立买卖合同。</p>
        <b>10.商品缺货</b>
        <p>幸运猫接收到您的订单以后，幸运猫发现所订购的商品全部或部分缺货。在这种情况下，幸运猫会就缺货的商品详细情况与您联系，并提供您选择的机会来取消订单或用双方达成共识的替代方案来解决。如果您在收到此类通知15天之内没有回应，系统会自动取消该订单。</p>
        <b>11.配送服务</b>
        <p>您所订购的商品由幸运猫或品牌供应商，选择具有运输服务资质的公司为您提供运输代理服务。您一旦确认并同意，意味着您与提供运输服务的公司签订了运输代理协议，形成了运输代理合同法律关系。</p>
        <b>12.交货</b>
        <p> 12.1 您所订购的商品将被送至订单表格上注明的送货地址。无论什么原因商品不能到达送货地址的，幸运猫将会尽快跟您取得联系。假如从我们第一次试图跟您联系之日7天内您没有提供答复，幸运猫有权取消该订单。</p>
        <p>12.2 在您收到订购商品的同时，请您书面签收证明您收到了完好状态的商品。如果包装出现破损，请拒收。</p>
        <p>12.3 如果送货单中的商品列表与您的订单表格中所记录的不同，或者您收到的商品与送货单中的商品列表不符，您可以按照幸运猫对外公布且正在实施的退货政策及退货程序，将相应的商品退回幸运猫。而且，您务必于收到所订购的商品之日起7天内，与幸运猫商城电话沟通，否则，幸运猫有权不予退货。</p>
        <b>13.付款及所有权</b>
        <p>幸运猫通过本商城对外销售的商品：</p>
        <p>（1）若您已经支付了商品的全额购买价款，则在幸运猫将所有权交付第三方承运人之时，转移至您的名下；</p>
        <p>（2）若您尚未支付商品的全额购买价款，则其所有权将于您支付全额的购买价款并交付第三方承运人之时，转移至您的名下。</p>
        <p>（3）在商品所有权按照前款约定转移至您的名下之前，商品所有权由幸运猫、品牌供应商或其授权的经销商所有。</p>
        <b>14.退回订单</b>
        <p> 14.1 您如果需要退货的，务必于收到商品之日起7天内主动联系幸运猫客服，将您需要退货的需求告知幸运猫。而且，您务必于收到商品之日起7天内，按照不影响商品正常使用及再次销售的原则，将您需要退货的商品及其包装、赠品、送货单、税务发票（如有）等送货时一并交付给您的物品和资料，全部完好无损地退回幸运猫或该商品的品牌供应商。否则，幸运猫有权不予退货。除有相反的证据外，退货的日期以幸运猫收到的包裹上显示的寄出邮戳所显示的日期为准。对于某些商品，如幸运猫在商品详情页面及有关退货政策中已提示该类商品不予以退货的，您的下达订单行为将被视为您已同意接受幸运猫对此类商品不予退货的安排。</p>
        <p>14.2 退货的运费，若商品不存在质量问题，幸运猫将扣除退货运费后将相应的余额返还给您。若是商品质量问题，运费则由幸运猫负责。</p>
        <p>14.3 幸运猫有权拒绝不符合本商城退货政策的商品退货。仅当幸运猫确认以上规定的这些条款得到遵从后，幸运猫才会启动返还货款金额的程序。幸运猫收到退货后7天内，所有的退款均遵循幸运猫退换货政策操作。一旦实现退款，您将收到一封确认和终止程序的站内信息。</p>
        <p>14.4 如果您的退货与上述退货规定不符，您将没有资格得到任何退款。不过，您仍有资格自行支付费用（包括运费）以便接收已经退回到幸运猫的商品。如果您不想接收已经退回到幸运猫的商品，幸运猫有权保有这些商品并保留已经收到的金额。</p>
        <b>15.商品保证</b>
        <p>本商城所展示的商品完全符合中华人民共和国的相关法律法规的规定。如果您对在本商城所购买的商品品牌存在怀疑，只需要在收到商品的90天内，凭工商部门的有效鉴定报告，即可向幸云至商电子商务有限公司索取等同该商品售价的全额赔偿。</p>

        <b>16.知识产权</b>
        <p> 16.1 幸运猫对本商城的内容享有全部知识产权，包括但不限于：编码、商标、服务标志、商号、图形、美术品、照片、肖像、文字内容、音频片断、按钮图标已及计算机软件、标识、数码下载、数据汇编都是幸运猫或其内容提供者的财产，受到中华人民共和国版权相关法律法规的保护。您对其仅享有本协议约定范围内的临时的、可撤销的非专有使用权。</p>
        <p>16.2 您仅在符合本商城使用要求的前提下被许可浏览和使用本商城，即以个人名义浏览信息和购买供个人使用商品的目的。其他方式的使用都是被严格禁止的，包括但不限于以下方式：复制、修改、销售、传送、再版、删除、添加、展览、记入或演示本商城的内容或以其他方式部分地或整体地非法使用本商城的内容。但经幸运猫允许将本商城当中的资讯转发至微信朋友圈等第三方媒体的除外。</p>
        <b>17.免责声明</b>
        <p> 17.1 关于本商城的免责声明</p>
        <p> 17.1.1 本商城与其他的在线使用的互联网网站一样，也会受到各种不良信息、网络安全和网络故障问题的困扰，包括但不限于：</p>
        <p>（1）其他用户可能会发布诈骗或虚假信息，或者发表有谩骂、诅咒、诋毁、攻击内容的，或者含有淫秽、色情、下流、反动、煽动民族仇恨等让人反感、厌恶的内容的非法言论；</p>
        <p>（2）其他用户可能会发布一些侵犯您或者其他第三方知识产权、肖像权、姓名权、名誉权、隐私权和其他合法权益的图片、照片、文字等资料；</p>
        <p>（3）面临着诸如黑客攻击、计算机病毒困扰、系统崩溃、网络掉线、网速缓慢、程序漏洞等问题的困扰和威胁。</p>
        <p>17.1.2 您充分理解到：本协议第17.1条所述的各种不良信息、网络安全和网络故障问题，并不是幸运猫商城所导致的问题，由此可能会造成您感到反感、恶心、呕吐等精神损害，或者给您造成其他的损失，概由您自行承担，幸运猫无须向您承担任何责任。</p>
        <p>17.1.3 您完全同意：除法律法规规定或者您与幸运猫提前约定的其他条款除外，幸运猫有权单方面地终止本商城所提供的服务而无须提前通知您。可能是因为幸运猫解散、注销、合并、分立，也可能是因为幸运猫将本商城或其运营权转让给了第三方，还可能是因为国家法律、法规、政策及国家机关的命令或者其他的诸如地震、火灾、海啸、台风、罢工、战争等不可抗力事件，还可能是因为您违反本协议第16.2条或者第16.5条所约定的用户守则。</p>
        <p>17.2 关于商品销售的免责声明</p>
        <p>17.2.1 由于用不同手机终端设备观看时网页显示的差异，幸运猫上促销的商品在图像和颜色方面可能跟真实的物品不尽一致。因此，所有显示的图片、视频和其他商品显示方法仅限于图示目的，在任何情况下不认为是合同的组成部分。假如出售的商品跟网站上的描述不同，幸运猫会及时与您沟通协商，在商品没有使用的情况下退回该商品。</p>
        <p>17.2.2 幸运猫保留根据市场价格波动随时修改上线商品价格的权利而无须事先通知。在由于排版错误或供应商提供价格信息错误的情况下以不正确的价格列出来的商品，幸运猫有权拒绝或取消任何对以不正确的价格列出来的商品所下订单的权利。</p>
        <p>17.2.3 由于合理的或不可避免的送货延迟对您或第三方带来的任何损失，幸运猫不负任何责任。在这种情况下，幸运猫将尽快地把任何可预知的延迟情况通知您，并在此时请您选择是否取消订单。</p>
        <p>17.2.4 幸运猫上面陈列的货物完全符合中华人民共和国的相关法律法规的规定。幸运猫直接与品牌供应商或者他们授权的经销商合作，他们保证其商品是正宗的。</p>
        <b>18.个人信息保护</b>
        <p> 18.1 幸运猫商城可能在您自愿选择服务或提供信息的情况下收集您的个人信息（简称“个人信息”），例如您的姓名、邮件地址、电话号码及其他身份信息等。我们有可能会保留一些用户的使用习惯，用于更好地了解和服务用户。这些数据将有利于我们开发出更符合用户需求的功能、信息和服务。</p>
        <p>18.2 幸运猫通过本商城可能会收集一些特定的，关于您所使用的机器技术信息，可能会包括：IP地址、操作系统版本、浏览器版本、显示器分辨率、推荐网站等。这些信息将用于提供更好的用户使用体验和更方便的服务。</p>
        <p>18.3 幸运猫非常重视保护您的账号及密码、电话号码、地理位置、智能移动终端品牌及型号等个人信息，未经您同意，幸运猫不会将其披露给无关的第三方，更不会将其公之于众，但因下列原因而披露给第三方的除外：</p>
        <p>（1）基于国家法律法规的规定而对</p>
        <p>（2）应国家司法机关及其他有关机关基于法定程序的要求而披露；</p>
        <p>（3）为保护幸运猫或您的合法权益而披露；</p>
        <p>（4）在紧急情况，为保护其他用户及第三方人身安全而披露；</p>
        <p>（5）经您本人同意或应您的要求而披露。</p>
        <p>18.4 幸运猫将使用各种安全技术和程序防止您及其他用户个人信息的丢失、不当使用、未经授权阅览或披露。但您充分理解到：由于技术的限制以及可能存在的各种恶意手段，在互联网行业，即便竭尽所能加强安全措施，也不可能始终保证信息百分之百的安全。</p>
        <b>19.其他约定</b>
        <p> 19.1幸运猫保留随时、不需要任何理由地单方面修订本协议的权利。本协议一经修订，幸运猫将会用修订后的协议版本完全替代修订前的协议版本，并通过适当的方式向所有用户公布。您应当及时关注和了解本协议的修订情况，如果您不同意修订后协议版本，请您立即停止使用本商城，否则即视同您同意并完全接受修订后的协议版本。</p>
        <p>19.2 幸运猫有可能以消费者告知书、用户须知、温馨提示等形式，向您说明在使用商城站购买商品时，应当履行的本协议所约定的义务之外的其他义务，您亦应当仔细阅读并全面履行。上述说明如果与本协议相互冲突或者矛盾的，以上述约定为准；上述约定未涉及的内容，仍适用本协议。</p>
        <p>19.3 幸运猫将本协议内置于本商城的注册环节，您在注册的过程中即可查阅、了解本协议，并通过勾选“我已阅读并接受幸运猫服务条款”表示您完全同意并接受本协议之约束，或者通过取消勾选“我已阅读并不接受幸运猫服务条款”表示您不同意本协议。</p>
        <p>19.4 本协议各条款是可分的，所约定的任何条款如果部分或者全部无效，不影响该条款其他部分及本协议其他条款的法律效力。</p>
        <p>19.5 本协议各条款的标题只是为了方便用户阅读而起到提示、醒目的作用，对本协议的解释及适用没有任何指引作用。</p>
        <p>19.6 幸运猫基于本协议及其补充协议的有效弃权必须是书面的，并且该弃权不能产生连带的相同或者类似的弃权。</p>
        <p>19.7 您通过本商城购买非商品的服务产品（例如旅游产品）的，您与幸运猫之间的权利义务亦参照本协议的相关约定。</p>
        <p>19.8 您与幸运猫均应当严格履行本协议及其补充协议所约定的各项义务，如发生争议或者纠纷，双方可以友好协商解决；协商不成的，任何一方均可提请幸运猫住所所在地人民法院诉讼解决。</p>
        <p> 19.9 本商城的客户服务电话为：400-808-9136，您如对本协议条款有任何疑问或者需要帮助，可以通过上述电话与幸运猫联系。</p>
        <p>19.10 本协议及其补充协议签订地为广东省广州市海珠区，均受中华人民共和国法律、法规管辖，幸运猫保留最终解释权。</p>
        <p class="text_right" style="margin-top:50px;">广州幸运至商电子商务有限公司</p>
        <p class="text_right">二〇一五年十二月</p>


    </div>
</div>