<div class="box-introduction box-help">
    <h2 class="box-title">七天无理由退换货</h2>
    <div class="join_z">
        <b>用户提出“七天无理由退换货”服务申请的条件</b><br>
        <p>① 用户在签收商品之日起七天内（按照物流签收后的第二天零时起计算时间，满168小时即7天）发起申请；需保持幸运猫出售时原状且配件、赠品、资料等齐全，不影响二次销售，可无理由退货，退货商品须邮寄到幸运猫指定的退货地址。</p>
        <p>② 用户的申请符合相关法律法规的规定；</p>
        <p>③ 申请金额仅以用户实际支付的商品价款为限；</p>
        <b>“七天无理由退换货”服务申请流程</b><br>
        <p>① 在满足上述申请条件的前提下，用户可在“我的幸运猫－已完成订单”页面，通过"售后申请"填写申请信息。</p>
        <p>② 在收到用户“七天无理由退换货”申请后，幸运猫将根据相关规定进行审核；</p>
        <p>③ 当幸运猫审核判定用户“七天无理由退换货”申请成立时，用户将货物退回到幸运猫指定的地址，收到货后七天之内将款项退回给用户；</p>
        <p>④ 幸运猫承诺提供“七天无理由退换货”服务的商品，若用户以无理由形式退货或拒签的，需承担退货运费。</p>
        <p>⑤ 所有退货商品的退款，将原路打回用户账户，预付定金则返还到用户幸运猫钱包，可用于支付其他商品的定金。</p>

    </div>
</div>