
<div class="box-introduction box-help">
    <h2 class="box-title">验货说明</h2>

    <div class="join_z">
        <b class="top0" style=" text-indent:2em; line-height:24px; margin-bottom:20px;">请您签收货品时，尽量当着快递人员的面检查商品（如果快递人员坚持先前签收再验货，可致电幸运猫投诉）</b>
        <p>① 务必检查封箱胶带是否有被拆开重新粘贴过的痕迹。</p>
        <p>② 快递包装是否有破损、渗漏、缺少等现象。</p>
        <p>③ 若出现以上情况，建议您尽快与我们取得联系，并拍照存档，把照片发给我们的客服人员，以便我们对物流快递公司进行追责。</p>
        <p>当然，根据我们的7天无理由退货政策，无论是因为快递还是其他原因导致商品破损、渗漏等现象，只要您有意退货，我们都会马上为您办理退货手续。</p>
        <b style="text-indent:2em;">客服热线（免长途费）：xxx-xxxxxx</b>
    </div>








</div>