<long-header></long-header>
<div class="about help  container ng-scope">
    <div class="content">
        <div class="page-location">
            <a href="/home">幸运猫</a>
            <a>购物流程</a>
        </div>
        <div class="box-introduction box-help">
            <h2 class="box-title">购物流程</h2>
            <div class="steps">

                <ul>
                    <li class="step1">
                        <span>①</span><a>用户注册/登录</a>
                    </li>
                    <li class="step2">
                        <span>②</span><a>挑选商品</a>
                    </li>
                    <li class="step3">
                        <span>③</span><a>试玩抢折扣/抢折扣</a>
                    </li>
                    <li class="step4">
                        <span>④</span><a>确认下单</a>
                    </li>
                    <li class="step5">
                        <span>⑤</span><a>支付款项</a>
                    </li>
                </ul>
            </div>




            <div class="paragraph">
                <h6>第一步：  新用户注册或已有账号登陆</h6>
                <img src="./res/images/support/guide_1.jpg" />
            </div>

            <div class="paragraph">
                <h6>第二步：  挑选您想购买的商品</h6>
                <img src="./res/images/support/guide_2.jpg" />
            </div>

            <div class="paragraph">
                <h6>第三步：  进入“商品详情”,玩游戏抢更低折扣</h6>
                <img src="./res/images/support/guide_3.jpg" />
            </div>

            <div class="paragraph">
                <h6>第四步： 确认收货信息，支付货款并“提交订单”</h6>
                <img src="./res/images/support/guide_4.jpg" />
            </div>

            <div class="paragraph">
                <h6>第五步：  "提交订单"后，可点击“查看订单”了解您的订单详情</h6>
                <img src="./res/images/support/guide_5.jpg" />
            </div>


        </div>
    </div>
</div>