
<!--顶部  begin-->
<div class="simple sub-header">
    <div class="content">
        <div class="logo pull-left">
            <img src="./res/logo/logo.png" alt="幸运猫"/>

            <p class="logo-desc">新生代电商购物</p>
        </div>
        <div class="nav pull-right">
            <a href="/home" title="">首页</a>
            <a  href="/about" title="">关于幸运猫</a>
            <a  href="#" title="">新手指南</a>
            <a class="border-bottom4 icon-mb-link" href="#" title="手机幸运猫">手机抢购 更多低折扣</a>
        </div>
    </div>
</div>
<!--顶部  end-->

<!--中部 begin-->
<div class="about help  container ng-scope">
    <div class="content">
        <div class="page-location">
            <a>幸运猫</a>
            <a>常见问题</a>
        </div>
        <div class="UC-menu">
            <h2>新手指南</h2>
            <ul>
                <li ng-class="{'cur':curMenu==1}"><a href="/UCIndex/myOrders/unPay">购物流程 </a></li>
                <li ng-class="{'cur':curMenu==2}"><a href="/UCIndex/myOrders/paid">常见问题</a></li>
                <li ng-class="{'cur':curMenu==3}"><a href="/UCIndex/myOrders/unReceive">用户协议</a></li>
            </ul>
            <h2>服务保障</h2>
            <ul>
                <li ng-class="{'cur':curMenu==7}"><a href="/UCIndex/myDiscountCards">正品保障</a></li>
                <li ng-class="{'cur':curMenu==8}" class="cur"><a href="/UCIndex/editPassword">发票保障</a></li>
                <li ng-class="{'cur':curMenu==9}"><a href="/UCIndex/myAddresses">在线客服</a></li>
            </ul>
            <h2>配送方式</h2>
            <ul>
                <li ng-class="{'cur':curMenu==10}"><a href="/help">配送费用</a></li>
                <li ng-class="{'cur':curMenu==11}"><a href="/about">配送说明</a></li>
                <li ng-class="{'cur':curMenu==12}"><a href="/UCIndex/adviceAndFeedback">验货说明</a></li>
            </ul>
            <h2>售后服务</h2>
            <ul>
                <li ng-class="{'cur':curMenu==10}"><a href="/help">退货流程</a></li>
                <li ng-class="{'cur':curMenu==11}"><a href="/about">退换政策</a></li>
                <li ng-class="{'cur':curMenu==12}"><a href="/UCIndex/adviceAndFeedback">7天无理由退换</a></li>
            </ul>

        </div>
        <div class="UC-menu-cont relative_z">
            <div class="box-introduction box-help">
                <h2 class="box-title">发票保障</h2>
                <div class="join_z">
                    <p>幸运猫平台所售的商品均为品牌供应商提供的正品，因此当用户购买商品提交订单时，可以勾选要求提供发票，输入您的发票抬头，我们将会无偿提供正规的发票。</p>
                </div>








            </div>
        </div>
    </div>
</div>

<!--中部 end-->

<introduction></introduction>

<sub-footer></sub-footer>

<footer></footer>