
<!--长头部  begin-->
<long-header nav="nav2"></long-header>
<!--长头部  end-->

<!--中部 begin-->
<div class="about container">
    <div class="content">
        <div class="page-location">
            <a href="/home">幸运猫</a>
            <a>关于幸运猫</a>
        </div>
        <div class="box-introduction">
            <h2 class="box-title">关于幸运猫</h2>
            <div class="intro-title">
                <h1>享玩享购享折扣</h1>
                <small>一个游戏化电商购物平台</small>
            </div>
            <div class="paragraph">
                <h3>幸运猫简介</h3>
                <p>
                    广州幸云至商电子商务有限公司 以云计算为基础，为用户带来幸运快乐的新生代电商购物体验。我们相信，在主流电商模式日益满足人们的购物需求之后，会催生多样化的、生动有趣的、互动性
                    更强的购物模式，将是电商产业未来多元化生态格局的一个必然组成部分。
                </p>
                <p>
                    大道至简，幸云至商  我们认为极致的电商购物体验是简单、富有乐趣、能够给人带来满足和愉悦的，为此，我们创立公司和团队，招募各路精英人才，联合各家品牌和渠道，构筑全新的线上购物
                    平台。幸云至商，也将是承载我们对世界的理解、对未来的愿景和对个人价值实现的理想平台。
                </p>
            </div>
            <div class="paragraph">
                <h3>幸运猫愿景</h3>
                <p>为用户带来幸运快乐的新生代电商购物体验！</p>
            </div>
            <div class="paragraph">
                <h3>幸运猫使命</h3>
                <p>
                    打造新生代时尚游戏购物商城！我们相信，在主流电商模式日益满足人们的购物需求之后，会催生多样化的、生动有趣的、互动性更强的购物模式，将是电商产业未来多元化生态格局的一个必然
                    组成部分。
                </p>
            </div>
            <div class="paragraph">
                <h3>核心价值观</h3>
                <p>我们重视用户需求，努力为用户提供超出预期的服务；</p>
                <p>我们视员工为最宝贵的财富，支持员工发展并使之认同；</p>
                <p>我们以正直和诚信为原则行事，互相尊重，认同优秀的表现；</p>
                <p>我们充满热情，不断追求进取，相信坚韧和竞争是成功的动力；</p>
                <p>我们相信高品质服务是公司发展之源。</p>
            </div>
        </div>
    </div>
</div>
<!--中部 end-->

<introduction></introduction>

<sub-footer></sub-footer>

<footer></footer>