<header ng-title="data_brand.BrandName+'品牌专场_幸运猫'"></header>
<aside-right></aside-right>
<sub-header nav="3">
    <category has-sub-category="false"></category>
</sub-header>
<!--中部 start-->
<div class="list content">
<!--    <div class="banner-s">
        <ul>
            <li>
                <a href="#" title="">
                    <img src="./res/test/newPro_ad1.jpg" alt="" />
                </a>
            </li>
        </ul>
    </div>-->
    <div class="page-location brand">
        <a href="/home">幸运猫</a>
        <a  ng-bind="data_brand.BrandName+' 品牌专场'" class="cur"
            ng-show="loaded"></a>
    </div>
    <div class="brand pro-list-top">
        <h3 ng-class="{'color-org':search_condition==0}" ng-click="searchNew()">新品</h3>
        <span ng-class="{'color-org label-condition':search_condition==1,'label-condition':search_condition==0}" ng-click="searchWidthPrice()">价格</span>
        <span  ng-class="{'icon-db-arrow up cur':(!price_order)&&search_condition==1,'icon-db-arrow up':price_order||search_condition==0}" ng-click="searchWidthPrice(0)"></span>
        <span  ng-class="{'icon-db-arrow down':(!price_order)||search_condition==0,'icon-db-arrow down cur':price_order&&search_condition==1}" ng-click="searchWidthPrice(1)"></span>
        <div class="pull-right">
            <p>共<span class="color-org" ng-bind="totalAmount"></span>件商品</p>
            <span class="arrow txtUnselect" title="上一页" ng-click="prevPage()"><</span>
            <span class="color-org" ng-bind="pageIndex"></span>/
            <span ng-bind="totalPage"></span>
            <span class="arrow txtUnselect" title="下一页" ng-click="nextPage()">></span>
        </div>
    </div>
<!--    <ul class="pro-list-cont">
        <li ng-repeat="list in data_list|orderBy:'maxPrice':price_order" >
            <a class="a-goodsImg" href="/item/{{list.Id}}" target="_blank" title="">
                <img real-src={{imgHost+list.RollingImages[0]}} alt="" temp-src="./res/images/default.png"/>
            </a>
            <div class="goods-info">
                <a href="/item/{{list.Id}}" target="_blank" title={{list.CommodityName}}>
                    <h2 ng-bind="list.CommodityName"></h2>
                </a>
                <p class="price">
                    <span class="prices" ng-bind="'￥'+list.maxPrice+'~￥'+list.minPrice"></span>
                    <span class="old-price" ng-bind="list.RetailPrice" ng-if="!(list.RetailPrice*list.MaxDiscount>999&&list.RetailPrice*list.MinDiscount>999)"></span>
                    <span class="icon-discount" ng-bind="'低至'+(list.MaxDiscount*10).toFixed(1)+'折'"></span>
                    &lt;!&ndash;<span class="final-price" ng-bind="'￥'+(list.RetailPrice*list.MinDiscount).toFixed(2)" ></span>
                    <span class="old-price" ng-bind="list.RetailPrice"></span>
                    <span class="icon-discount" ng-bind="(list.MinDiscount*10).toFixed(1)+'折'"></span>&ndash;&gt;
                </p>
            </div>
        </li>
    </ul>-->
    <ul class="pro-list-cont">
        <li ng-repeat="list in data_list" >
            <div class="list-disc">
                <p>低至</p>
                <p ng-bind="(list.MaxDiscount*10).toFixed(1)+'折'"></p>
            </div>
            <a class="a-goodsImg" href="/item/{{list.Id}}" target="_blank" title="">
                <!--<img real-src={{imgHost+list.RollingImages[0]}} alt="" temp-src="./res/images/default.png"/>-->
                <img lazy-src="{{imgHost+list.RollingImages[0]}}" />
                <img src="./res/images/out.png" class="img-so" ng-if="list.Status==4"/>
                <span class="mark-canFree" ng-if="list.IsCanFree" title="玩游戏赢惊喜折扣">可试玩</span>
            </a>
            <div class="goods-info">
                <a href="/item/{{list.Id}}" target="_blank" title={{list.CommodityName}}>
                    <h2 ng-bind="list.CommodityName" ng-class="{'canFree':list.IsCanFree==true}"></h2>
                </a>
                <p class="price">
                    <span class="prices" ng-bind="'￥'+list.maxPrice+'~￥'+list.minPrice"></span>
                    <span class="old-price" ng-bind="'￥'+list.RetailPrice" ng-if="!(list.RetailPrice*list.MaxDiscount>999&&list.RetailPrice*list.MinDiscount>999)"></span>
                    <!--  <span class="icon-discount" ng-bind="'低至'+(list.MaxDiscount*10).toFixed(1)+'折'"></span>-->
                    <!--<span class="final-price" ng-bind="'￥'+(list.RetailPrice*list.MinDiscount).toFixed(2)" ></span>
                    <span class="old-price" ng-bind="list.RetailPrice"></span>
                    <span class="icon-discount" ng-bind="(list.MinDiscount*10).toFixed(1)+'折'"></span>-->
                </p>
            </div>
        </li>
    </ul>
    <div class="list-spinner">
        <spinner ng-show="!loaded" text="搜索中"></spinner>
    </div>
    <div class="tips-no-pro" ng-if="data_list.length<=0">
        暂时没有符合条件的商品喔！
    </div>
    <div class="page-index" ng-show="loaded">
        <div class="prev" ng-click="prevPage()"  btn-scroll-filter><</div>
        <div class="indexes">
            <span ng-class="{'cur':pageIndex==($index+1)}" ng-repeat="p in page" ng-bind="$index+1" ng-click=changePage($index+1) btn-scroll-filter></span>
        </div>
        <div class="next" ng-click="nextPage()" btn-scroll-filter>></div>
    </div>
</div>
<!--中部 end-->



<introduction></introduction>
<sub-footer></sub-footer>
<footer></footer>