<p class="menu-cont-title">
    <label>售后申请</label>
</p>
<div class="loading-tips" ng-show="showLoading==true">正在加载...</div>
<div class="OD UC-menu-cont-wrap">
    <div class="box-od">
        <p class="bar-order-sp">
            <label>订单状态:</label>
            <span ng-bind="(data_order.OrderStatus==1)?'待付款':(data_order.OrderStatus==2)?'已付款':(data_order.OrderStatus==3)?'正在配送中':(data_order.OrderStatus==4)?'已完成':'未知'" class="color-org"></span>
            <label>订单号：</label>
            <span ng-bind="data_order.Id"></span>
            <label>下单时间：</label>
            <span  ng-bind="data_order.CreateTime"></span>
        </p>
        <div class="AS-checkboxes">
            <div ng-class="service_type==2?'checkbox checkbox2 checked':'checkbox checkbox2'" ng-click="changeType(0)">
                退款
            </div>
            <div ng-class="service_type==1?'checkbox checkbox1 checked':'checkbox checkbox1'" ng-click="changeType(1)" ng-if="data_order.OrderStatus==4">
                退货
            </div>
            <div ng-class="service_type==0?'checkbox checkbox0 checked':'checkbox checkbox0'" ng-click="changeType(2)" ng-if="data_order.OrderStatus==4">
                换货
            </div>
        </div>
        <h3 class="box-label">售后商品</h3>
        <div class="box-commodity">
            <div class="top">
                <img ng-src="{{imgHost+data_order.Brand.BrandImage+'@64w_32h_100Q.png'}}"/>
                <a ng-bind="data_order.Brand.BrandName"></a>
            </div>
            <div class="cont">
                <div class="cont1">
                    <a class="img-container" href="/item/{{data_order.Commodity.Id}}">
                        <img ng-src="{{imgHost+data_order.imageUrl+'@100w_100h_100Q.jpg'}}"/>
                    </a>
                    <a href="/item/{{data_order.Commodity.Id}}">
                        <h2 ng-bind="data_order.Commodity.CommodityName" title="{{data_order.Commodity.CommodityName}}" ></h2>
                    </a>
                    <small ng-bind="'×'+data_order.Count"></small>
                    <p class="property" ng-repeat="property in data_order.Specifications" ng-bind="property.name+'：'+property.value"></p>
                </div>
                <div class="cont2">
                    <p ng-bind="'￥'+(data_order.UnitPrice*data_order.Count).toFixed(2)"></p>
                </div>
                <div class="cont3">
                    <div class="inner-cont">
                        <p class="disc-cost" ng-bind="'￥'+data_order.cost"></p>

                        <p ng-bind="'（含定金：￥'+data_order.EarnestMoney+'）'" ng-if="data_order.EarnestMoney>0"></p>

                        <p>已享用折扣卡<span class="icon-discount" ng-bind="data_order.finalDiscount+'折'"></span>
                        </p>
                    </div>
                </div>
                <div class="cont4">
                    <a>取消售后</a>
                </div>
            </div>
        </div>
        <p class="AS-label-amount">退货数量</p>
        <div class="AS-bar-amount">
            <button ng-click="reduce()">-</button>
            <input ng-model="apply_amount"  onpaste="return false" require-number  style="ime-mode:disabled"  />
            <button ng-click="add()">+</button>
        </div>
    </div>

    <div class="AS-box-describe">
        <h3 class="box-label">描述</h3>
        <textarea placeholder="请输入您的售后原因" ng-model="input_txt"></textarea>
        <div class="bar-msg-file">
<!--            <input type="file" nv-file-select="" uploader="uploader" />-->




            <div class="upload-box">
                <div class="items" ng-repeat="item in uploader.queue">
                    <div>
                        <div class="img-preview" >
                            <img ng-src="{{imgHost+item.url}}" />
                            <span ng-show="uploader.isHTML5&&!item.isError" >{{ item.file.size/1024/1024|number:2 }} MB</span>
                            <span class="items-error" ng-show="item.isError">上传失败</span>
                        </div>
<!--                        <button type="button" class="btn btn-success btn-xs" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                            上传
                        </button>
                        <button type="button" class="btn btn-warning btn-xs" ng-click="item.cancel()" ng-disabled="!item.isUploading">
                            取消
                        </button>-->
                        <div ng-show="uploader.isHTML5">
                            <div class="progress" style="margin-bottom: 0;">
                                <div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
                            </div>
                        </div>
                        <button type="button" class="btn-remove" ng-click="item.remove()">
                            移除
                        </button>
                    </div>
                </div>
                <div  max-file-count="1" class="btn-file-upload" max-count="5">
                    <span class="btn-add">+</span>
                    <p>上传图片</p>
                    <input  type="file" nv-file-select="" uploader="uploader" title="上传图片" />
                </div>
            </div>

        </div>
    </div>
    <div class="AS-box-address">
        <h3 class="box-label">售后地址</h3>
        <ul class="address-list">
            <li ng-class="{'cur':selected_address.Id==address.Id}" ng-repeat="address in data_addresses|orderBy:'Selected':true" ng-click="changeConsignee(address)">
                <h3><span ng-bind="address.ConsigneeName"></span>{{address.ConsigneeMobile}}</h3>

                <p class="address-info" ng-bind="address.Area+' '+address.ConsigneeAddress"></p>
<!--
                <p class="take-delivery-time">收货时间：不限</p>-->
            </li>
            <li class="btn-addAddress" ng-click="showAddressModal()">
                <h5>+</h5>
                <small>添加地址</small>
            </li>
        </ul>
    </div>


    <div class="AS-bar-submit">
        <button class="AS-btn-submit" ng-click="submit()" ng-bind="value_btn_submit"></button>
    </div>
</div>

<div class="CO modal-overlay ng-hide" ng-show="isModalAddressShow==true">
    <form class="modal-add-address" name="form_address" ng-submit="addAddress()" novalidate="novalidate">
        <h4>添加收货地址</h4>
        <p class="input-tips" ng-show="inputTips!=''" ng-bind="inputTips"></p>
        <p>
            <label>姓名</label>
            <input type="text" placeholder="收货人姓名" ng-model="modal_consignee" name="consignee" required />
            <span class="symbol">*</span>
        </p>

        <p>
            <label>手机</label>
            <input type="text" placeholder="手机号码" ng-model="modal_mobile" name="mobile" ng-pattern="/^[1][3458]\d{9}$/" required />
            <span class="symbol">*</span>
        </p>

        <p>
            <label>地址</label>
            <input class="input-area" name="area"  id="CO_area" readonly area-picker  area-picker-finish="areaInputFinish" area-picker-style="position:fixed" ng-model="modal_area" placeholder="请选择区域" required/>
            <span class="symbol">*</span>
        </p>

        <p>
            <textarea ng-model="modal_address" placeholder="请输入详细地址" name="address" required></textarea>
            <span class="symbol">*</span>
        </p>

        <p>
            <input class='btn-submit-address' type='submit' ng-value="value_btn_save" />
        </p>
        <span class="btn-close" ng-click="closeAddressModal()">×</span>
    </form>
</div>