<p class="menu-cont-title">
    <label>修改密码</label>
</p>
<div class="edit-pw-steps">
    <div ng-class="{'cur':show_update_success==false}">验证身份</div>
    <div ng-class="{'cur':show_update_success==true}">完成</div>
</div>
<p class="edit-pw input-tips" ng-bind="input_tips" ng-show="input_tips!=''"></p>

<form class="form-editPassword" ng-show="show_update_success==false" ng-submit="updatePassword()" name="form_ud_pw" novalidate="novalidate">
    <p>
        <label>旧密码：</label>
        <input class="input-pw" type="password" placeholder="输入您的旧密码" ng-model="old_pw" name="old_pw" required/>
    </p>
    <p>
        <label>新密码：</label>
        <input class="input-pw" type="password" placeholder="新密码(6-24位字符，区分大小写)" ng-model="new_pw" name="new_pw" required ng-pattern="/^[\s|\S]{6,24}$/" />
    </p>
    <p>
        <label>确认新密码：</label>
        <input class="input-pw" type="password" placeholder="再次输入新密码以确认" ng-model="new_pw_re" name="new_pw_rep" required/>
    </p>
    <p>
        <input class="submit-editPw" type="submit" ng-value="value_btn" />
        <a class="btn-outline" href="/UCIndex/safeAccount">取消</a>
    </p>
</form>
        <div class="update-pw-success" ng-show="show_update_success==true">
            <h1>修改密码成功！</h1>
            <small>请勿将您的密码泄露给他人，避免造成不必要的损失！</small>
            <p>
                <a class="btn-return" ng-click="returnOrg()">确定<b ng-bind="return_time"></b></a>
            </p>
        </div>