<p class="menu-cont-title">
    <label>物流信息</label>
</p>
<div class="OD UC-menu-cont-wrap">

    <div class="uc-spinner" ng-show="!loaded">
        <spinner></spinner>
    </div>
    <div class="box-consignee" ng-show="loaded&&data_logistics" >
        <h3>收货信息</h3>

        <p>
            <label>收货人： </label>
            <span ng-bind="data_consignee.ConsigneeName+'    '+data_consignee.ConsigneeMobile"></span>
        </p>

        <p>
            <label>收货地址： </label>
            <span ng-bind="data_consignee.Area+' '+data_consignee.ConsigneeAddress"></span>
        </p>
    </div>
    <div class="box-logistics" ng-show="loaded&&data_logistics">
        <h3 class="title">物流信息</h3>

        <p class="item">
            <label>物流公司：</label>
            <span ng-bind="data_logistics.CourierName"></span>
        </p>

        <p class="item">
            <label>物流单号：</label>
            <span ng-bind="data_logistics.TrackingNumber"></span>
        </p>

        <div class="logistics-details">
            <label>物流跟踪：</label>

            <div class="logistics-info">
                <div class="logistics-list">
                    <ul>
                        <li ng-repeat="trace in data_logistics.TrackingData.lastResult.data">
                            <span class="time" ng-bind="trace.ftime"></span>
                            <span class="info" ng-bind="trace.context"></span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <p class="tips-nothing" ng-show="loaded&&!data_logistics">暂无物流信息</p>
</div>
