<p class="menu-cont-title">
    <label>我的折扣卡</label>
</p>
<div class="discount-card-tabs">
    <a class="cur">未使用（15）</a>
    <a>已使用</a>
    <a>已过期</a>
</div>
<ul>
    <li class="dc-cart-li">
        <div class="details">
            <a class="img-container">
                <img src="./res/test/g_dt_bimg.jpg" alt=""/>
            </a>

            <h2>小米note顶配版</h2>

            <p>型号：标准版</p>

            <p>颜色：金色</p>

            <p>网络制式：全网通16G</p>
        </div>
        <div class="price">
            <div class="cont">
                <p>
                    <label>折后价：</label>
                    <span class="dc-price">￥2100</span>
                </p>
                <p class="old-price">原价￥3000</p>
            </div>
        </div>
        <div class="card">
            <div class="card-top">
                <label></label>
                <span><font>7</font>折</span>
            </div>
            <p>使用说明：限本商品使用</p>
            <p>使用期限：2015.08.15-2015.12.03</p>
        </div>
    </li>
    <li class="dc-cart-li">
        <div class="details">
            <a class="img-container">
                <img src="./res/test/g_dt_bimg.jpg" alt=""/>
            </a>

            <h2>小米note顶配版</h2>

            <p>型号：标准版</p>

            <p>颜色：金色</p>

            <p>网络制式：全网通16G</p>
        </div>
        <div class="price">
            <div class="cont">
                <p>
                    <label>折后价：</label>
                    <span class="dc-price">￥2100</span>
                </p>
                <p class="old-price">原价￥3000</p>
            </div>
        </div>
        <div class="card">
            <div class="card-top">
                <label></label>
                <span><font>7</font>折</span>
            </div>
            <p>使用说明：限本商品使用</p>
            <p>使用期限：2015.08.15-2015.12.03</p>
        </div>
    </li>
    <li class="dc-cart-li">
        <div class="details">
            <a class="img-container">
                <img src="./res/test/g_dt_bimg.jpg" alt=""/>
            </a>

            <h2>小米note顶配版</h2>

            <p>型号：标准版</p>

            <p>颜色：金色</p>

            <p>网络制式：全网通16G</p>
        </div>
        <div class="price">
            <div class="cont">
                <p>
                    <label>折后价：</label>
                    <span class="dc-price">￥2100</span>
                </p>
                <p class="old-price">原价￥3000</p>
            </div>
        </div>
        <div class="card">
            <div class="card-top">
                <label></label>
                <span><font>7</font>折</span>
            </div>
            <p>使用说明：限本商品使用</p>
            <p>使用期限：2015.08.15-2015.12.03</p>
        </div>
    </li>
    <li class="dc-cart-li">
        <div class="details">
            <a class="img-container">
                <img src="./res/test/g_dt_bimg.jpg" alt=""/>
            </a>

            <h2>小米note顶配版</h2>

            <p>型号：标准版</p>

            <p>颜色：金色</p>

            <p>网络制式：全网通16G</p>
        </div>
        <div class="price">
            <div class="cont">
                <p>
                    <label>折后价：</label>
                    <span class="dc-price">￥2100</span>
                </p>
                <p class="old-price">原价￥3000</p>
            </div>
        </div>
        <div class="card">
            <div class="card-top">
                <label></label>
                <span><font>7</font>折</span>
            </div>
            <p>使用说明：限本商品使用</p>
            <p>使用期限：2015.08.15-2015.12.03</p>
        </div>
    </li>
    <li class="dc-cart-li">
        <div class="details">
            <a class="img-container">
                <img src="./res/test/g_dt_bimg.jpg" alt=""/>
            </a>

            <h2>小米note顶配版小米note顶配版</h2>

            <p>型号：标准版</p>

            <p>颜色：金色</p>

            <p>网络制式：全网通16G</p>
        </div>
        <div class="price">
            <div class="cont">
                <p>
                    <label>折后价：</label>
                    <span class="dc-price">￥2100</span>
                </p>
                <p class="old-price">原价￥3000</p>
            </div>
        </div>
        <div class="card">
            <div class="card-top">
                <label></label>
                <span><font>7</font>折</span>
            </div>
            <p>使用说明：限本商品使用</p>
            <p>使用期限：2015.08.15-2015.12.03</p>
        </div>
    </li>
</ul>
<div class="UC page-index">
    <div class="prev"><</div>
    <div class="indexes">
        <span class="cur">1</span>
        <span>2</span>
        <span>3</span>
        <span>4</span>
        <span>5</span>
    </div>
    <div class="next">></div>
</div>