<p class="menu-cont-title">
    <label>我的消息</label>
</p>
<ul class="my-msg-list">
    <li>
        <div class="icon-msg-type2"></div>
        <div class="cont1">
            <a>
                <h2>您购买的<span class="color-org">小米手机4 4G版神机</span>订单发货啦！</h2>
            </a>
            <p class="msg-time">10分钟前</p>
        </div>
        <div class="cont2">
            <div class="inner-cont">
                <p>
                    <span class="icon-delete"></span>
                </p>
                <p class="bar-a-details">
                    <a  class="color-org" href="#">查看详情</a>
                </p>
            </div>
        </div>
    </li>
    <li>
        <div class="icon-msg-type1"></div>
        <div class="cont1">
            <a>
                <h2>您有一张<span class="color-org">7.5折</span>折扣卡将在2015年11月13日23：59过期</h2>
            </a>
            <p class="msg-time">一天前</p>
        </div>
        <div class="cont2">
            <div class="inner-cont">
                <p>
                    <span class="icon-delete"></span>
                </p>
                <p class="bar-a-details">
                    <a class="color-org" href="#">查看详情</a>
                </p>
            </div>
        </div>
    </li>
</ul>


<div class="UC msg page-index">
    <div class="prev"><</div>
    <div class="indexes">
        <span class="cur">1</span>
        <span>2</span>
        <span>3</span>
        <span>4</span>
        <span>5</span>
    </div>
    <div class="next">></div>
</div>