<p class="menu-cont-title">
    <label>我的晒单</label>

</p>

<div class="my-soo-th">
    <span class="th1">商品信息</span>
    <span class="th2">付款信息</span>
    <span class="th3">操作</span>
 </div>
<div class="my-soo order-list" >
    <div class="order-list-top">
        <img ng-if="list.Order.Brand.BrandImage" real-src={{imgHost+list.Order.Brand.BrandImage+'@64w_64h_100Q.png'}}  temp-src="./res/images/default.png" />
        <p ng-if="list.Order.Brand.BrandName" class="seller-name"><a title="" ng-bind="list.Order.Brand.BrandName"></a></p>

        <p class="create-time" ng-bind="'申请时间：'+list.DataTime"></p>

        <p class="order-sn"><span>订单号：</span>{{list.Id}}</p>
        <span class="icon-delete" ng-if="list.Order.OrderStatus==1" ng-click="removeOrder(list.Order)"></span>
    </div>
    <div class="order-list-cont">
        <div class="cont1 pull-left">
            <div class="cont-img">
                <a href="">
                    <img real-src={{'http://image.luckyec.com/image/b8461534-1321-4618-8188-7e2908b7650d.jpg'}} temp-src="./res/images/default.png" alt=""/>
                </a>
            </div>
            <a class="goods-name" href="">
                <h2 ng-bind="'商品名称'"></h2>
                <small ng-bind="'×'+'1'"></small>
            </a>

            <p ng-repeat="property in list.Order.Specifications" ng-bind="property.name+'：'+property.value"></p>
        </div>
        <div class="cont-payInfo">
            <p>买下价格：<span class="color-org font-14">￥200</span></p>
            <p>单品原价：<span class="line-through color-666">￥400</span></p>
            <p>获得折扣：<span class="so-icon-disc">5折</span></p>
        </div>
        <div class="cont-buttons">
            <p class="txt-center">
                <a class="color-org hover-underline">订单详情</a>
            </p>
            <p class="txt-center hover-underline">
                <a>晒单详情</a>
            </p>
        </div>

    </div>
</div>

</div>


<div class="UC page-index" ng-show="true">
    <div class="prev" ng-click="prevPage()" btn-scroll-to="355"><</div>
    <div class="indexes">

            <span ng-class="{'cur':mySOO.page.index==p}" ng-repeat="p in mySOO.page.items"  ng-click=changePage($index+1)

                  ng-bind="(p==mySOO.page.index-5||p==mySOO.page.index+5)?'...':p+1"
                  ng-if="(p>=mySOO.page.index-5&&p<=mySOO.page.index+5)" btn-scroll-to="355"></span>
    </div>
    <div class="next" ng-click="nextPage()" btn-scroll-to="355">></div>
</div>