<p class="menu-cont-title">
    <label>定金钱包明细</label>
</p>
<ul class="wallet-history">
    <li ng-repeat="list in data_wallet">
        <div class="cont1">
            <a class="img-container" href="#">
                <img src="./res/test/g_dt_bimg.jpg"/>
            </a>
            <h2>
                <a href="#">iPhone 6s 苹果Apple 4G手机iPhone 6s 苹果Apple 4G手机iPhone 6s 苹果Apple 4G手机iPhone 6s 苹果Apple 4G手机iPhone 6s 苹果Apple 4G手机iPhone 6s 苹果Apple 4G手机iPhone 6s 苹果Apple 4G手机iPhone 6s 苹果Apple 4G手机</a>
            </h2>
            <p class="changed-time">2015-09-19 19:40</p>
            <p class="btn-handles">
                <a ng-if="list.BusinnessType==1">支付定金</a>
                <a ng-if="list.BusinnessType==0">购买商品</a>
            </p>
        </div>
        <div class="cont2">
            <div class="inner-cont">
                <p class="wallet-change" ng-bind="(list.TransferType==0)?('+'+list.ChangeValue):('-'+list.ChangeValue)"></p>
                <p class="wallet-balance" ng-bind="'余额：'+list.Balance"></p>
            </div>
        </div>
    </li>
<!--    <li>
        <div class="cont1">
            <a class="img-container" href="#">
                <img src="./res/test/g_dt_bimg.jpg"/>
            </a>
            <h2>
                <a href="#">iPhone 6s 苹果Apple 4G手机</a>
            </h2>
            <p class="changed-time">2015-09-19 19:40</p>
            <p class="btn-handles">
                <a>支付定金</a>
                <a>购买商品</a>
            </p>
        </div>
        <div class="cont2">
            <div class="inner-cont">
                <p class="wallet-change">+105.00</p>
                <p class="wallet-balance">余额：99999.99</p>
            </div>
        </div>
    </li>
    <li>
        <div class="cont1">
            <a class="img-container" href="#">
                <img src="./res/test/g_dt_bimg.jpg"/>
            </a>
            <h2>
                <a href="#">iPhone 6s 苹果Apple 4G手机</a>
            </h2>
            <p class="changed-time">2015-09-19 19:40</p>
            <p class="btn-handles">
                <a>支付定金</a>
                <a>购买商品</a>
            </p>
        </div>
        <div class="cont2">
            <div class="inner-cont">
                <p class="wallet-change">+105.00</p>
                <p class="wallet-balance">余额：99999.99</p>
            </div>
        </div>
    </li>-->
</ul>

<!--<div class="UC wallet page-index">
    <div class="prev"><</div>
    <div class="indexes">
        <span class="cur">1</span>
        <span>2</span>
        <span>3</span>
        <span>4</span>
        <span>5</span>
    </div>
    <div class="next">></div>
</div>-->

