<p class="menu-cont-title">
    <label>安全中心</label>
</p>
<div class="box-userInfo">
    <div class="user-head-img">
        <img ng-src={{imgHost+avatar}} error-src="./res/images/touxiang.jpg"  alt="" />
        <div class="btn-edit-img"  ng-click="editAvatar()">编辑头像</div>
    </div>
    <div>
        <p class="bar-nick-name">
            <span ng-bind="user.UserModel.NickName" ng-show="!nickName_editing"></span>
            <input type="text" ng-model="new_nickname"  ng-show="nickName_editing==true"/>
        </p>
        <span class="btn-edit" ng-click="handleNickName()" ng-bind="(nickName_editing?'保存':'修改')"></span>
        <p class="user-mobile" ng-bind="user.simpleMobile"></p>
    </div>
</div>

<ul class="account-details">
    <li class="before-icon-lock">
        <div class="cont1">
            <h2>账号密码</h2>
            <p class="tips">定期修改密码，保护账户安全</p>
        </div>
        <div class="cont2">
            <p>
                <a  class="color-org" href="/UCIndex/editPassword">修改</a>
            </p>
        </div>
    </li>
<!--    <li class="before-icon-email">
        <div class="cont1">
            <h2>绑定邮箱<span>252***801@qq.com</span></h2>
            <p class="tips">邮箱可以用于重置密码或其他安全验证</p>
        </div>
        <div class="cont2">
            <p>
                <a  class="color-org" href="#">修改</a>
            </p>
        </div>
    </li>-->
    <li class="before-icon-mobile">
        <div class="cont1">
            <h2>绑定手机<span ng-bind="simpleMobile"></span></h2>
            <p class="tips">手机可以用于登录幸运猫，重置密码或其他安全验证</p>
        </div>
        <div class="cont2">
            <p>
                <!--<a  class="color-org" href="/UCIndex/updateCellPhoneNum">修改</a>-->
            </p>
        </div>
    </li>
</ul>