<header></header>
<aside-right></aside-right>
<sub-header>
    <category has-sub-category="false"></category>
</sub-header>

<!--中部 start-->
<div class="bar-userInfo">
    <div class="content">
        <div class="bar-userInfo-left pull-left">
            <div class="user-head-img">
                <img src="./res/images/touxiang.jpg" alt="" />
                <!--<div class="btn-edit-img" btn-edit-img ng-click="openMTXX()" img-src="./res/test/headimg.jpg">编辑头像</div>-->
            </div>
            <h1 ng-bind="data_user.UserModel.NickName"></h1>
            <small ng-bind=""></small>
            <p ng-bind="simpleMobile"></p>
        </div>
        <div class="bar-userInfo-right pull-right">
            <div>
                <h2>喵喵</h2>
                <img src="./res/logo/logo_cat.png" alt=""/>
            </div>
            <h3>喵喵幸运物</h3>
           <!-- <p class="bar-chance">试玩机会：<span class="chance">5</span>次<span class="btn-sign-in">签到送机会</span></p>-->
            <p class="bar-energy">
                <label>体力级：</label>
                <!--<span class="icon_level_uc" ng-bind="luckyEnergy.level"></span>-->
                <span ng-class="'icon icon-lucky-energy-level'+(luckyEnergy.level)"></span>
            </p>
            <p class="exp" title="{{'幸运能量：'+e_val}}">
                <span class="exp-value" style={{'width:'+(luckyEnergy.percent)+'%;'}}></span>
            </p>
            <small title="幸运能量用于游戏，您的能量越多，进入游戏时的初始弹药越多">?</small>
        </div>
    </div>
</div>
<div class="UC content">
    <div class="UC-menu">
        <h2>我的订单</h2>
        <ul>
           <!-- <li ng-class="{'cur':curMenu==1}"><a href="#/UCIndex/myOrders/all">所有订单</a></li>-->
            <li ng-class="{'cur':curMenu==1}"><a href="/UCIndex/myOrders/unPay">待付款</a></a></li>
            <li ng-class="{'cur':curMenu==2}"><a href="/UCIndex/myOrders/paid">待收货</a></a></li>
           <!-- <li ng-class="{'cur':curMenu==3}"><a href="/UCIndex/myOrders/unReceive">待收货</a></li>-->
            <li ng-class="{'cur':curMenu==4}"><a href="/UCIndex/myOrders/finish">已完成</a></li>
            <li ng-class="{'cur':curMenu==5}"><a href="/UCIndex/myOrders/after">售后退款</a></li>
        </ul>
        <h2>我的账户</h2>
        <ul>
            <li ng-class="{'cur':curMenu==6}"><a href="/UCIndex/myWallet">喵喵钱包</a></li>
           <!-- <li ng-class="{'cur':curMenu==7}"><a href="/UCIndex/myDiscountCards/status=0">我的折扣卡</a></li>-->
            <li ng-class="{'cur':curMenu==13}"><a href="/UCIndex/safeAccount">安全中心</a></li>
            <!--<li ng-class="{'cur':curMenu==8}"><a href="/UCIndex/editPassword">修改密码</a></li>-->
            <li ng-class="{'cur':curMenu==9}"><a href="/UCIndex/myAddresses">收货地址</a></li>
            <li ng-class="{'cur':curMenu==14}"><a href="/UCIndex/myMessage/0">我的消息</a></li>
        </ul>
        <!--<h2>客服服务</h2>
        <ul>
            &lt;!&ndash;<li ng-class="{'cur':curMenu==10}"><a href="/UCIndex/helpCenter">帮助中心</a></li>
            <li ng-class="{'cur':curMenu==11}"><a href="/UCIndex/about">关于幸运猫</a></li>&ndash;&gt;
            <li ng-class="{'cur':curMenu==10}"><a href="/help">帮助中心</a></li>
            <li ng-class="{'cur':curMenu==11}"><a href="/about">关于幸运猫</a></li>
            <li ng-class="{'cur':curMenu==12}"><a href="/UCIndex/adviceAndFeedback">建议反馈</a></li>
        </ul>-->
    </div>
    <div class="MTXXContainer" ng-show="isMTXXShow">
        <div id="MTXXContent"></div>
        <span class="btn-close" ng-click="closeMTXX()">×</span>
    </div>
    <div class="UC-menu-cont" ui-view="uc-menu-cont">
    </div>
</div>
<!--中部 end-->


<introduction></introduction>
<sub-footer></sub-footer>
<footer></footer>