<div class="activity-index">


    <div class="act-index-bg">
        <div class="act-bg act-bg1"></div>
        <div class="act-bg act-bg2"></div>
        <div class="act-bg act-bg3"></div>
        <div class="act-bg act-bg4"></div>
    </div>
    <div class="bar-myRecord">
        <button ng-click="showMyRecord()">我的记录</button>
    </div>
    <div class="act-container">
        <div class="bg-top"></div>
        <div class="act-content">
            <div class="content1">
                <div class="cont-title">

                </div>
                <div class="act-tabs">
                    <button ng-class="{'cur':cur_tab==0}" ng-click="changeTab(0)">往期回顾</button>
                    <button ng-class="{'cur':cur_tab==1}" ng-click="changeTab(1)">正在摆擂</button>
                    <button ng-class="{'cur':cur_tab==2}" ng-click="changeTab(2)">下期预告</button>
                </div>
                <div class="loading-act-list" ng-show="loading_list">
                    正在加载...
                </div>
                <div class="nothing" ng-show="data_activity.length==0&&!loading_list">
                    暂无
                </div>
                <ul class="ul-act-list">
                    <li ng-repeat="act in data_activity">
                        <a class="img-container" href="/activity/details/{{act.Id}}" target="_blank">
                            <img ng-src="{{imgHost+act.CommodityImage+'@200w_200h_100Q.jpg'}}" error-src="./res/images/default.png" />

                            <p ng-if="cur_tab==1">结束倒计时：<span time-down="act.remainTime" timevershow="已结束"></span></p>
                            <p ng-if="cur_tab==0">已结束</p>
                            <p ng-if="cur_tab==2">未开始</p>
                        </a>

                        <div class="act-info">
                            <a href="/activity/details/{{act.Id}}">
                                <h2 ng-bind="act.CommodityName" title="{{act.CommodityName}}"></h2>
                            </a>
                            <p>低至<span class="unit">￥</span><span class="min-price" ng-bind="act.minPrice"></span><span class="retail-price"
                                                                                              ng-bind="'￥'+act.RetailPrice"></span>
                            </p>

                            <p class="over-hidden" title="{{act.UserName}}" ng-if="cur_tab!=2">
                                <label class="pull-left">当前擂主：</label>
                                <span class="cur-winner pull-left" ng-bind="act.UserName"></span>
                            </p>
                            <p class="over-hidden" title="{{act.UserName}}" ng-if="cur_tab==2">
                                <label class="pull-left">开始倒计时：</label>
                                <span class="cur-winner pull-left" time-down="act.prevTime" timevershow="已开始！"></span>
                            </p>
                            <p class="bar-btn">
                                <a ng-click="challenge(act)" ng-if="cur_tab==1">立即打擂</a>
                            </p>
                        </div>
                    </li>
                </ul>
                <div class="pg-ctrl">
                    <p>
                        <button ng-click="prevPage()" btn-scroll-to="1230" ng-show="page.list.index>0">上一页</button>
                        <button ng-click="nextPage()" btn-scroll-to="1230" ng-show="page.list.index<page.list.totalPage-1">下一页</button>
                    </p>
                </div>
            </div>
            <div class="content2">
                <div class="cont-title"></div>
                <table class="tb-challenge-record">
                    <tr ng-repeat="rec in data_record">
                        <td>
                            <div class="info-challenger">
                                <img ng-src="{{rec.UserAvatar.image?imgHost+rec.UserAvatar.image:'./res/images/touxiang.jpg'}}" error-src="./res/images/touxiang.jpg"/>

                                <div class="over-hidden">
                                    <h3 class="pull-left user-name" ng-bind="rec.UserName"></h3>
                                    <span  class="pull-left user-area" ng-bind="rec.UserArea!=''?'（'+rec.UserAreaStr+'）':''"></span>
                                </div>
                                <small ng-bind="rec.CreateTimeStr"></small>
                            </div>
                            <img/>
                        </td>
                        <td>
                            <span ng-bind="rec.CommodityName"></span>
                        </td>
                        <td class="txt-center">
                            <div class="get-disc">
                                打到
                                <a><span ng-bind="rec.UserDiscount"></span>折卡</a>
                            </div>
                        </td>
                        <td class="txt-center">
                            <p class="info-time">得分：<span ng-bind="rec.UserGameScore"></span></p>
                        </td>
                        <td class="txt-center">
                            <span ng-class="{'icon-result success':rec.IsPass,'icon-result':!rec.IsPass}"></span>
                        </td>
                    </tr>
                </table>
                <div class="nothing" ng-show="data_record.length==0">
                    暂无挑战记录，赶紧来战吧！
                </div>
            </div>
            <div class="content3">
                <div class="cont-title">

                </div>
                <img src="../../res/images/background/img_act_step.png"/>
            </div>
            <div class="content4">
                <div class="cont-title">

                </div>
                <ul class="act-rules">
                    <li> 所有注册用户都可以参与擂台挑战赛，同一个商品擂台，用户都有一次挑战机会；</li>
                    <li>活动开始时，用户参与游戏获得的分数高于当前最佳纪录视为挑战成功;</li>
                    <li>每次挑战限时10分钟;</li>
                    <li>活动结束时，获得当前最佳纪录的用户将赢得以该纪录折扣购买商品的唯一特权；</li>
                    <li>用户可通过幸运猫APP（目前只有安卓版）分享活动链接获得更多挑战机会，每有1名通过分享链接进入商城并注册成功，分享者将获得一张挑战卡，每张挑战卡可在任意擂台挑战
                        一次；
                    </li>
                    <li>活动奖励在该场擂台结束后以商城内订单方式发放，七天内未对奖励订单付款视为放弃奖励；（过年期间商品不发货，发货时间从2月15日开始）</li>
                    <li>本活动最终解释权归幸运猫所有。</li>
                </ul>
            </div>
        </div>
        <div class="bg-bot">

        </div>
    </div>
    <div class="act-footer">
        <p class="links">
            <a>首页</a>
            <a>关于幸运猫</a>
            <a>新手指南</a>
            <a>常见问题</a>
            <a>联系我们</a>
            <a>用户协议</a>
            <a>售后无忧</a>
        </p>

        <p>
            许可证：<a href="http://www.miitbeian.gov.cn/" target="_blank">粤ICP备15084454号-2</a>
            <span class="footer-item"> 食品流通许可证   SP4401051511045361</span>
        </p>

        <p>Copyright © 2015 幸运猫 xingyunmao.cn，版权所有</p>
    </div>

    <div class="act act-index modal-overlay" ng-style="{'opacity':isMyRecordShow?'1':'0','transition':'all .6s','z-index':isMyRecordShow?'999':'-1'}" >

        <div class="modal-my-record" ng-style="{'top':isMyRecordShow?'0%':'-100%','transition':'top .6s'}">
            <div class="modal-title">
                <span class="pull-left">我的记录</span>
                <p class="pg-ctrl">
                    <a ng-class="{'color-gray':page.myRecord.index==0}" ng-click="prevPageOfMyRecord()">上一页</a>
                    <a ng-class="{'color-gray':data_my_record.length<page.myRecord.pageSize}" ng-click="nextPageOfMyRecord()">下一页</a>
                </p>
            </div>

            <div class="container-myRecord">
                <div ng-style="{'height':'100%'}" ng-show="loading_my_rec">
                    <div class="loading-my-rec" ></div>
                </div>
                <table class="tb-my-record">
                    <tr ng-repeat="rec in data_my_record">
                        <td>
                            <span ng-bind="rec.CreateTime"></span>
                        </td>
                        <td>
                            <span ng-bind="rec.CommodityName" style="text-align:left;"></span>
                        </td>
                        <td>
                            <p>
                                打到<a class="icon_disc"><span class="first-word" ng-bind="rec.UserDiscount"></span>折卡</a>
                            </p>
                        </td>
                        <td>
                            <span ng-bind="'得分：'+rec.UserGameScore"></span>
                        </td>
                        <td>
                            <span class="clg-result success" ng-if="rec.IsPass">挑战成功</span>
                            <span class="clg-result" ng-if="!rec.IsPass">挑战失败</span>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="tx-center color-gray" style="line-height: 300px;" ng-show="data_my_record.length==0&&!loading_my_rec">
                暂无记录
            </div>
        </div>
        <span class="btn-close-myrec" ng-style="{'opacity':isMyRecordShow?'1':'0','transition':'opacity 2s','z-index':isMyRecordShow?'999':'-1'}" ng-click="closeMyRecord()">×</span>
    </div>
</div>