<header></header>
<aside-right></aside-right>
<sub-header nav="activity">
    <category has-sub-category="false"></category>
</sub-header>
<div ui-view="view_activity" class="activity">

</div>
<div class="modal-overlay" ng-show="modal.share.isShow">
    <div class="modal-share">
        <img src="http://webapi.xingyunmao.cn/api/system/appqrcode"/>
        <h2 class="title">扫一扫，进入手机客户端，分享即送挑战卡</h2>
        <p class="text">您已参加过这场擂台，再次发起挑战需要挑战卡</p>
        <p class="text">目前您的挑战卡剩余：<span class="color-org" ng-bind="challengeCards"></span>张</p>
        <p class="bar-buttons">
            <button  ng-click="hideShareModel()">确定</button>
        </p>
        <span class="btn-close" ng-click="hideShareModel()">×</span>
        <p class="bar-no-show">
            <input type="checkbox" id="modal_share_no_show" ng-model="modal.share.unShowAble"/>
            <label for="modal_share_no_show">不再提示</label>
        </p>
    </div>
</div>