<div class="aside-right">
    <ul>
        <li class="aside-r-menu1" id="aside_right_cart">
            <a class="hide-menu hide-menu1" href="/shoppingCart" title=""></a>
            <span class="icon-amount-cart" ng-bind="cartAmount"></span>
        </li>
        <li class="aside-r-menu2">
            <a class="hide-menu hide-menu2" href="#" title="">扫码下载</a>
            <div class="hide-menu hide-menu2-pic">
                <img  src="./res/images/img_2dcode.jpg" alt=""/>
            </div>
        </li>
        <li class="aside-r-menu3">
            <a class="hide-menu hide-menu3" href="/pay" title="">联系客服</a>
        </li>
        <li class="aside-r-menu4">
            <a class="hide-menu hide-menu4" title="" ng-click="showFeedbackModal()">建议反馈</a>
        </li>
        <li class="aside-r-menu5">
            <a class="hide-menu hide-menu5" title="点击回到顶部" btn-return-top>返回顶部</a>
        </li>
    </ul>
</div>