<div class="category">
    <div class="category-top">
        <h4 class="category-title" ng-click="showCategoryContent=!showCategoryContent"><a>全部商品</a></h4>
       <!-- <span ng-show="isShowCategoryBtn" class="btn-slide-down" ng-click="showCategoryContent=!showCategoryContent" ng-style="{transform:showCategoryContent?'rotate(180deg)':'rotate(0deg)',top:showCategoryContent?'10px':'18px',transition:'all 0.3s'}"></span>-->
    </div>

    <ul ng-style="{height:showCategoryContent?'450px':'0px',transition:'height .3s','overflow':showCategoryContent?'visible':'hidden'}" class="static category-cont">
        <li ng-repeat="c in data">
            <h3 >
                <a href="{{c.link}}">{{c.categoryName}}</a>
            </h3>
            <div class="hidden-category">
                <div class="hidden-category-list over-hidden" ng-repeat="child in c.children">
                    <a class="label pull-left" href="{{child.link}}">{{child.childName}}</a>
                    <div class="hidden-category-items pull-left">
                        <a ng-repeat="item in child.items" href="{{item.link}}">{{item.itemName}}</a>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>