<div class="category">
    <div class="category-top">
        <h4 class="category-title" ng-click="showCategoryContent=true"><a>全部商品</a></h4>
        <span ng-show="isShowCategoryBtn" class="btn-slide-down" ng-click="showCategoryContent=!showCategoryContent" ng-style="{transform:showCategoryContent?'rotate(180deg)':'rotate(0deg)',top:showCategoryContent?'10px':'18px',transition:'all 0.3s'}"></span>
    </div>

    <ul ng-style="{height:showCategoryContent?'452px':'0px',transition:'height .3s'}" class="static category-cont">
        <li>
            <h3 >
                <a href="/list/category=57/0/">数码电器</a>
            </h3>
            <p>
                <a href="/list/category=57_18/0/" title="">家电</a>
                <a href="/list/category=57_17/0/" title="">厨电</a>
                <a href="/list/category=57_60/0/" title="">数码通讯</a>
            </p>
         </li>
        <li>
            <h3 >
                <a href="/list/category=41/0/">美颜美妆</a>
            </h3>
            <p>
                <a href="/list/category=41_1/0/" title="">护肤洁面</a>
                <a href="/list/category=41_2/0/" title="">彩妆</a>
                <a href="/list/category=41_3/0/filter=3_0_items=20" title="">香水</a>
            </p>
        </li>
        <li>
            <h3 >
                <a href="/list/category=42/0/">母婴亲子</a>
            </h3>
            <p>
                <a href="/list/category=8/0/filter=8_0_items=46" title="">尿布/湿巾</a>
                <a href="/list/category=8/0/filter=8_0_items=44" title="">奶瓶/水杯</a>
                <a href="/list/category=42_9/0/" title="">车床玩具</a>
            </p>
        </li>
        <li>
            <h3 >
                <a href="/list/category=10/0/">潮流箱包</a>
            </h3>
            <p>
                <a href="/list/category=10/0/filter=10_0_items=59" title="">潮流女包</a>
                <a href="/list/category=10/0/filter=10_0_items=59;filter=11_0_items=65" title="">钱包卡包</a>
                <a href="/list/category=10/0/filter=10_0_items=59;filter=11_0_items=69" title="">旅行箱包</a>
            </p>
        </li>
        <li>
            <h3 >
                <a href="/list/category=46/0/">内衣服饰</a>
            </h3>
            <p>
                <a href="/list/category=30/0/" title="">文胸</a>
                <a href="/list/category=31/0/" title="">保暖打底</a>
                <a href="/list/category=32/0/" title="">家居睡衣</a>
            </p>
        </li>
        <li>
            <h3 >
                <a href="/list/category=43/0/">家纺家居</a>
            </h3>
            <p>
                <a href="/list/category=43_11/0/" title="">床纺</a>
                <a href="/list/category=43_16/0/" title="">布艺软饰</a>
                <a href="/list/category=48/0/filter=40_0_items=227" title="">水杯收纳</a>
            </p>
        </li>
        
        <li>
            <h3 >
                <a href="/list/category=58/0/">精品配饰</a>
            </h3>
            <p>
                <a href="/list/category=58_64/0/" title="">钟表</a>
                <a href="/list/category=58_63/0/" title="">珠宝饰品</a>
                <a href="/list/category=58_65/0/" title="">眼镜</a>
            </p>
        </li>
        <li>
            <h3 >
                <a href="/list/category=45/0/">美食生鲜</a>
            </h3>
            <p>
                <a href="/list/category=45_23/0/" title="">葡萄酒</a>
                <a href="/list/category=45_28/0/" title="">时令水果</a>
                <a href="/list/category=45_24/0/" title="">进口零食</a>
            </p>
        </li>
    </ul>
</div>