<div class="category">
    <div class="category-top">
        <h4 class="category-title"><a href="/home">全部商品</a></h4>
    </div>

    <ul ng-if="showCategoryContent" class="static category-cont">
        <li>
            <h3 >
                <a href="/list/category=1/">美妆个护</a>
            </h3>
            <p>
                <a href="/list/category=1/filter=1_0_items=1" title="">护肤洁面</a>
                <a href="/list/category=2/" title="">彩妆精油</a>
                <a href="/list/category=4/" title="">个人护理</a>
            </p>
         </li>
        <li>
            <h3 >
                <a href="/list/category=17/">家纺家电</a>
            </h3>
            <p>
                <a href="/list/category=11/" title="">床品/套装</a>
                <a href="/list/category=15/" title="">毛巾/坐垫</a>
                <a href="/list/category=18/" title="">家电厨电</a>
            </p>
        </li>
        <li>
            <h3 >
                <a href="/list/category=8/">母婴亲子</a>
            </h3>
            <p>
                <a href="/list/category=8/" title="">尿布/湿巾</a>
                <a href="/list/category=8/" title="">奶瓶/水杯</a>
                <a href="/list/category=8/" title="">车床玩具</a>
            </p>
        </li>
        <li>
            <h3 >
                <a href="/list/category=10/">箱包皮具</a>
            </h3>
            <p>
                <a href="/list/category=10/" title="">潮流女包</a>
                <a href="/list/category=10/" title="">钱包卡包</a>
                <a href="/list/category=10/" title="">旅行箱包</a>
            </p>
        </li>
        <li>
            <h3 >
                <a href="/list/category=32/">内衣</a>
            </h3>
            <p>
                <a href="/list/category=30/" title="">文胸</a>
                <a href="/list/category=31/" title="">保暖打底</a>
                <a href="/list/category=32/" title="">家居睡衣</a>
            </p>
        </li>
        <li>
            <h3 >
                <a href="/list/category=25/">食品生鲜</a>
            </h3>
            <p>
                <a href="/list/category=24/" title="">进口零食</a>
                <a href="/list/category=25/" title="">休闲食品</a>
                <a href="/list/category=28/" title="">水果</a>
            </p>
        </li>
    </ul>
</div>