<div class="footer">
    <div class="content">
        <div class="copyright">
            <p>Copyright © 2015 幸运猫 xingyunmao.cn，版权所有  许可证：<a href="http://www.miitbeian.gov.cn/">粤ICP备15084454号-2</a></p>
        </div>
        <div class="web-sign">
            <!--<img src="./res/test/test_websign1.jpg" alt=""/>-->
          <!--  <img src="./res/test/test_websign2.jpg" alt=""/>-->
<!--            <img src="./res/test/test_websign3.jpg" alt=""/>-->
           <!-- <img src="./res/test/test_websign4.jpg" alt=""/>-->
        </div>
    </div>
</div>
