<div class="header">
    <div class="content">
        <div class="pull-left" ng-show="!isLogin">
            <a class="no-padding-l" href="" title="QQ登录">QQ登录</a>
            <a class="header-has-border" href="/login" title="请登录">请登录</a>
            <a href="/register" title="免费注册">免费注册</a>
        </div>
        <div class="pull-left ng-hide" ng-show="isLogin">
            <div class="user-simpleInfo">
                <img class="user-head-img" src="./res/test/headimg.jpg" alt=""/>
                <p class="name"><a href="/UCIndex/myOrders/unPay" ng-bind="showName"></a></p>
                <span ng-class="'icon icon-lucky-energy-level'+luckyEnergy.level"></span>
            </div>
            <button class="btn-exit" ng-click="exit()">退出</button>
        </div>
        <div class="pull-right">
            <a href="#" title="客户服务">客户服务</a>
            <a class="header-has-border" href="/help" title="帮助中心">帮助中心</a>
            <a class="no-padding-r" href="#" title="客服热线">客服热线:400-888-8888</a>
        </div>
    </div>
</div>