<div class="introduction">
    <ul class="content">
        <li>
            <div class="intro-box">
                <span class="icon-flag"></span>
                <h4>100%原装正品</h4>
                <p>正品保障 放心购物</p>
            </div>
        </li>
        <li>
            <div class="intro-box">
                <span class="icon-heart"></span>
                <h4>无忧退货</h4>
                <p>7天无理由退换货</p>
            </div>
        </li>
        <li>
            <div class="intro-box">
                <span class="icon-flash-light"></span>
                <h4>极速物流</h4>
                <p>极速物流 极速送达</p>
            </div>
        </li>
        <li>
            <div class="intro-box">
                <span class="icon-good"></span>
                <h4>精选100个品牌</h4>
                <p>满足购物需求</p>
            </div>
        </li>
    </ul>
</div>