<div class="long-header">
    <div class="content">
        <div class="logo2">
            <img src="./res/logo/logo2.png" alt="" />
            <h5>购·惠·玩</h5>
        </div>
        <ul class="simple-nav">
            <li>
                <a ng-class="{'cur':cur_nav=='nav1'}" href="/home">首页</a>
                <a ng-class="{'cur':cur_nav=='nav2'}" href="/about">关于幸运猫</a>
                <a ng-class="{'cur':cur_nav=='nav3'}" href="/help">帮助中心</a>
                <a ng-class="{'cur':cur_nav=='nav4'}" href="/touchUs">联系我们</a>
            </li>
        </ul>
    </div>
</div>