<div class="modal-beforeFreePlay" ng-show="isModalBFFPShow">
    <div class="modal-content" >
        <div class="modal-txt">
            <h2 class="chance">您当前还有<span class="color-org" ng-bind="freePlay.chance"></span>次免费游戏机会</h2>
            <p class="chance-tips">每天下午2点前和晚上12点前到个人中心签到，各送1次试玩抢折扣机会！</p>
        </div>
        <div class="bar-btn">
            <button class="btn btn-outline"    ng-click="closeModalBFFP()">取消 </button>
            <button ng-class="{'btn btn-balanced':freePlay.chance>0,'btn btn-gray':freePlay.chance<=0}"
                    ng-click="openFreeGame()" ng-disabled="!(freePlay.chance>0)">进入游戏
            </button>
        </div>
        <span class="btn-close" title="取消" ng-click="closeModalBFFP()">×</span>
    </div>

</div>
