<div>
    <div class="modal-before-game" ng-show="isModal1show">
        <div class="modal-content" ng-class="{'modal1-show':isModal1show,'modal1-hide':!isModal1show}">
            <div class="luckyEnergy-info">
                <img src="./res/logo/logo_cat.png" alt=""/>

                <h2>喵喵幸运物</h2>

                <p class="level">体力级： <span
                        ng-class="'icon icon-energy-level icon-lucky-energy-level'+luckyEnergy.level"></span></p>

                <p class="box-energy">
                    <span class="energy-value" style={{'width:'+luckyEnergy.percent+'%;'}}></span>
                </p>
            </div>
            <div class="tips">
                <p ng-bind="energy.tips"></p>
            </div>
            <div class="bar-btn">
                <button ng-class="{'btn btn-org':data_eo.EarnestMoney<data_eo.EarnestPercent*data_orgCost,'btn btn-gray':data_eo.EarnestMoney>=data_eo.EarnestPercent*data_eo.orgCost||data_eo.DiscountValue=='0'}"
                        ng-click="showModal2()"  ng-disabled="data_eo.EarnestMoney>=data_eo.EarnestPercent*data_eo.orgCost||data_eo.DiscountValue=='0'">支付定金
                </button>
                <button ng-class="{'btn btn-balanced':energy.isEnough,'btn btn-gray':!energy.isEnough}"
                        ng-click="play()" ng-disabled="!energy.isEnough">进入游戏
                </button>
            </div>
            <span class="btn-close" title="取消" ng-click="closeModal1()">×</span>
            <a class="md-btn-buyNow"  ng-click="purchase()">立即购买</a>
        </div>
d
    </div>

    <div class="modal-protocol-payForEnergy" ng-show="isModal2show">
        <div class="modal-content" ng-class="{'modal2-show':isModal2show,'modal2-hide':!isModal2show}">
            <h1>定金支付说明</h1>
            <div class="protocol-content">
                <p>① 支付定金是为了确认您的购买意向，方便我们为您保留库存，同时赠予游戏机会。</p>

                <p>②支付定金后，若您不想购买该商品了，则系统会在订单取消之后，把已支付的定金退回到您的定金钱包里。下次购买商品时，可以直接用来支付所需商品的定金。</p>

                <p>③ 当您需要退货时，我们会为您全额退款。若因产品质量问题发生的退货，则退款会全部（包含定金）退回至您的支付宝或者微信账户中；若非因产品质量问题发生的退货，则退款当中的定金部分退回到您的定金钱包中，其余款项则直接退回您的支付宝或者微信账户中。</p>

                <p>④ 为了不让您忘记定金钱包里的余额，在您下一次购买商品时系统会优先使用您定金钱包中的余额来支付商品定金。</p>

            </div>


            <div class="bar-btn">
                <a class="btn btn-org" ng-click="payForEarnest()">支付定金</a>
            </div>
            <span class="btn-close" title="取消" ng-click="closeModal2()">×</span>
        </div>
    </div>
</div>
