<div class="modal-overlay" ng-show="visible">
   <div class="modal-getDisc">
       <div class="slider-left">
           <h2 class="modal-title">获取优惠</h2>

           <ul class="menu" ng-class="{'disabled':!(order.EarnestBusinessType==0||(order.EarnestBusinessType==5&&(order.EarnestMoney+order.CouponMoney)<order.EarnestPrice*order.Count))}">
               <li class="btn-payForEarnest" ng-click="payEarnest()">
                   付定金进游戏
               </li>
               <li class="btn-exc-m" ng-click="showContentExchangeEarnest()" ng-class="{'disabled':!(order.EarnestBusinessType==0&&($scope.order.EarnestBusinessType==4&&$scope.order.EarnestMoney<$scope.order.EarnestPrice*$scope.order.Count))}">
                  钱包抵现金
               </li>
           <!--    <li class="btn-purchase" ng-click="purchase()">
                   立即购买
               </li>-->
              <!-- <li class="btn-play">
                   进入游戏
               </li>-->
           </ul>
       </div>

       <div class="slider-right content-exchangeEnergy" ng-style="{'left':content_exchange_energy?'0%':'100%','transition':'left 0s'}">
           <h2 class="modal-title">使用幸运豆进游戏
               <span class="btn-return pull-right " ng-click="closeModal()" style="font-size: 24px" >×</span>
           </h2>
           <table >
               <tr>
                   <th >商品信息</th>
                   <th>数量</th>
                   <th>需付幸运豆</th>
               </tr>
               <tr>
                   <td>
                       <div class="box-commodity">
                           <img ng-src={{imgHost+order.imageUrl}} />
                           <h2 ng-bind="order.CommodityName"></h2>
                           <p class="color-gray" ng-repeat="p in order.Specifications"ng-bind="p.name+'：'+p.value"></p>
                       </div>
                   </td>
                   <td class="txt-center" ng-bind="order.Count">20</td>
                   <td class="txt-center color-org" >
                        <span class="icon-xyd xs"></span>{{order.earnest_cost*100}}
                   </td>
               </tr>
           </table>
           <div class="box-coupon-info">
               <p>
                   <label>我的幸运豆</label>
               </p>
                <p>
                    可用余额
                    <span class="icon-xyd xs"></span><span class="color-org" ng-bind="data_balance.Coupon.Balance*100"></span>
                </p>
           </div>
           <p class="tips-coupon-exc">温馨提示：幸运豆有使用期限，请妥善使用！</p>
           <div class="txt-center" ng-if="order.EarnestBusinessType==0">
               <button ng-class="{'btn-exc disabled':data_balance.Coupon.Balance<order.earnest_cost,'btn-exc':data_balance.Coupon.Balance>=order.earnest_cost}" ng-click="playWidthCoupon()" ng-bind="btn_val.exc_coupon"></button>
               <!--<button class="btn-cancel" ng-click="hideContentExchangeEnergy()">取消</button>-->
           </div>
           <div class="txt-center color-org" ng-if="order.EarnestBusinessType!=0">
                该订单已获取过优惠，不能重复获取！
           </div>
       </div>
       <div class="slider-right content-exchangeEarnest" ng-style="{'left':isExchangeWithEarnest?'0%':'100%','transition':'left 0.3s'}">
           <h2 class="modal-title">
               钱包抵现金
               <span class="btn-return pull-right " ng-if="!cancelExchangeWithEarnestAction" ng-click="closeModal()" style="font-size: 24px" >×</span>
               <span class="btn-return pull-right"  ng-if="cancelExchangeWithEarnestAction" ng-click="hideContentExchangeEarnest()">返回</span>
           </h2>
           <table >
               <tr>
                   <th >商品信息</th>
                   <th>数量</th>
                   <th>可抵用额度</th>
               </tr>
               <tr>
                   <td>
                       <div class="box-commodity">
                           <img ng-src={{imgHost+order.imageUrl}} />
                           <h2 ng-bind="order.CommodityName"></h2>
                           <p class="color-gray" ng-repeat="p in order.Specifications"ng-bind="p.name+'：'+p.value"></p>
                       </div>
                   </td>
                   <td class="txt-center" ng-bind="order.Count"></td>
                   <td class="txt-center color-org" ng-bind="'￥'+order.earnest_cost">

                   </td>
               </tr>
           </table>

           <div class="box-wallet-info" ng-click="toggleCheckWallet()">
               <p>
                   <label>喵喵钱包</label>
               </p>
               <p>
                   可用余额
                   <span class="color-org" ng-bind="'￥'+data_balance.Wallet.Balance"></span>
               </p>
               <p class="use-blc" ng-if="use_wallet>0">
                   将扣除<span class="color-org"  ng-bind="'￥'+use_wallet"></span>
               </p>
               <p class="use-blc color-org" ng-if="order.earnest_cost>0&&use_wallet==0&&isCheckedWallet&&data_balance.Wallet.Balance>0" style="margin-left:-18px;">
                   优先使用红包
               </p>
               <a  ng-if="data_balance.Wallet.Balance>0" ng-class="{'ck-box checked':isCheckedWallet,'ck-box':!isCheckedWallet}">
               </a>
               <a class="no-blc" ng-if="data_balance.Wallet.Balance==0">无可用余额</a>
           </div>

           <div class="txt-center" ng-if="order.EarnestBusinessType==0">
               <button ng-class="{'btn-exc disabled':exchange_val()<=0,'btn-exc':exchange_val()>0}"  ng-bind="btn_val.exc_db" ng-click="exchange()"></button>
          <!--     <button class="btn-cancel" ng-click="hideContentExchangeEarnest()">取消</button>-->
           </div>
           <div class="txt-center color-org" ng-if="order.EarnestBusinessType!=0">
               该订单已获取过优惠，不能重复获取！
           </div>
       </div>
       <span class="btn-close" ng-click="closeModal()">×</span>
   </div>
</div>