<div class="modal-overlay ng-hide" ng-show="visible">
   <div class="modal-gameMenu">
        <div class="modal-title">
            选择游戏
        </div>
       <ul class="ul-g-menu">
            <li class="fingerGuessing" ng-click="play('fingerGuessing')">
                <div class="img-btn">

                </div>
                  <a class="btn-play" ng-click="play('fingerGuessing')">进入游戏</a>
            </li>
           <li class="fishing" ng-click="play('fishing')">
               <div class="img-btn">

               </div>
               <a class="btn-play" ng-click="play('fishing')">进入游戏</a>
           </li>
       </ul>
       <span class="btn-close" ng-click="closeModal()">×</span>
   </div>
</div>