<div class="sub-footer">
    <div class="content">
        <div class="sub-footer-l">
            <h2>400-8888-888</h2>
            <p class="inline-time">周一至周日 <span>8:00-18:00</span></p>
            <p>
                <a class="btn-inline-service" href="#" title="在线客服">在线客服</a>
            </p>
        </div>
        <div class="sub-footer-r">
            <ul>
                <li class="map-title">新手指南</li>
                <li>
                    <a href="#" title="">新手指南</a>
                </li>
                <li>
                    <a href="#" title="">常见问题</a>
                </li>
                <li>
                    <a href="/help" title="">帮助中心</a>
                </li>
                <li>
                    <a href="#" title="">用户协议</a>
                </li>
            </ul>
            <ul>
                <li class="map-title">关于幸运猫</li>
                <li>
                    <a href="/about" title="">幸运猫介绍</a>
                </li>
                <li>
                    <a href="#" title="">加入我们</a>
                </li>
                <li>
                    <a href="/touchUs" title="">联系我们</a>
                </li>
            </ul>
            <ul>
                <li class="map-title">支付方式</li>
                <li>
                    <a href="#" title="">在线支付</a>
                </li>
                <li>
                    <a href="#" title="">余额支付</a>
                </li>
                <li>
                    <a href="#" title="">积分支付</a>
                </li>
            </ul>
            <ul>
                <li class="map-title">配送方式</li>
                <li>
                    <a href="#" title="">配送费用</a>
                </li>
                <li>
                    <a href="#" title="">配送说明</a>
                </li>
                <li>
                    <a href="#" title="">验货说明</a>
                </li>
            </ul>
            <ul>
                <li class="map-title">售后服务</li>
                <li>
                    <a href="#" title="">正品保障</a>
                </li>
                <li>
                    <a href="#" title="">7天无理由退换</a>
                </li>
                <li>
                    <a href="#" title="">退换政策</a>
                </li>
            </ul>
            <ul>
                <li class="map-title">友情链接</li>
                <li>
                    <a href="http://m.kuaidi100.com" target="_blank">快递查询</a>
                </li>
            </ul>
        </div>
    </div>
</div>