<header></header>
<aside-right></aside-right>
<sub-header nav="3">
    <category has-sub-category="false"></category>
</sub-header>
<!--中部 start-->
<style>
    .content.err404{
        height:700px;
        background:url(../res/images/background/404.jpg) 50% 15% no-repeat ;
        overflow: hidden;
    }
    .content.err404 .err404-info{
        margin-top:300px;
        text-align: center;
        font-size:36px;;
    }
</style>
<div class="container bg-white">
    <div class="content err404">
        <h2 class="err404-info">页面找不到了！</h2>
    </div>
</div>
<!--中部 end-->



<introduction></introduction>
<sub-footer></sub-footer>
<footer></footer>