<header></header>
<aside-right></aside-right>
<sub-header>
    <category has-sub-category="false"></category>
</sub-header>

<!--中部 start-->
<div class="content">
    <div class="shopping-status-top">
        <div class="pull-left">
            <h1>核对订单信息</h1>
        </div>
        <div class="shopping-steps pull-right">
            <span>我的购物车</span>
            <span class="has-arrow-white cur">核对订单信息</span>
            <span class="has-arrow-org">提交订单</span>
        </div>
    </div>
</div>
<form class="form-confirm-order">
    <div class="content box-confirmOrder">
        <p class="label-cont-name">
            <label>收货地址</label>
        </p>
        <ul class="address-list">
            <li ng-class="{'cur':selected_address.Id==address.Id}" ng-repeat="address in data_addresses|orderBy:'Selected':true" ng-click="changeConsignee(address)">
                <h3><span ng-bind="address.ConsigneeName"></span>{{address.ConsigneeMobile}}</h3>

                <p class="address-info" ng-bind="address.Area+' '+address.ConsigneeAddress"></p>

            </li>
            <li class="btn-addAddress" ng-click="showAddressModal()">
                <h5>+</h5>
                <small>添加地址</small>
            </li>
        </ul>
        <div class="part-line"></div>
        <p class="label-cont-name"><label>商品信息</label><a href="/shoppingCart" class="a-returnCart" ng-if="source=='shoppingCart'">返回购物车修改</a></p>

        <div class="confirmOrder-th">
            <span>商品信息</span>
            <span>原价</span>
            <span>折后价</span>
            <span>待支付</span>
        </div>
        <div class="goods-list" ng-repeat="order in data_orders">
            <div class="bar-sellerInfo">
                <img real-src={{imgHost+order.Brand.BrandImage+'@32w_32h_100Q.png'}} temp-src="./res/images/default.png" alt=""/>
                <p ng-bind="order.Brand.BrandName"></p>
            </div>
            <div class="goods-list-cont">
                <div class="cont1">
                    <div class="img-container">
                        <img  ng-src={{imgHost+order.imageUrl+'@100w_100h_100Q.jpg'}} alt=""/>
                    </div>
                    <a class="goods-name" href="/goodsDetails/{{order.CommodityId}}">
                        <h2 ng-bind="order.CommodityName" title={{order.CommodityName}}></h2>
                        <small ng-bind="'×'+order.Count"></small>
                    </a>
                    <p ng-bind="property.name+'：'+property.value" ng-repeat="property in order.Specifications"></p>
                </div>
                <div class="cont2">
                    <div class="cont-container">
                        <p ng-bind="'￥'+order.orgCost"></p>
                    </div>
                </div>
                <div class="cont3">
                    <div class="cont-container">
                        <p class="discount-price"  ng-bind="'￥'+order.cost"></p>
                        <p>已享用折扣卡<span class="icon-discount" ng-bind="(order.DiscountVal*10).toFixed(1)+'折'"></span></p>
                    </div>
                </div>
                <div class="cont4">
                    <div class="cont-container">
                        <p class="unPay" ng-bind="'￥'+order.needToPay"></p>
                        <p ng-if="order.EarnestMoney>0">已付定金<span class="color-org" ng-bind="'￥'+order.EarnestMoney"></span></p>
                    </div>
                </div>
            </div>
        </div>


        <p class="label-cont-name">
            <label>支付方式</label>
        </p>

        <p class="s-label">
            <small>在线支付</small>
        </p>
        <ul class="btn-pay-models">
            <li ng-class="{'cur':pay_type=='zhifubao'}" ng-click="changePayType('zhifubao')">
                <span>√</span>
                <div class="img-container">
                    <img src="./res/images/zhifubao.png" alt=""/>
                </div>
            </li>
            <li ng-class="{'cur':pay_type=='weixin'}" ng-click="changePayType('weixin')">
                <span></span>
                <div class="img-container">
                    <img src="./res/images/weixinpay.png" alt=""/>
                </div>
            </li>
<!--            <li ng-class="{'cur':pay_type=='caifutong'}" ng-click="changePayType('caifutong')">
                <span></span>
                <div class="img-container">
                    <img src="./res/test/cft.png" alt=""/>
                </div>
            </li>-->
        </ul>
        <p class="s-label">
            <small>网银支付</small>
        </p>
        <ul class="btn-pay-models">
            <li ng-class="{'cur':pay_type=='bank_icbc'}" ng-click="changePayType('bank_icbc')">
                <span></span>
                <div class="img-container">
                    <img src="./res/images/bank_icbc.png" alt=""/>
                </div>
            </li>
            <li ng-class="{'cur':pay_type=='bank_jianshe'}" ng-click="changePayType('bank_jianshe')">
                <span></span>
                <div class="img-container">
                    <img src="./res/images/bank_jianshe.png" alt=""/>
                </div>
            </li>
            <li ng-class="{'cur':pay_type=='bank_nongye'}" ng-click="changePayType('bank_nongye')">
                <span></span>
                <div class="img-container">
                    <img src="./res/images/bank_nongye.png" alt=""/>
                </div>
            </li>
            <li ng-class="{'cur':pay_type=='bank_zhaoshang'}" ng-click="changePayType('bank_zhaoshang')">
                <span></span>
                <div class="img-container">
                    <img src="./res/images/bank_zhaoshang.png" alt=""/>
                </div>
            </li>
            <li ng-class="{'cur':pay_type=='bank_zhongguo'}" ng-click="changePayType('bank_zhongguo')">
                <span></span>
                <div class="img-container">
                    <img src="./res/images/bank_zhongguo.png" alt=""/>
                </div>
            </li>
            <li ng-class="{'cur':pay_type=='bank_xingye'}" ng-click="changePayType('bank_xingye')">
                <span></span>
                <div class="img-container">
                    <img src="./res/images/bank_xingye.png" alt=""/>
                </div>
            </li>
            <li ng-class="{'cur':pay_type=='bank_pingan'}" ng-click="changePayType('bank_pingan')">
                <span></span>
                <div class="img-container">
                    <img src="./res/images/bank_pingan.png" alt=""/>
                </div>
            </li>
            <li ng-class="{'cur':pay_type=='bank_youzheng'}" ng-click="changePayType('bank_youzheng')">
                <span></span>
                <div class="img-container">
                    <img src="./res/images/bank_youzheng.png" alt=""/>
                </div>
            </li>
        </ul>
        <p class="label-cont-name">
            <label>发票信息</label>
        </p>
        <ul class="invoice-list">
            <li ng-class="{'cur':invoice.type==1}" >
                <span ng-click="chooseInvoice(1)">我要发票</span>
            </li>
        </ul>
        <div class="bar-invoice-input" ng-show="invoice.input" >
            <p>
                <label>发票类型：</label>
                <span>纸质发票</span>
            </p>
            <p>
                <label>发票抬头：</label>
                <input placeholder="个人或公司" ng-model="invoice.title"/>
            </p>
        </div>
<!--        <div class="receipt-tips">
                <div class="receipt-tips-cont">电子发票目前仅对个人用户开具，不可用于单位报销！</div>
                <div class="receipt-tips-cont color-org hover-tips">什么是电子发票<span class="icon">?</span>
                    <p class="pop-box">电子发票是指在购销商品、提供或者接受
                        服务以及从事其他经营活动中，开具、收取的
                        以电子方式存储的收付款凭证，与传统纸质发
                        票具有同等法律效力，可作为用户维权、保修
                        的有效凭据。</p>
                </div>
        </div>-->

        <div class="confirmOrder-bottom">
            <div>
                <label>收货地址信息：</label>
                <p class="final-address" ng-bind="selected_address.ConsigneeName+' '+selected_address.ConsigneeMobile+'  '+selected_address.Area+''+selected_address.ConsigneeAddress"></p>
            </div>
            <div>
                <label>支付方式：</label>
                <p ng-bind="showPayType()"></p>
            </div>
            <div>
                <label>商品数量：</label>
                <p ng-bind="total_amount"></p>
            </div>
            <div>
                <label>合计金额：</label>
                <p><span class="cost" ng-bind="'￥'+total_cost"></span>元</p>
            </div>
            <div>
                <button class="btn-submitOrder" ng-click="submitOrder()" ng-bind="btn_val_purchase"></button>
            </div>
        </div>

    </div>
</form>
<!--中部 end-->

<div class="CO modal-overlay ng-hide" ng-show="isModalAddressShow==true">
    <form class="modal-add-address" name="form_address" ng-submit="addAddress()" novalidate="novalidate">
        <h4>添加收货地址</h4>
        <p class="input-tips" ng-show="inputTips!=''" ng-bind="inputTips"></p>
        <p>
            <label>姓名</label>
            <input type="text" placeholder="收货人姓名" ng-model="modal_consignee" name="consignee" required />
            <span class="symbol">*</span>
        </p>

        <p>
            <label>手机</label>
            <input type="text" placeholder="手机号码" ng-model="modal_mobile" name="mobile" ng-pattern="/^[1][3458]\d{9}$/" required />
            <span class="symbol">*</span>
        </p>

        <p>
            <label>地址</label>
            <input class="input-area" name="area"  id="CO_area" readonly area-picker  area-picker-finish="areaInputFinish" area-picker-position="fixed" ng-model="modal_area" placeholder="请选择区域" required/>
            <span class="symbol">*</span>
        </p>

        <p>
            <textarea ng-model="modal_address" placeholder="请输入详细地址" name="address" required></textarea>
            <span class="symbol">*</span>
        </p>

<!--        <p>
            <label class="label-receive-time">收货时间</label>
            <a class="selected-time cur">不限</a>
            <a class="selected-time">周一至周五</a>
            <a class="selected-time">周六至周日</a>
            <span class="symbol">*</span>
        </p>-->

        <p>
            <input class='btn-submit-address' type='submit' ng-value="value_btn_save" />
        </p>
        <span class="btn-close" ng-click="closeAddressModal()">×</span>
    </form>
</div>

<div class="modal-container" ng-if="isModalWaitingShow">
    <div class="modal-waitingPay">
        <p class="bar-time">请于<span count-down="1800" time-over="payTimeOver"></span>内，在新打开的页面完成支付</p>
        <p class="bar-paySuccess">若已成功支付，请点击：<a ng-click="testTradeStatus()">已完成付款</a></p>
        <p class="bar-payError">如果付款遇到问题，请您到“待支付”订单列表重新支付</p>
        <p class="bar-support"><a>在线客服</a></p>
        <span class="btn-close" title="关闭" ng-click="closeWaitingPayModal()">×</span>
        <div class="tips-unFinish" ng-if="isTipsUnFinishShow==true">
            <p class="bar-tips">检测到您并<span class="color-org">未支付</span>，请您在<span class="color-org">新打开的页面</span>中完成支付</p>
            <p class="bar-time">
                <span class="color-org" count-down="tips_unPay_showTime" time-over="returnWaitingModal"></span>
                后返回
            </p>
            <p class="bar-btn">
                <a ng-click="returnWaitingModal()">确定</a>
            </p>
        </div>
    </div>
</div>
<introduction></introduction>
<sub-footer></sub-footer>
<footer></footer>