<!--长头部  begin-->
<long-header nav="nav4"></long-header>
<!--长头部  end-->

<!--中部 begin-->
<div class="about container">
    <div class="content">
        <div class="page-location">
            <a>幸运猫</a>
            <a>联系我们</a>
        </div>
        <div class="box-touch">
            <h2 class="box-title">联系我们</h2>
            <div class="title-img">
                <img src="./res/images/touch1.jpg" alt=""/>
            </div>
            <div class="boxes">
                <div class="bbs bbs1">
                    <h3>品牌招商</h3>
                    <p class="describe">如果您想在幸运猫销售您的商品，请点此 <a class="color-org">了解更多</a> </p>
                    <p>联系人：   X先生</p>
                    <p>  E-mail：  abcdef@luckyec.com</p>
                    <p> 电话：     020-22330164</p>
                </div>
                <div class="bbs bbs2">
                    <h3>物流招商</h3>
                    <p class="describe">招有实力的物流地产、全国快递、干线车队、同省落地配送、仓储物料、仓储设备的资源提供商前来合作！</p>
                    <p>联系人：   X先生</p>
                    <p> E-mail：   abcdef@luckyec.com</p>
                    <p>电话：      020-22330164</p>
                </div>
                <div class="bbs bbs3">
                    <h3>广州幸云至商电子商务有限公司</h3>
                    <p> 地址：      广州市 海珠区 新港东路琶洲新村11栋1902室</p>
                    <p> E-mail：   abcdef@luckyec.com</p>
                    <p>电话：      020-22330164</p>
                </div>
            </div>
            <div class="map" id="map" location-map>

            </div>
        </div>
    </div>
</div>
<!--中部 end-->

<introduction></introduction>

<sub-footer></sub-footer>

<footer></footer>