<hidden-category></hidden-category>
    <header></header>

    <aside-right></aside-right>
    <sub-header nav="fs">
        <category has-sub-category="false"></category>
    </sub-header>
<div class="fs" style="min-width:1100px; background:#5C057A; font-size: 14px; padding-bottom: 40px">

    <div class="fs_banner">
        <div class="fs-light">

        </div>
        <div class="fs-img-title">

        </div>
        <div class="time-down-slf" ng-show="freeShopping.remainTime>0">
             <div class="hours">
                  <span class="val">{{freeShopping.time.h}}</span>
                  <span class="unit">时</span>
             </div>
             <div class="minutes">
                 <span class="val">{{freeShopping.time.m}}</span>
                 <span class="unit">分</span>
             </div>
             <div class="sec">
                 <span class="val">{{freeShopping.time.s}}</span>
                 <span class="unit">秒</span>
             </div>
        </div>
        <div class="time-down-slf" ng-show="freeShopping.remainTime<=0">
            <span style="color:#F79700;font-size:24px;line-height: 30px;font-family: kaiti">已结束!</span>
        </div>
        <div class="btn-read-rules ng-hide" btn-scroll-to="999999">查看规则</div>
    </div>
    <div class="fs_w1100 fs_nrbg">
        <p class="txt-center" style="color:#B44EDA;line-height: 180px;" ng-show="freeShopping.loading">加载中...</p>
        <ul class="fs_shangpin" ng-show="!freeShopping.loading">
            <li ng-repeat="fs in freeShopping.data" ng-class="{'vip':fs.AreaType==1}">
                <a class="img-container" href="/fs/{{fs.CommodityId}}/{{fs.Id}}">
                    <img ng-src={{imgHost+fs.CommodityImage}} error-src="./res/images/default.png" />
                </a>
                <div class="fs_sp_you">
                    <p class="txt-nowrap-ellipsis" title="{{fs.CommodityName}}">
                        <a href="/fs/{{fs.CommodityId}}/{{fs.Id}}">
                            {{fs.CommodityName}}
                         </a>
                    </p>
                    <p class="unit-price">
                        <p class="spec">
                            <font ng-repeat="sp in fs.Specifications">{{sp.value}}</font>
                        </p>
                    </p>
                    <div class="fs_jdt">
                        <span class="fs_jdt2" ng-style="{'width':(fs.SurplusCount/fs.TotalCount)*100+'%'}"></span>
                    </div>
                    <div class="fs_jdt_wz">
                        <span class="float_right">已抢购 <i>{{fs.TotalCount-fs.SurplusCount}}</i></span>
                        <span class="float_left">剩余 <i>{{fs.SurplusCount}}</i></span>
                    </div>
                    <div class="fs_bottom">
                        <div class="price" >
                            <span class="icon-xyd xs" title="幸运豆"></span>
                            <span class="cur-xyd">{{fs.BeansCount}}</span>
                            <span class="old-xyd">{{fs.BeansCount*2}}</span>
                            <span class="pull-right" style="line-height:34px;">  {{'原价：￥'+fs.UnitPrice}}</span>
                        </div>
                        <span class="fs_lyqg" ng-click="freeShopping.fsPlay(fs)">
                            {{freeShopping.isLoadingChance&&freeShopping.selectedActivity.Id==fs.Id?'处理中':'抢福利'}}
                            <i ng-if="freeShopping.isLoadingChance&&freeShopping.selectedActivity.Id==fs.Id" class="dotting"></i>
                        </span>
                    </div>
                </div>
                <div  ng-if="fs.OptionalGameType!=0"
                        ng-class="{'icon-game-type icon-game-type1':fs.OptionalGameType==1,'icon-game-type icon-game-type2':fs.OptionalGameType==2}">
                </div>
            </li>
        </ul>
        <div class="page txt-no-select" ng-if="freeShopping.page.pageCount>1">
            <ul >
                <li ng-class="{'disabled':freeShopping.page.index==0}" ng-click="freeShopping.prevPage()">上一页</li>
                <li ng-class="{'cur':p==freeShopping.page.index}" ng-repeat="p in freeShopping.page.items" ng-click="freeShopping.changePage(p)">{{p+1}}</li>
                <li  ng-class="{'disabled':freeShopping.page.index==freeShopping.page.pageCount-1}" ng-click="freeShopping.nextPage()">下一页</li>
            </ul>
        </div>
    </div>

    <div class="fs_hdgz">
        <p><span>①</span>活动商品只需使用少量的幸运豆（平台补贴其余的幸运豆）即可进入折扣游戏，获得和幸运购同等的折扣机会，用户可用获得的折扣来购买该商品； </p>
        <p><span>②</span>每天只能参与1次活动，活动中只能使用幸运豆，不接受定金赠送幸运豆；</p>
        <p><span>③</span>标明参与资格的活动商品，用户需达到相应资格后方可解锁参与；</p>
        <p><span>④</span>活动的最终解释权归幸运猫商城所有。</p>
    </div>
</div>
<modal-game-menu visible="gameMenu.show" gamectrl="gameMenu" ></modal-game-menu>
    <introduction></introduction>
    <sub-footer></sub-footer>
    <footer></footer>