<header ng-title="item.itemData.CommodityName+' '+item.itemData.Description+'_幸运猫'"></header>
<sub-header>
    <category has-sub-category="false"></category>
</sub-header>
<aside-right></aside-right>
<!--中部 start-->
<spinner ng-show="item.loading"></spinner>
<div class="G-details container">
    <div class="content" ng-show="!item.loading">
        <div class="page-location" ng-show="item.categoryName">
            <a href="/home">幸运猫</a>
            <a ng-bind="item.categoryName" href="/list/{{'category='+item.categoryData.categoryId}}/0/"></a>
            <a ng-repeat="i in item.categoryData.items" ng-bind="i.itemValue" href="/list/{{'category='+item.categoryData.categoryId}}/0/{{'filter='+i.filterId+'_0_'+'items='+i.itemId}}"></a>
        </div>
        <div class="box-goodsDetails">
            <!--<div class="tag-free-played" ng-if="data_goods.IsCanFree&&isFreePlayed">
                <span>已试玩</span>
            </div>-->
            <div class="box-goods-img" slide-box-img >
                <div class="big-goods-img tx-center" >

                    <ul ng-style="{left:-index*460+'px',width:item.itemData.SmallImages.length*460+'px'}">
                        <li ng-repeat="Img in item.itemData.SmallImages">
                            <img class="big-img" id={{'img_show'+$index}}  ng-src={{imgHost+Img+'@500w_500h_100Q.jpg'}} alt=""  error-src="./res/images/default.png" magnifier  magnifier-img={{imgHost+Img}} />
                        </li>
                    </ul>
                </div>
                <div class="small-goods-img">
                    <ul class="goods-index" id="details_goods_index">
                        <li ng-class="{'cur': index==$index}" ng-repeat="sImg in item.itemData.SmallImages"  ng-mouseenter="showBigImg($index)">
                            <img  real-src={{imgHost+sImg+'@70w_70h_100Q.png'}} alt="" temp-src="./res/images/default.png" />
                        </li>
                    </ul>
                </div>
                <div class="s-index">
                    <a class="prev-img txtUnSelect" ng-click="prevImg(item.itemData.SmallImages.length-1)"></a>
                    <a class="next-img txtUnSelect" ng-click="nextImg(item.itemData.SmallImages.length-1)"></a>
                </div>
            </div>
            <form class="pro-info" ng-show="!loading">
                <h1 ng-bind="item.itemData.CommodityName"></h1>
                <small ng-bind="item.itemData.Description"></small>

                <div class="bar-time">

                    <p>活动倒计时:<span class="color-org" time-down="item.remainTime" timeovershow="已结束"></span></p>
                </div>
                <div class="pro-price">

                    <div class="box-prices">
                        <div class="item-price number-slider" number-slider="item.itemData">
                            <label>幸运价：</label>
                            <span class="unit">￥</span>
                            <span class="pull-left org-price" ng-bind="item.itemData.maxPrice"></span>
                            <span class="img-get-disc"></span>
                            <span class="unit" ng-show="cur_price>0">￥</span>
                            <ul class="prices-slider" ng-show="cur_price>0">
                                <li ng-show="cur_price>=1000">
                                    <div class="item-slider">
                                        <div class="item-num" ng-repeat="num in numbers" ng-bind="num"></div>
                                        <div class="item-num" ng-repeat="num in numbers" ng-bind="num"></div>
                                    </div>
                                   <!-- <div class="item-overlay" ng-show="overlay[0]"></div>-->
                                </li>
                                <li ng-show="cur_price>=100">
                                    <div  class="item-slider">
                                        <div class="item-num" ng-repeat="num in numbers" ng-bind="num"></div>
                                        <div class="item-num" ng-repeat="num in numbers" ng-bind="num"></div>
                                    </div>
                                    <!--<div class="item-overlay" ng-show="overlay[1]"></div>-->
                                </li>
                                <li ng-show="cur_price>=10">
                                    <div  class="item-slider" >
                                        <div class="item-num" ng-repeat="num in numbers" ng-bind="num"></div>
                                        <div class="item-num" ng-repeat="num in numbers" ng-bind="num"></div>
                                    </div>
                                  <!--  <div class="item-overlay" ng-show="overlay[2]"></div>-->
                                </li>
                                <li ng-show="cur_price>0">
                                    <div class="item-slider">
                                        <div class="item-num" ng-repeat="num in numbers" ng-bind="num"></div>
                                        <div class="item-num" ng-repeat="num in numbers" ng-bind="num"></div>
                                    </div>
                                    <!--<div class="item-overlay" ng-show="overlay[3]"></div>-->
                                </li>
                            </ul>
                            <div class="prices-slider free"  ng-show="cur_price<=0">
                                0
                            </div>
                            <div class="discount-slider">
                                <ul>
                                    <li ng-bind="cur_disc<1?(cur_disc>0?(cur_disc*10).toFixed(1)+'折':'免单'):'无折扣'"></li>
                                </ul>
                            </div>
                        </div>
                        <p class="explain"><span class="color-999">说明：</span>最终以玩游戏赢折扣的<span class="color-org">幸运价</span>为商品成交价</p>
                       <!-- <div class="item-price item-price2">


                            <p class="color-999">说明：</p>
                            <p class="">最终以玩游戏迎折扣的<span class="color-org">幸运价</span>为商品成交价</p>
                        </div>-->
                    </div>


                </div>
                <div class="bar-reference" ng-if="item.POOData.length>0">
                    <label>价格参考</label>
                    <ul>
                        <li ng-repeat="p in item.POOData">
                            <a href={{p.link}} title="{{p.SiteName+'：'+'￥'+p.SpPrice}}" target="_blank">
                                <span ng-bind="p.sSiteName">京东</span>
                                <em ng-bind="'￥'+p.price"></em>
                            </a>
                        </li>
                    </ul>
                </div>
                <ul class="pro-property">
                    <li ng-repeat="property in item.fs.Property">
                        <label ng-bind="property.name"></label>

                        <p>
                            <a class="cur" ng-bind="property.value"></a>
                        </p>
                    </li>
                    <li ng-if="item.fs.OptionalGameType!=0">
                        <label>游戏类型</label>
                        <div class="over-hidden" ng-if="item.fs.OptionalGameType==2" style="line-height: 45px;">
                            <img class="pull-left"  src="./res/images/background/bg_gmenu1.png" style="width:22px;height:22px;background: red;border-radius: 3px;margin-top:12px;margin-right: 5px" title="猜拳游戏"/>
                            <span class="pull-left" >猜拳游戏</span>
                        </div>
                        <div class="over-hidden" ng-if="item.fs.OptionalGameType==1" style="line-height: 45px;">
                            <img class="pull-left"  src="./res/images/background/bg_gmenu2.png" style="width:22px;height:22px;background: red;border-radius: 3px;margin-top:12px;margin-right: 5px" title="捕鱼游戏"/>
                            <span class="pull-left" >捕鱼游戏</span>
                        </div>
                    </li>
                </ul>
                <div class="bar-amount" style="margin-left:66px;">
                    <div style="width:80%">
                        <div style="width:100%;height:10px;background: #eee;border-radius: 20px;overflow: hidden">
                            <div  style="height:100%;background:#ff7d27" ng-style="{'width':(item.fs.SurplusCount/item.fs.TotalCount)*100+'%'}"></div>
                        </div>
                        <div class="over-hidden" style="width:100%">
                            <p class="pull-left" style="margin-left: 0px;">剩余数量<span class="color-org">{{item.fs.SurplusCount}}</span></p>
                            <p class="pull-right">总数量<span class="color-org">{{item.fs.TotalCount}}</span></p>
                        </div>
                    </div>
                </div>
                <div class="bar-btn" style="margin-top:20px;">

                    <input ng-if="item.itemData.CommodityType==0" class="btn-buy" type="button" ng-value="item.btnVal.buyNow.cur"  ng-click="item.fsPlay()" />
                </div>
                <ul class="ul-svc">
                            <li>全场包邮</li>
                            <li>100%正品</li>
                            <li>售后无忧</li>
                </ul>
            </form>

        </div>
        <div class="box-proIntro tabs">
            <div class="tab-item">
                <span ng-class="{'item cur':item.curTab==1,'item':item.curTab!=1}" ng-click="item.changeTab(1)">详细信息</span>
                <!--<span ng-class="{'item cur':item.curTab==2,'item':item.curTab!=2}" ng-click="item.changeTab(2)">折扣排行榜</span>-->
                <span ng-class="{'item cur':item.curTab==3,'item':item.curTab!=3}" ng-click="item.changeTab(3)">商品晒单</span>
            </div>
            <div class="tab-content tab-cont1" ng-show="item.curTab==1">
                <ul class="pro-showing-images">
                    <li ng-repeat="img in item.itemData.BigImages">
                        <img lazy-src="{{imgHost+img}}" alt="" />
                    </li>
                </ul>
                <div class="box-pro-show">
                </div>
            </div>
            <div class="tab-content tab-cont2" ng-show="item.curTab==2">
                <p class="tips-nothing" ng-if="item.rankingData.length==0">暂无</p>
               <table class="item-ranking-table" ng-if="item.rankingData.length>0">
                   <tr class="tr-th">
                       <th>排名</th>
                       <th>用户名</th>
                       <th>已抢折扣</th>
                       <th>折后价</th>
                       <th>已省</th>
                       <th>游戏分数</th>
                       <!--<th>日期</th>-->
                   </tr>
                   <tr ng-repeat="rank in item.rankingData">
                       <td>
                            <span class="{{$index<3?'top top'+($index+1):'top'}}" ng-bind="$index+1"></span>
                       </td>
                       <td>
                            <span ng-bind="rank.NickName"></span>
                       </td>
                       <td>
                           <span class="icon-discount" ng-bind="rank.DiscountValue+'折'"></span>
                       </td>
                       <td>
                           <span class="final-price color-org" ng-bind="'￥'+(item.itemData.maxPrice-rank.SaveMoney)"></span>
                       </td>
                       <td>
                           <span ng-bind="'￥'+rank.SaveMoney"></span>
                       </td>
                       <td>
                           <span ng-bind="rank.GameScore"></span>
                       </td>
                     <!--  <td>
                           <span class="color-gray" ng-bind="rank.WinningTime"></span>
                       </td>-->
                   </tr>
               </table>
               <p class="color-gray" ng-if="data_ranking.length>0">注：目前仅显示前10名</p>
            </div>
            <div class="tab-content tab-cont3" ng-show="item.curTab==3">
                <ul class="ul-soo-common" ng-show="item.currentPageOfSOO.length>=0&&!item.pageOfSOO.loading">
                    <li class="li-soo-common" ng-repeat="soo in item.currentPageOfSOO track by $index">
                        <div class="box-shower">
                            <img class="avatar" ng-src={{imgHost+soo.Avatar.image}} error-src="./res/images/touxiang.jpg" />
                            <div class="over-hidden">
                                <p class="shower-name font-14 pull-left" ng-bind="soo.Nickname"></p>

                                <p class="time color-gray pull-left" ng-bind="soo.CreateTime"></p>
                            </div>
                            <p>
                                <label>获得折扣：</label><span class="so-icon-disc" ng-bind="soo.DiscountValue+'折'"></span>
                                <a class="link-dt color-org z-index-2" href="/soo_dt/{{soo.Id}}">[详情]</a>
                            </p>
                        </div>
                        <div class="info">
                            <p ng-bind="soo.Content">

                            </p>
                            <ul class="ul-images ">
                                <li ng-class="{'cur':soo.bigImgIndex==$index}" ng-repeat="img in soo.images" ng-click="item.showBigImgOfSOO($index,soo)">
                                    <a class="img-container">
                                        <img real-src={{imgHost+img}} temp-src="./res/images/default.png"  />
                                    </a>
                                </li>
                            </ul>
                            <div class="big-img" ng-style="{'width':soo.bigImgIndex!=-1?'100%':'0px','height':soo.bigImgIndex!=-1?'inherit':'0px'}" ng-click="item.showBigImgOfSOO(-1,soo)">
                                <img ng-if="soo.bigImgIndex!=-1" ng-src={{imgHost+soo.bigImgUrl}} />
                            </div>
                        </div>
                        <div class="bar-buttons txt-right">
                            <p class="btn-like pull-right" ng-click="item.likeSOO(soo)" ng-style="{'color':soo.liked?'red':'#333'}">
                                <i class="iconfont lm-heart"></i>
                                <label>{{soo.liked?'已赞':'赞'}}<span>（{{soo.LikeCount}}）</span></label>
                            </p>
                        </div>
                    </li>
                </ul>
                <div class="loading-tips" ng-show="item.pageOfSOO.loading">正在加载...</div>
                <p class="tips-nothing" ng-show="item.currentPageOfSOO.length<=0&&!item.pageOfSOO.loading">暂无</p>
                <div class="page-index txt-no-select" ng-show="item.currentPageOfSOO.length>0&&!item.pageOfSOO.loading">
                    <div class="prev" ng-click="item.prevPageOfSOO()" btn-scroll-to="825"><</div>
                    <div class="indexes">
                                 <span ng-class="{'cur':item.pageOfSOO.index==p}" ng-repeat="p in item.pageOfSOO.items" ng-click=item.changePageOfSOO(p)
                                                ng-bind="(p==item.pageOfSOO.index-5||p==item.pageOfSOO.index+5)?'...':p+1"
                                                ng-if="(p>=item.pageOfSOO.index-5&&p<=item.pageOfSOO.index+5)" btn-scroll-to="825"></span>
                    </div>
                    <div class="next" ng-click="item.nextPageOfSOO()" btn-scroll-to="825">></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--中部 end-->
<modal-game-menu visible="gameMenu.show" gamectrl="gameMenu" ></modal-game-menu>

<introduction></introduction>

<sub-footer></sub-footer>
<footer></footer>