
<!--长头部  begin-->
<long-header nav="nav3"></long-header>
<!--长头部  end-->

<!--中部 begin-->
<div class="help container">
    <div class="content">
        <div class="page-location">
            <a href="/home">幸运猫</a>
            <a>帮助中心</a>
        </div>
        <div class="box-help">
            <h2 class="box-title">帮助中心</h2>
            <div class="steps">
                <h3 class="label label1">购物流程</h3>
                <ul>
                    <li class="step1">
                        <span>①</span><a>注册新账户</a>
                    </li>
                    <li class="step2">
                        <span>②</span><a>挑选商品</a>
                    </li>
                    <li class="step3">
                        <span>③</span><a>玩游戏赢折扣</a>
                    </li>
                    <li class="step4">
                        <span>④</span><a>确认下单</a>
                    </li>
                    <li class="step5">
                        <span>⑤</span><a>验货签收</a>
                    </li>
                </ul>
            </div>
            <div class="QA">
                <div class="QA-list">
                    <h3 class="label label2">新手专区</h3>
                    <div class="QA-list-cont QA-list-cont1">
                        <p><a href="">幸运猫是什么意思？</a></p>
                        <p><a href="">如何去玩游戏赢折扣购物？</a></p>
                        <p><a href="">我的包裹几天可以收到?</a></p>
                        <p><a href="">账号登录密码、支付密码找回自助操作说明</a></p>
                    </div>
                    <div class="QA-hot">
                        <p class="question">我的包裹几天可以收到？</p>
                        <p class="answer">若商品页面中，显示“无货”时：商品具体的到货时间是无法确定的，您可以通过
                            商品页面的“到货通知”功能获得商品到货提醒。
                        </p>
                    </div>
                </div>
                <div class="QA-list">
                    <h3 class="label label3">购物指南</h3>
                    <div class="QA-list-cont QA-list-cont2">
                        <p><a href="">幸运猫是什么意思？</a></p>
                        <p><a href="">如何去玩游戏赢折扣购物？</a></p>
                        <p><a href="">我的包裹几天可以收到?</a></p>
                        <p><a href="">账号登录密码、支付密码找回自助操作说明</a></p>
                    </div>
                    <div class="QA-hot">
                        <p class="question">我的包裹几天可以收到？</p>
                        <p class="answer">若商品页面中，显示“无货”时：商品具体的到货时间是无法确定的，您可以通过
                            商品页面的“到货通知”功能获得商品到货提醒。
                        </p>
                    </div>
                </div>
                <div class="QA-list">
                    <h3 class="label label4">配送方式</h3>
                    <div class="QA-list-cont QA-list-cont3">
                        <p><a href="">幸运猫是什么意思？</a></p>
                        <p><a href="">如何去玩游戏赢折扣购物？</a></p>
                        <p><a href="">我的包裹几天可以收到?</a></p>
                        <p><a href="">账号登录密码、支付密码找回自助操作说明</a></p>
                    </div>
                    <div class="QA-hot">
                        <p class="question">我的包裹几天可以收到？</p>
                        <p class="answer">若商品页面中，显示“无货”时：商品具体的到货时间是无法确定的，您可以通过
                            商品页面的“到货通知”功能获得商品到货提醒。
                        </p>
                    </div>
                </div>
                <div class="QA-list">
                    <h3 class="label label5">售后服务</h3>
                    <div class="QA-list-cont QA-list-cont4">
                        <p><a href="">幸运猫是什么意思？</a></p>
                        <p><a href="">如何去玩游戏赢折扣购物？</a></p>
                        <p><a href="">我的包裹几天可以收到?</a></p>
                        <p><a href="">账号登录密码、支付密码找回自助操作说明</a></p>
                    </div>
                    <div class="QA-hot">
                        <p class="question">我的包裹几天可以收到？</p>
                        <p class="answer">若商品页面中，显示“无货”时：商品具体的到货时间是无法确定的，您可以通过
                            商品页面的“到货通知”功能获得商品到货提醒。
                        </p>
                    </div>
                </div>
            </div>
            <div class="hot-QA-list">
                <h3 class="label label6">热门问题</h3>
                <ul>
                    <li>
                        <a>
                            <p class="question">我的包裹几天可以收到？</p>
                            <p class="answer">若商品页面中，显示“无货”时：商品具体的到货时间是无法确定的，您可以通过商品页面的“到货通知”功能获得商品到货提醒。</p>
                        </a>
                    </li>
                    <li>
                        <a>
                            <p class="question">我的包裹几天可以收到？</p>
                            <p class="answer">同个订单购买多个商品可能会分为一个以上包裹发出，可能不会同时送达，建议您耐心等待1-2天，如未收到，京东自营商品可直接联系京东在线客服，第三方商家商品请联系商家在
                                线客服。</p>
                        </a>
                    </li>
                    <li>
                        <a>
                            <p class="question">我的包裹几天可以收到？</p>
                            <p class="answer">若商品页面中，显示“无货”时：商品具体的到货时间是无法确定的，您可以通过商品页面的“到货通知”功能获得商品到货提醒。</p>
                        </a>
                    </li>
                    <li>
                        <a>
                            <p class="question">我的包裹几天可以收到？</p>
                            <p class="answer">同个订单购买多个商品可能会分为一个以上包裹发出，可能不会同时送达，建议您耐心等待1-2天，如未收到，京东自营商品可直接联系京东在线客服，第三方商家商品请联系商家在
                                线客服。</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!--中部 end-->

<introduction></introduction>

<sub-footer></sub-footer>

<footer></footer>