<hidden-category></hidden-category>
<div class="right" ng-class="{'right move-right':showHiddenCategory,'right':!showHiddenCategory}">
    <header></header>

    <aside-right></aside-right>
    <sub-header nav="2">
        <category></category>
    </sub-header>

    <!--css3-banner图  begin-->
    <div class="banner banner-css3" banner-css3="data_banner">
        <ul>
            <li ng-repeat="banner in data_banner" ng-style="{'opacity':(banner_index==$index)?1:0,transition:'opacity 1s','z-index':(banner_index==$index)?1:0}">
            <!--<li ng-repeat="img in data_banner" ng-style="{left:(100*$index-100*banner_index)+'%',transition:'left 0.3s'}">-->
                <a  title="" ng-click="actionBanner(banner)">
                    <img ng-src={{imgHost+banner.ImageData+'@1920w_450h_100Q.jpg'}} alt="" error-src="./res/images/default.png"/>
                </a>
            </li>

        </ul>
        <a class="prev" ng-click="prevBanner()"></a>
        <a class="next" ng-click="nextBanner()"></a>

        <div class="banner-index">
            <a ng-class="{'cur-banner-index':banner_index==$index}" ng-repeat="index in data_banner"
               data-index={{$index}} ng-mouseenter="showBanner($index)"></a>
        </div>
    </div>
    <!--css3-banner图  end-->

    <ul class="floor-nav" floor-nav len="data_floor.length" ng-style="{'opacity':showFloorNav==true?'1':'0','transition':'opacity 1s'}">
        <li ng-repeat="f in data_floor" ng-click="scrollTo('floor'+$index)" ng-class="{'cur':cur_floor==$index}" ng-style="{'border-color':(cur_floor-1==$index||cur_floor==$index)?'transparent':'#eee'}">
            <p ng-bind="f.name"></p>
        </li>
    </ul>

    <!--中部 start-->
    <div class="container">
        <div class="content">
            <div class="module-so" ng-show="data_soo.orgData.length>=4"> <!--晒单模块-->
                <div class="md-top">
                    <h2>晒单分享<span class="color-base">晒单抢红包</span></h2>
                    <a href="/showOffOrders" class="more">更多></a>
                </div>
                <ul class="over-hidden ul-index-soo">
                    <li ng-repeat="soo in data_soo.general" ng-show="data_soo">
                        <a href="/soo_dt/{{soo.Id}}" target="_blank">
                            <div class="box-user">
                                <div class="avatar">
                                    <img ng-src={{imgHost+soo.Avatar.image}} error-src="./res/images/touxiang.jpg" />
                                </div>
                                <p class="user-name" title={{soo.NickName}} ng-bind="soo.Nickname"></p>
                                <p class="color-999" ng-bind="soo.CreateTime"></p>
                                <p class="bar-icons">
                                    <span class="so-icon-disc" ng-bind="'获得'+soo.DiscountValue+'折'"></span>
                                 </p>
                            </div>
                            <div class="box-dt">
                                <div class="img-container">
                                    <!--<img ng-src="{{imgHost+soo.images[0]}}" error-src="./res/images/default.png"  img-adaptation-self />-->
                                    <img real-src={{imgHost+soo.images[0]}} temp-src="./res/images/default.png"   img-adaptation-self />
                                </div>
                                <div class="so-describe" ng-bind="soo.Content">

                                </div>
                            </div>
                        </a>

                    </li>
                    <li class="large" ng-show="data_soo">
                        <a  href="/soo_dt/{{data_soo.large.Id}}" target="_blank">
                            <div class="large-img">
                                <img ng-src={{imgHost+data_soo.large.images[0]}} error-src="./res/images/default.png" img-adaptation-self  />
                            </div>
                            <div class="large-dt">
                                <div class="large-dt-user">
                                    <img ng-src={{imgHost+data_soo.large.Avatar.image}} error-src="./res/images/touxiang.jpg" />
                                    <div class="over-hidden bar-show-info">
                                        <p class="pull-left user-name" ng-bind="data_soo.large.Nickname"></p>
                                        <p class="pull-left color-999" ng-bind="data_soo.large.CreateTime"></p>
                                        <p class=" pull-right">
                                            <span class="so-icon-disc" ng-bind="'获得'+data_soo.large.DiscountValue+'折'"></span>
                                        </p>
                                    </div>
                                </div>
                                <div class="large-dt-describe" ng-bind="data_soo.large.Content">

                                </div>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>







<!--            <div class="soo-slide-box">
                 <ul>
                     <li></li>
                 </ul>
            </div>-->

            <grid griddata="data_floor"></grid>
        </div>
    </div>

    <modal-game-menu visible="gameMenu.show" gamectrl="gameMenu" ></modal-game-menu>

    <!--中部 end-->
    <introduction></introduction>
    <sub-footer></sub-footer>
    <footer></footer>



</div>