<hidden-category></hidden-category>
<div class="right" ng-class="{'right move-right':showHiddenCategory,'right':!showHiddenCategory}">
    <header></header>

    <aside-right></aside-right>
    <sub-header nav="2">
        <category></category>
    </sub-header>

    <!--css3-banner图  begin-->
    <div class="banner banner-css3" banner-css3="data_banner">
        <ul>
            <li ng-repeat="banner in data_banner" ng-style="{'opacity':(banner_index==$index)?1:0,transition:'opacity 1s','z-index':(banner_index==$index)?1:0}">
            <!--<li ng-repeat="img in data_banner" ng-style="{left:(100*$index-100*banner_index)+'%',transition:'left 0.3s'}">-->
                <a  title="" ng-click="actionBanner(banner)">
                    <img ng-src={{imgHost+banner.ImageData+'@1920w_450h_100Q.jpg'}} alt="" error-src="./res/images/default.png"/>
                </a>
            </li>

        </ul>
        <a class="prev" ng-click="prevBanner()"></a>
        <a class="next" ng-click="nextBanner()"></a>

        <div class="banner-index">
            <a ng-class="{'cur-banner-index':banner_index==$index}" ng-repeat="index in data_banner"
               data-index={{$index}} ng-mouseenter="showBanner($index)"></a>
        </div>
    </div>
    <!--css3-banner图  end-->

    <ul class="floor-nav" floor-nav len="data_floor.length" ng-style="{'opacity':showFloorNav==true?'1':'0','transition':'opacity 1s'}">
        <li ng-repeat="f in data_floor" ng-click="scrollTo('floor'+$index)" ng-class="{'cur':cur_floor==$index}" ng-style="{'border-color':(cur_floor-1==$index||cur_floor==$index)?'transparent':'#eee'}">
            <p ng-bind="f.name"></p>
        </li>
    </ul>

    <!--中部 start-->
    <div class="container">
        <div class="content">




            <div class="lucky-bro" ng-if="data_broadcasts.length>2">
                <div class="lucky-bro-title">

                </div>
                <ul>
                    <li ng-repeat="bro in data_broadcasts track by $index"
                        ng-style="{'z-index':(bro_ctrl.index==0&&$index==data_broadcasts.length-1)||bro_ctrl.index==$index||bro_ctrl.index-1==$index?'10':'2',
                        'top':(bro_ctrl.index==0&&$index==data_broadcasts.length-1)||bro_ctrl.index-1==$index?'-60px':(bro_ctrl.index==$index?'0px':'60px'),
                        'transition':'top .6s'}">
                        <a href="/item/{{bro.CommodityId}}" target="_blank">
                            <img class="avatar" ng-src={{imgHost+bro.Avatar.image}}
                                 error-src="./res/images/touxiang.jpg"/>

                            <div class="td1 user pull-left">
                                <h2 class="pull-left text-break" ng-bind="bro.Nickname"></h2>
                            </div>
                            <div class="td2 pull-left">
                                <div class="inner">

                                   <!-- <span class="color-999" ng-bind="bro.CreateTime"></span>-->
                                    <span class="color-999">玩游戏获得</span>
                                    <span class="item-name" ng-bind="bro.CommodityName"></span>

                                </div>
                            </div>
                            <div class="td3 pull-left">
                                <p class="disc-card">
                                    {{bro.DiscountValue}}<span class="font-14">折卡</span>
                                </p>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>


            <div class="module-soo" ng-if="data_soo.length>0">
                <div class="md-top">
                    <h2>晒单分享<span class="color-base">晒单抢红包</span></h2>
                    <a href="/showOffOrders" class="more">更多<span>+</span></a>
                </div>
                <div class="soo-slider-box" soo-slider="data_soo" ng-style="{'width':data_soo.length*100*2+'%'}">
                    <ul ng-repeat="slier in data_soo" ng-style="{'width':(100/data_soo.length/2)+'%'}">
                        <li class="li-soo" ng-repeat="soo in slier">
                            <div class="soo-shower">
                                <img ng-src={{imgHost+soo.Avatar.image}} error-src="./res/images/touxiang.jpg" />

                                <p>
                                    <span class="nickname" ng-bind="soo.Nickname">岁月如歌、</span>
                                    <span class="color-999" ng-bind="soo.CreateTime"></span>
                                </p>

                                <p class="over-hidden">
                                    <span class="soo-disc-card pull-left">{{soo.DiscountValue+'折卡'}}</span>
                                    <span class="item-name pull-left text-break" >{{soo.CommodityName}}</span>
                                </p>
                            </div>
                            <div class="describe text-break">
                                <a href="/soo_dt/{{soo.Id}}">
                                    <span>{{soo.Content}}</span>
                                </a>
                            </div>
                            <div class="images">
                                <a href="/soo_dt/{{soo.Id}}">
                                    <div class="img-adapt" ng-repeat="img in soo.images" ng-if="$index<3" >
                                        <img real-src={{imgHost+img+'@200w_200h_100Q.jpg'}} temp-src="./res/images/default.png"   img-adapt-self/>
                                    </div>
                                 </a>

                            </div>
                        </li>
                    </ul>
                    <ul ng-repeat="slier in data_soo" ng-style="{'width':(100/data_soo.length/2)+'%'}">
                        <li class="li-soo" ng-repeat="soo in slier">
                            <div class="soo-shower">
                                <img ng-src={{imgHost+soo.Avatar.image}} error-src="./res/images/touxiang.jpg" />

                                <p>
                                    <span class="nickname" ng-bind="soo.Nickname">岁月如歌、</span>
                                    <span class="color-999" ng-bind="soo.CreateTime"></span>
                                </p>

                                <p class="over-hidden">
                                    <span class="soo-disc-card pull-left">{{soo.DiscountValue+'折卡'}}</span>
                                    <span class="item-name pull-left text-break" >{{soo.CommodityName}}</span>
                                </p>
                            </div>
                            <div class="describe text-break">
                                <a href="/soo_dt/{{soo.Id}}">
                                    <span>{{soo.Content}}</span>
                                </a>
                            </div>
                            <div class="images">
                                <a href="/soo_dt/{{soo.Id}}">
                                    <div class="img-adapt" ng-repeat="img in soo.images" ng-if="$index<3">
                                        <img real-src={{imgHost+img+'@200w_200h_100Q.jpg'}} temp-src="./res/images/default.png"   img-adapt-self  />
                                    </div>
                                </a>
                            </div>
                        </li>
                    </ul>

                </div>
                <i class="btn-prev txt-no-select" ng-click="prev()"></i>
                <i class="btn-next txt-no-select" ng-click="next()"></i>
            </div>

            <grid griddata="data_floor"></grid>
        </div>
    </div>





    <div class="modal-overlay deepest" ng-show="isFirstAcc">
        <div class="modal-firstAccess" >
            <div class="modal-content">
                <img src="../res/images/firstAccess/first.jpg" />
                <div class="btn-close" ng-click="cancelGuide()"></div>
            </div>
        </div>
    </div>




    <modal-game-menu visible="gameMenu.show" gamectrl="gameMenu" ></modal-game-menu>

    <!--中部 end-->
    <introduction></introduction>
    <sub-footer></sub-footer>
    <footer></footer>



</div>