<header ng-title="item.itemData.CommodityName+' '+item.itemData.Description+'_幸运猫'"></header>
<sub-header>
    <category has-sub-category="false"></category>
</sub-header>
<aside-right></aside-right>
<!--中部 start-->
<spinner ng-show="item.loading"></spinner>
<div class="G-details container">
    <div class="content" ng-show="!item.loading">
        <div class="page-location" ng-show="item.categoryName">
            <a href="/home">幸运猫</a>
            <a ng-bind="item.categoryName" href="/list/{{'category='+item.categoryData.categoryId}}/0/"></a>
            <a ng-repeat="i in item.categoryData.items" ng-bind="i.itemValue" href="/list/{{'category='+item.categoryData.categoryId}}/0/{{'filter='+i.filterId+'_0_'+'items='+i.itemId}}"></a>
        </div>
        <div class="box-goodsDetails">
            <!--<div class="tag-free-played" ng-if="data_goods.IsCanFree&&isFreePlayed">
                <span>已试玩</span>
            </div>-->
            <div class="box-goods-img" slide-box-img >
                <div class="big-goods-img tx-center" >
                   <!-- <img class="big-img" id="img_show"  ng-src={{imgHost+data_goods.SmallImages[index]}} alt=""  error-src="./res/images/default.png" />-->
                    <img src="./res/images/item_before_sell.png" class="img-so" ng-if="item.itemData.status==0||item.itemData.status==-2"/>
                    <img src="./res/images/item_out6.png" class="img-so" ng-if="item.itemData.status==-1||item.itemData.status==4||item.itemData.status==5||item.itemData.status==6"/>
                   <!-- <img src="./res/images/item_out4.png" class="img-so" ng-if="data_goods.status==4"/>-->
                    <ul ng-style="{left:-index*460+'px',width:item.itemData.SmallImages.length*460+'px'}">
                        <li ng-repeat="Img in item.itemData.SmallImages">
                            <img class="big-img" id={{'img_show'+$index}}  ng-src={{imgHost+Img+'@500w_500h_100Q.jpg'}} alt=""  error-src="./res/images/default.png" magnifier  magnifier-img={{imgHost+Img}} />
                        </li>
                    </ul>
                </div>
                <div class="small-goods-img">
                    <ul class="goods-index" id="details_goods_index">
                        <li ng-class="{'cur': index==$index}" ng-repeat="sImg in item.itemData.SmallImages"  ng-mouseenter="showBigImg($index)">
                            <img  real-src={{imgHost+sImg+'@70w_70h_100Q.png'}} alt="" temp-src="./res/images/default.png" />
                        </li>
                    </ul>
                </div>
                <div class="s-index">
                    <a class="prev-img txtUnSelect" ng-click="prevImg(item.itemData.SmallImages.length-1)"></a>
                    <a class="next-img txtUnSelect" ng-click="nextImg(item.itemData.SmallImages.length-1)"></a>
                </div>
            </div>
            <form class="pro-info" ng-show="!loading">
                <h1 ng-bind="item.itemData.CommodityName"></h1>
                <small ng-bind="item.itemData.Description"></small>
                <div class="bar-time">
                    <p ng-if="item.itemData.status==-2">未到开售时间</p>
                    <p class="remain-time" ng-if="item.itemData.status==1">距下架时间：<span time-down="item.itemData.remainTime"></span></p>
                    <p ng-if="item.itemData.status==6">该商品已售罄</p>
                    <p ng-if="item.itemData.status==0" class="color-red">未到开售时间</p>
                    <p ng-if="item.itemData.status==5||item.itemData.status==-1">该商品已售罄</p>
                    <p ng-if="item.itemData.status==4">该商品已售罄</p>
                </div>
                <div class="pro-price">

                    <div class="box-prices">
                        <div class="item-price number-slider" number-slider="item.itemData">
                            <label>幸运价：</label>
                            <span class="unit">￥</span>
                            <span class="pull-left org-price" ng-bind="item.itemData.maxPrice"></span>
                            <span class="img-get-disc"></span>
                            <span class="unit" ng-show="cur_price>0">￥</span>
                            <ul class="prices-slider" ng-show="cur_price>0">
                                <li ng-show="cur_price>=1000">
                                    <div class="item-slider">
                                        <div class="item-num" ng-repeat="num in numbers" ng-bind="num"></div>
                                        <div class="item-num" ng-repeat="num in numbers" ng-bind="num"></div>
                                    </div>
                                   <!-- <div class="item-overlay" ng-show="overlay[0]"></div>-->
                                </li>
                                <li ng-show="cur_price>=100">
                                    <div  class="item-slider">
                                        <div class="item-num" ng-repeat="num in numbers" ng-bind="num"></div>
                                        <div class="item-num" ng-repeat="num in numbers" ng-bind="num"></div>
                                    </div>
                                    <!--<div class="item-overlay" ng-show="overlay[1]"></div>-->
                                </li>
                                <li ng-show="cur_price>=10">
                                    <div  class="item-slider" >
                                        <div class="item-num" ng-repeat="num in numbers" ng-bind="num"></div>
                                        <div class="item-num" ng-repeat="num in numbers" ng-bind="num"></div>
                                    </div>
                                  <!--  <div class="item-overlay" ng-show="overlay[2]"></div>-->
                                </li>
                                <li ng-show="cur_price>0">
                                    <div class="item-slider">
                                        <div class="item-num" ng-repeat="num in numbers" ng-bind="num"></div>
                                        <div class="item-num" ng-repeat="num in numbers" ng-bind="num"></div>
                                    </div>
                                    <!--<div class="item-overlay" ng-show="overlay[3]"></div>-->
                                </li>
                            </ul>
                            <div class="prices-slider free"  ng-show="cur_price<=0">
                                0
                            </div>
                            <div class="discount-slider">
                                <ul>
                                    <li ng-bind="cur_disc<1?(cur_disc>0?(cur_disc*10).toFixed(1)+'折':'免单'):'无折扣'"></li>
                                </ul>
                            </div>
                            <div class="comment-link txt-right" ng-if="item.comment.show">
                                <a href="{{item.comment.href}}" target="=_blank">
                                    <p>累计评论</p>
                                    <p class="color-org">{{item.comment.count}}</p>
                                    <p>评论直达<span class="site-link">{{item.comment.siteName}}</span>
                                    </p>
                                </a>
                            </div>
                        </div>
                        <p class="explain"><span class="color-999">说明：</span>最终以玩游戏赢折扣的<span class="color-org">幸运价</span>为商品成交价</p>

                    </div>


                </div>
                <div class="bar-reference" ng-if="item.POOData.length>0">
                    <label>价格参考</label>
                    <ul>
                        <li ng-repeat="p in item.POOData">
                            <a href={{p.link}} title="{{p.SiteName+'：'+'￥'+p.SpPrice}}" target="_blank">
                                <span ng-bind="p.sSiteName">京东</span>
                                <em ng-bind="'￥'+p.price"></em>
                            </a>
                        </li>
                    </ul>
                </div>
                <p class="color-999 ng-hide" title="玩游戏，赢取惊喜折扣！">
                    温馨提示：使用<span class="icon-xyd xs"></span><label class="color-red">{{item.itemData.EarnestPrice*item.amount*100}}幸运豆</label>
                    即可兑换一次游戏赢折扣机会，赶紧行动吧！
                </p>
                <ul ng-class="{'pro-property':item.showTips==false,'pro-property unFinish':item.showTips==true}">
                    <p class="tips">请勾选您需要的商品选项：</p>
                        <li ng-repeat="property in item.itemData.Property">
                            <label ng-bind="property.name"></label>

                            <p>
                                <a ng-class="{'cur':attributes.isSelected,'disabled':attributes.disabled||!attributes.valid}" ng-style="{'cursor':!attributes.valid?'no-drop':'pointer'}"
                                   ng-repeat="attributes in property.attributes" ng-bind="attributes.value"
                                   ng-click="item.toggleSelect($parent.$index,$index,attributes)" title="{{!attributes.valid?'库存不足':''}}"></a>
                           <!--     <a ng-class="{'cur':attributes.isSelected,'disabled':attributes.disabled||!attributes.valid}" ng-style="{'cursor':!attributes.valid?'no-drop':'pointer'}"
                                   ng-repeat="attributes in property.attributes" ng-bind="attributes.value"
                                   ng-click="selectAttr(property.name,attributes.value,$parent.$index,$index,attributes.disabled,attributes.valid)" title="{{!attributes.valid?'库存不足':''}}"></a>-->
                            </p>
                        </li>

                </ul>
                <div class="bar-amount">
                    <label>数量</label>
                    <div class="div-btn">
                        <span class="btn-reduce txtUnSelect" ng-click="item.reduce()" ng-disabled="item.itemData.status!=1">-</span>
                        <input type="text" ng-model="item.amount" ng-disabled="(item.itemData.IsCanFree==true&&!isFreePlayed)||item.itemData.status!=1" onpaste="return false" require-number ng-change="item.testInventory()" style="ime-mode:disabled"/>
                        <span class="btn-add txtUnSelect" ng-click="item.add()" ng-disabled="item.itemData.status!=1">+</span>
                       <!-- <p ng-show="inventory>=0&&inventory!=null&&inventory<=5">库存剩余<span ng-bind="inventory"></span>件</p>-->
                        <p ng-show="item.inventory>=0&&item.inventory!=null&&item.inventory<=5"><span>该商品库存紧张</span></p>
                    </div>
                </div>
                <div class="bar-btn">

                    <input ng-if="item.itemData.CommodityType==0" ng-class="{'btn-buy':item.itemData.status==1,'btn-buy disabled':item.itemData.status!=1}" type="button" ng-value="item.btnVal.buyNow.cur"  ng-click="item.luckyBuy()" ng-disabled="item.itemData.status!=1"/>
                    <input ng-if="item.itemData.CommodityType==0" ng-class="{'btn-exchange':item.itemData.status==1,'btn-exchange disabled':item.itemData.status!=1}" type="button" ng-value="'抵用购'"  ng-click="item.exchangeAction()" ng-disabled="item.itemData.status!=1"/>
                    <a class="btn-enterAct" href="/activity/index" ng-if="item.itemData.CommodityType==1">进入擂台</a>
                </div>
                <ul class="ul-svc">
                            <li>全场包邮</li>
                            <li>100%正品</li>
                            <li>售后无忧</li>
                </ul>
            </form>

        </div>
        <div class="box-proIntro tabs">
            <div class="tab-item">
                <span ng-class="{'item cur':item.curTab==1,'item':item.curTab!=1}" ng-click="item.changeTab(1)">详细信息</span>
                <!--<span ng-class="{'item cur':item.curTab==2,'item':item.curTab!=2}" ng-click="item.changeTab(2)">折扣排行榜</span>-->
                <span ng-class="{'item cur':item.curTab==3,'item':item.curTab!=3}" ng-click="item.changeTab(3)">商品晒单</span>
            </div>
            <div class="tab-content tab-cont1" ng-show="item.curTab==1">
                <ul class="pro-showing-images">
                    <li ng-repeat="img in item.itemData.BigImages">
                        <img lazy-src="{{imgHost+img}}" alt="" />
                    </li>
                </ul>
                <div class="box-pro-show">
                </div>
            </div>
            <div class="tab-content tab-cont2" ng-show="item.curTab==2">
                <p class="tips-nothing" ng-if="item.rankingData.length==0">暂无</p>
               <table class="item-ranking-table" ng-if="item.rankingData.length>0">
                   <tr class="tr-th">
                       <th>排名</th>
                       <th>用户名</th>
                       <th>已抢折扣</th>
                       <th>折后价</th>
                       <th>已省</th>
                       <th>游戏分数</th>
                       <!--<th>日期</th>-->
                   </tr>
                   <tr ng-repeat="rank in item.rankingData">
                       <td>
                            <span class="{{$index<3?'top top'+($index+1):'top'}}" ng-bind="$index+1"></span>
                       </td>
                       <td>
                            <span ng-bind="rank.NickName"></span>
                       </td>
                       <td>
                           <span class="icon-discount" ng-bind="rank.DiscountValue+'折'"></span>
                       </td>
                       <td>
                           <span class="final-price color-org" ng-bind="'￥'+(item.itemData.maxPrice-rank.SaveMoney)"></span>
                       </td>
                       <td>
                           <span ng-bind="'￥'+rank.SaveMoney"></span>
                       </td>
                       <td>
                           <span ng-bind="rank.GameScore"></span>
                       </td>
                     <!--  <td>
                           <span class="color-gray" ng-bind="rank.WinningTime"></span>
                       </td>-->
                   </tr>
               </table>
               <p class="color-gray" ng-if="data_ranking.length>0">注：目前仅显示前10名</p>
            </div>
            <div class="tab-content tab-cont3" ng-show="item.curTab==3">
                <ul class="ul-soo-common" ng-show="item.currentPageOfSOO.length>=0&&!item.pageOfSOO.loading">
                    <li class="li-soo-common" ng-repeat="soo in item.currentPageOfSOO track by $index">
                        <div class="box-shower">
                            <img class="avatar" ng-src={{imgHost+soo.Avatar.image}} error-src="./res/images/touxiang.jpg" />
                            <div class="over-hidden">
                                <p class="shower-name font-14 pull-left" ng-bind="soo.Nickname"></p>

                                <p class="time color-gray pull-left" ng-bind="soo.CreateTime"></p>
                            </div>
                            <p>
                                <label>获得折扣：</label><span class="so-icon-disc" ng-bind="soo.DiscountValue+'折'"></span>
                                <a class="link-dt color-org z-index-2" href="/soo_dt/{{soo.Id}}">[详情]</a>
                            </p>
                        </div>
                        <div class="info">
                            <p ng-bind="soo.Content">

                            </p>
                            <ul class="ul-images ">
                                <li ng-class="{'cur':soo.bigImgIndex==$index}" ng-repeat="img in soo.images" ng-click="item.showBigImgOfSOO($index,soo)">
                                    <a class="img-container">
                                        <img real-src={{imgHost+img}} temp-src="./res/images/default.png"  />
                                    </a>
                                </li>
                            </ul>
                            <div class="big-img" ng-style="{'width':soo.bigImgIndex!=-1?'100%':'0px','height':soo.bigImgIndex!=-1?'inherit':'0px'}" ng-click="item.showBigImgOfSOO(-1,soo)">
                                <img ng-if="soo.bigImgIndex!=-1" ng-src={{imgHost+soo.bigImgUrl}} />
                            </div>
                        </div>
                        <div class="bar-buttons txt-right">
                            <p class="btn-like pull-right" ng-click="item.likeSOO(soo)" ng-style="{'color':soo.liked?'red':'#333'}">
                                <i class="iconfont lm-heart"></i>
                                <label>{{soo.liked?'已赞':'赞'}}<span>（{{soo.LikeCount}}）</span></label>
                            </p>
                        </div>
                    </li>
                </ul>
                <div class="loading-tips" ng-show="item.pageOfSOO.loading">正在加载...</div>
                <p class="tips-nothing" ng-show="item.currentPageOfSOO.length<=0&&!item.pageOfSOO.loading">暂无</p>
                <div class="page-index txt-no-select" ng-show="item.currentPageOfSOO.length>0&&!item.pageOfSOO.loading">
                    <div class="prev" ng-click="item.prevPageOfSOO()" btn-scroll-to="825"><</div>
                    <div class="indexes">
                                 <span ng-class="{'cur':item.pageOfSOO.index==p}" ng-repeat="p in item.pageOfSOO.items" ng-click=item.changePageOfSOO(p)
                                                ng-bind="(p==item.pageOfSOO.index-5||p==item.pageOfSOO.index+5)?'...':p+1"
                                                ng-if="(p>=item.pageOfSOO.index-5&&p<=item.pageOfSOO.index+5)" btn-scroll-to="825"></span>
                    </div>
                    <div class="next" ng-click="item.nextPageOfSOO()" btn-scroll-to="825">></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--中部 end-->
<modal-get-discount visible="isModalGetDiscountShow" data="data_modal_getDisc" imghost="imgHost" couponbalance="coupon_balance" gamectrl="gameMenu"  isexchangewithearnest="item.isExchangeWithEarnest"></modal-get-discount>
<modal-game-menu visible="gameMenu.show" gamectrl="gameMenu" ></modal-game-menu>


<div class="modal-overlay" ng-show="item.menuLuckyBuy.show">
    <div class="modal-luckyBuy-menu">
        <div class="modal-title">
                请选择幸运购模式
        </div>
        <div class="modal-content">
            <ul>

                <li  ng-click="item.normalAction()">
                    <div class="btn-mode btn-mode2">大显身手</div>
                  <!--  <p class="menu-describe" ng-if="coupon_balance<(item.itemData.EarnestPrice)*(item.amount)">
                        预付<span class="color-red">￥{{item.itemData.EarnestPrice*item.amount-coupon_balance}}
                        </span>定金，赠送<span class="color-red">{{item.itemData.EarnestPrice*item.amount*100}}个幸运豆</span>兑换一次游戏机会
                    </p>-->
                    <div ng-if="coupon_balance<(item.itemData.EarnestPrice)*(item.amount)">
                        <p class="menu-describe" >
                            已有<span class="icon-xyd xs"></span><span class="color-red">{{coupon_balance*100}}</span>，
                            <span class="color-red">预付￥{{item.itemData.EarnestPrice*item.amount-coupon_balance}}</span>定金,
                            赠送<span class="icon-xyd xs"></span><span class="color-red">{{100*(item.itemData.EarnestPrice*item.amount-coupon_balance)}}</span>
                        </p>
                        <p class="menu-describe" >
                            合计<span class="icon-xyd xs"></span>{{item.itemData.EarnestPrice*item.amount*100}}兑换一次游戏机会
                        </p>
                    </div>
                    <p class="menu-describe" ng-if="coupon_balance>=item.itemData.EarnestPrice*item.amount">
                        使用<span class="icon-xyd xs"></span><span class="color-red">{{item.itemData.EarnestPrice*item.amount*100}}幸运豆</span>兑换一次游戏机会
                    </p>
                    <p>获得游戏结果的全额折扣卡</p>
                </li>
                <li  ng-click="item.tryAction()">
                    <div class="btn-mode btn-mode1">小试牛刀</div>
                    <p class="menu-describe">无需幸运豆</p>
                    <p>获得游戏结果的1/10折扣卡</p>
                </li>
            </ul>
        </div>
        <div class="modal-footer">
             <p ng-show="item.itemData.maxPrice>200">提示：目前该商品仅支持《捕鱼游戏》</p>
        </div>
        <span class="btn-close txt-no-select" ng-click="item.closeLuckyBuyMenu()">×</span>
    </div>
</div>

<introduction></introduction>

<sub-footer></sub-footer>
<footer></footer>