<header ng-title="data_filter.CategoryName+'_幸运猫'"></header>
<aside-right></aside-right>
<sub-header>
    <category has-sub-category="false"></category>
</sub-header>

<!--中部 start-->
<div class="list content">
    <div class="filters">
        <div class="ctr-choice">
            <div class="page-location">
                <a>全部商品</a>
                <a class="category-name" ng-bind="data_filter.CategoryName" class="cur"
                   href="/list/{{'category='+cate_id}}/"></a>
            </div>
            <p class="choices" ng-repeat="choice in data_filter.FilterModels"
               ng-if="hasSelectedItem(choice.FilterItemModels)&&!choice.isMultiSelected">
                <a ng-repeat="item in choice.FilterItemModels|filter:{isSelected:true}">
                    <span ng-bind="choice.FilterName+'：'+item.ItemValue" title="{{choice.FilterName+'：'+item.ItemValue}}"></span>
                    <b class="icon-delete" title="删除选项" ng-click="removeChoice(choice.Id)">×</b>
                </a>
            </p>

            <p class="choices" ng-repeat="mul_choice in data_filter.FilterModels"
               ng-if="mul_choice.isMultiSelected">
                <a ng-bind="formatMultiChoice(mul_choice)" title={{formatMultiChoice(mul_choice)}}></a>
                <b class="icon-delete" title="删除选项" ng-click="removeChoice(mul_choice.Id)">×</b>
            </p>
        </div>
        <ul>
            <li ng-repeat="filter in data_filter.FilterModels" ng-if="!filter.isMultiSelected">
                <span ng-bind="filter.FilterName+'：'"></span>
                <p ng-show="!filter.isMulti">
                    <a ng-class="{'cur':!hasSelectedItem(filter.FilterItemModels)}" ng-click="resetFilter(filter.Id)">全部</a>
                    <a  ng-class="{'cur':item.isSelected==true}" ng-repeat="item in filter.FilterItemModels" ng-bind="item.ItemValue" title={{item.ItemValue}} ng-click="select(filter.Id,item.Id)">
                    </a>
                </p>
                <button class="btn-more" ng-click="toggleMultiSelect(filter.Id)" ng-bind="(filter.isMulti)?'收起':'多选'" ng-if="$index>0"></button>
                <div class="box-multi-select" ng-show="filter.isMulti">
                    <a ng-class="sub_c.isMultiSelected?'my-checkbox checked':'my-checkbox'" ng-repeat="sub_c in filter.FilterItemModels" ng-click="multiSelect(filter.Id,sub_c.Id)">
                        <i class="checkbox"></i>
                        <label class="label-checkbox" ng-class="{'cur':sub_c.isSelected==true}" ng-bind="sub_c.ItemValue" title={{sub_c.Value}}></label>
                    </a>
                    <p class="bar-buttons">
                        <button ng-click="multiSearch(filter)">确定</button>
                        <button ng-click="closeMultiSelect(filter.Id)">取消</button>
                    </p>
                </div>
            </li>
        </ul>
    </div>
    <div class="pro-list-top">
        <h3 class="color-org">新品</h3>
        <span class="label-condition" ng-click="searchWidthPrice()">价格</span>
        <span  ng-class="{'icon-db-arrow up cur':!price_order,'icon-db-arrow up':price_order}" ng-click="searchWidthPrice(0)"></span>
        <span  ng-class="{'icon-db-arrow down':!price_order,'icon-db-arrow down cur':price_order}" ng-click="searchWidthPrice(1)"></span>
        <div class="pull-right">
            <p>共<span class="color-org" ng-bind="totalAmount"></span>件商品</p>
            <span class="arrow txtUnselect" title="上一页" ng-click="prevPage()"><</span>
            <span class="color-org" ng-bind="pageIndex"></span>/
            <span ng-bind="totalPage"></span>
            <span class="arrow txtUnselect" title="下一页" ng-click="nextPage()">></span>
        </div>
    </div>
    <ul class="pro-list-cont">
        <li ng-repeat="list in data_list|orderBy:'maxPrice':price_order" >
            <a class="a-goodsImg" href="/goodsDetails/{{list.Id}}" title="">
                <img real-src={{imgHost+list.RollingImages[0]}} alt="" temp-src="./res/images/default.png"/>
            </a>
            <div class="goods-info">
                <a href="/goodsDetails/{{list.Id}}" title="">
                    <h2 ng-bind="list.CommodityName"></h2>
                </a>
                <p class="price">
                    <span class="prices" ng-bind="'￥'+list.maxPrice+'~￥'+list.minPrice"></span>
                    <span class="old-price" ng-bind="list.RetailPrice" ng-if="!(list.RetailPrice*list.MaxDiscount>999&&list.RetailPrice*list.MinDiscount>999)"></span>
                    <span class="icon-discount" ng-bind="'低至'+(list.MaxDiscount*10).toFixed(1)+'折'"></span>
                    <!--<span class="final-price" ng-bind="'￥'+(list.RetailPrice*list.MinDiscount).toFixed(2)" ></span>
                    <span class="old-price" ng-bind="list.RetailPrice"></span>
                    <span class="icon-discount" ng-bind="(list.MinDiscount*10).toFixed(1)+'折'"></span>-->
                </p>
            </div>
        </li>
    </ul>
    <div class="loading-tips" ng-show="showLoading==true">正在加载...</div>
    <div class="tips-no-pro" ng-if="data_list.length<=0">
        暂时没有符合条件的商品喔！
    </div>
    <div class="page-index">
        <div class="prev" ng-click="prevPage()" btn-page-up><</div>
        <div class="indexes">
            <span ng-class="{'cur':pageIndex==($index+1)}" ng-repeat="p in page" ng-bind="$index+1" ng-click=changePage($index+1) btn-page-up></span>
        </div>
        <div class="next" ng-click="nextPage()" btn-page-up>></div>
    </div>
</div>
<!--中部 end-->


<introduction></introduction>
<sub-footer></sub-footer>
<footer></footer>