<!--顶部  begin-->
<div class="simple sub-header">
    <div class="content">
        <div class="logo pull-left">
            <img src="./res/logo/logo.png" alt="幸运猫"/>

            <p class="logo-desc">新生代电商购物</p>
        </div>
        <div class="nav pull-right">
            <a href="/home" title="">首页</a>
            <a href="/about" title="">关于幸运猫</a>
            <a href="/support/qa" title="">帮助中心</a>
<!--            <a class="border-bottom4 icon-mb-link" href="#" title="手机幸运猫">
                <div class="sub-h-QR">
                    <img src="./res/images/img_2dcode.jpg" alt=""/>
                </div>
            </a>-->
        </div>
    </div>
</div>
<!--顶部  end-->

<!--中部 begin-->
<div class="container">
    <div class="content lost-pw">
        <div class="box-lost-pw">
            <img class="big-img" src="./res/images/img_login_big.jpg" alt="" />
            <form class="form_resetPW" name="form_resetPW" ng-submit="resetPassword()" novalidate="novalidate">
                <h2 class="title">找回密码</h2>
                <p class="input-tips" ng-bind="tips" ng-show="tips!=''"></p>
                <p class="bar-mobile">
                    <input class='l-input'name='mobile' ng-model="mobile" placeholder="手机号码"  ng-pattern="/^[1][3458]\d{9}$/" required  ng-change="clearError('mobile')" autocomplete="false"/>
                </p>

                <p>
                    <input class='s-input' placeholder="验证码" name='img_code'  required ng-model="img_code" ng-change="clearError('imgCode')"/>
                    <img class="img-code" data-ng-src="data:image/png;base64,{{captchaCode}}"  alt="" title="点击刷新" ng-click="getCaptchaCode()"
                         error-src="./res/images/default.png"/>
                </p>

                <p>
                    <input class='s-input'placeholder="短信验证码" name='code' ng-model="code" autocomplete="false" maxlength="6"  required ng-disabled="form_resetPW.mobile.$invalid" ng-change="clearError('code')"/>
                    <input class="btn-getCode" btn-count-down="60" require={{form_resetPW.mobile.$valid&&form_resetPW.img_code.$valid&&!error.imgCode}} ng-click="getVerifyCode(mobile)" value="获取验证码" readonly="true"/>
                </p>
                <p>
                    <input  class='l-input' type="password" placeholder="新密码(6-24位字符，区分大小写)" ng-model="password" autocomplete="false" name="password" ng-pattern="/^[\s|\S]{6,24}$/"
                            required  onpaste="return false" ng-change="clearError('password')" />
                </p>

                <p>
                    <input class='l-input' type="password" placeholder="再次输入密码" ng-model="re_password" autocomplete="false" name="re_password" required  onpaste="return false" ng-change="clearError('repPassword')"/>
                </p>

                <p>
                    <input class='btn-submit'type="submit" ng-value="btn_val_submit"/>
                </p>


            </form>
        </div>

    </div>
</div>
<!--中部 end-->

<introduction></introduction>

<sub-footer></sub-footer>

<footer></footer>