<header></header>
<aside-right></aside-right>
<sub-header nav="3">
    <category has-sub-category="false"></category>
</sub-header>

<!--中部 start-->
<div class="list content">
    <div class="banner-s">
        <ul>
            <li>
                <a href="#" title="">
                    <img src="./res/test/newPro_ad1.jpg" alt="" />
                </a>
            </li>
<!--            <li>
                <a href="#" title="">
                    <img src="" alt="" />
                </a>
            </li>
            <li>
                <a href="#" title="">
                    <img src="" alt="" />
                </a>
            </li>-->
        </ul>
    </div>
    <div class="pro-list-top">
        <h3 class="color-org">新品</h3>
        <span class="label-condition">价格</span>
        <span class="icon-double-arrow up"></span>
        <div class="pull-right">
            <p>共<span class="color-org">87</span>件商品</p>
            <span class="arrow" title="上一页"><</span>
            <span class="color-org">1</span>/
            <span>5</span>
            <span class="arrow" title="下一页">></span>
        </div>
    </div>
    <ul class="pro-list-cont">
        <li>
            <a class="a-goodsImg" href="#" title="">
                <img src="./res/test/test-newG1.jpg" alt="" />
            </a>
            <div class="goods-info">
                <a href="#" title="">
                    <h2>粉色系保暖特色印花短外套女粉色系保暖特色印花短外套女粉色系保暖特色印花短外套女粉色系保暖特色印花短外套女粉色系保暖特色印花短外套女</h2>
                </a>
                <p class="price">
                    <span>￥409</span>
                    <span class="old-price">￥600</span>
                    <span class="icon-discount">低至3.5折</span>
                </p>
            </div>
        </li>
        <li>
            <a class="a-goodsImg" href="#" title="">
                <img src="./res/test/test-newG2.jpg" alt="" />
            </a>
            <div class="goods-info">
                <a href="#" title="">
                    <h2>粉色系保暖特色印花短外套女</h2>
                </a>
                <p class="price">
                    <span>￥409</span>
                    <span class="old-price">￥600</span>
                    <span class="icon-discount">低至3.5折</span>
                </p>
            </div>
        </li>
        <li>
            <a class="a-goodsImg" href="#" title="">
                <img src="./res/test/test-newG3.jpg" alt="" />
            </a>
            <div class="goods-info">
                <a href="#" title="">
                    <h2>粉色系保暖特色印花短外套女</h2>
                </a>
                <p class="price">
                    <span>￥409</span>
                    <span class="old-price">￥600</span>
                    <span class="icon-discount">低至3.5折</span>
                </p>
            </div>
        </li>
        <li>
            <a class="a-goodsImg" href="#" title="">
                <img src="./res/test/test-newG4.jpg" alt="" />
            </a>
            <div class="goods-info">
                <a href="#" title="">
                    <h2>粉色系保暖特色印花短外套女</h2>
                </a>
                <p class="price">
                    <span>￥409</span>
                    <span class="old-price">￥600</span>
                    <span class="icon-discount">低至3.5折</span>
                </p>
            </div>
        </li>
        <li>
            <a class="a-goodsImg" href="#" title="">
                <img src="./res/test/test-newG1.jpg" alt="" />
            </a>
            <div class="goods-info">
                <a href="#" title="">
                    <h2>粉色系保暖特色印花短外套女</h2>
                </a>
                <p class="price">
                    <span>￥409</span>>
                    <span class="old-price">￥600</span>
                    <span class="icon-discount">低至3.5折</span>
                </p>
            </div>
        </li>
        <li>
            <a class="a-goodsImg" href="#" title="">
                <img src="./res/test/test-newG2.jpg" alt="" />
            </a>
            <div class="goods-info">
                <a href="#" title="">
                    <h2>粉色系保暖特色印花短外套女</h2>
                </a>
                <p class="price">
                    <span>￥409</span>
                    <span class="old-price">￥600</span>
                    <span class="icon-discount">低至3.5折</span>
                </p>
            </div>
        </li>
        <li>
            <a class="a-goodsImg" href="#" title="">
                <img src="./res/test/test-newG3.jpg" alt="" />
            </a>
            <div class="goods-info">
                <a href="#" title="">
                    <h2>粉色系保暖特色印花短外套女</h2>
                </a>
                <p class="price">
                    <span>￥409</span>
                    <span class="old-price">￥600</span>
                    <span class="icon-discount">低至3.5折</span>
                </p>
            </div>
        </li>
        <li>
            <a class="a-goodsImg" href="#" title="">
                <img src="./res/test/test-newG4.jpg" alt="" />
            </a>
            <div class="goods-info">
                <a href="#" title="">
                    <h2>粉色系保暖特色印花短外套女</h2>
                </a>
                <p class="price">
                    <span>￥409</span>
                    <span class="old-price">￥600</span>
                    <span class="icon-discount">低至3.5折</span>
                </p>
            </div>
        </li>
        <li>
            <a class="a-goodsImg" href="#" title="">
                <img src="./res/test/test-newG1.jpg" alt="" />
            </a>
            <div class="goods-info">
                <a href="#" title="">
                    <h2>粉色系保暖特色印花短外套女</h2>
                </a>
                <p class="price">
                    <span>￥409</span>
                    <span class="old-price">￥600</span>
                    <span class="icon-discount">低至3.5折</span>
                </p>
            </div>
        </li>
        <li>
            <a class="a-goodsImg" href="#" title="">
                <img src="./res/test/test-newG2.jpg" alt="" />
            </a>
            <div class="goods-info">
                <a href="#" title="">
                    <h2>粉色系保暖特色印花短外套女</h2>
                </a>
                <p class="price">
                    <span>￥409</span>
                    <span class="old-price">￥600</span>
                    <span class="icon-discount">低至3.5折</span>
                </p>
            </div>
        </li>
        <li>
            <a class="a-goodsImg" href="#" title="">
                <img src="./res/test/test-newG3.jpg" alt="" />
            </a>
            <div class="goods-info">
                <a href="#" title="">
                    <h2>粉色系保暖特色印花短外套女</h2>
                </a>
                <p class="price">
                    <span>￥409</span>
                    <span class="old-price">￥600</span>
                    <span class="icon-discount">低至3.5折</span>
                </p>
            </div>
        </li>
        <li>
            <a class="a-goodsImg" href="#" title="">
                <img src="./res/test/test-newG4.jpg" alt="" />
            </a>
            <div class="goods-info">
                <a href="#" title="">
                    <h2>粉色系保暖特色印花短外套女</h2>
                </a>
                <p class="price">
                    <span>￥409</span>
                    <span class="old-price">￥600</span>
                    <span class="icon-discount">低至3.5折</span>
                </p>
            </div>
        </li>
        <li>
            <a class="a-goodsImg" href="#" title="">
                <img src="./res/test/test-newG1.jpg" alt="" />
            </a>
            <div class="goods-info">
                <a href="#" title="">
                    <h2>粉色系保暖特色印花短外套女</h2>
                </a>
                <p class="price">
                    <span>￥409</span>
                    <span class="old-price">￥600</span>
                    <span class="icon-discount">低至3.5折</span>
                </p>
            </div>
        </li>
        <li>
            <a class="a-goodsImg" href="#" title="">
                <img src="./res/test/test-newG2.jpg" alt="" />
            </a>
            <div class="goods-info">
                <a href="#" title="">
                    <h2>粉色系保暖特色印花短外套女</h2>
                </a>
                <p class="price">
                    <span>￥409</span>
                    <span class="old-price">￥600</span>
                    <span class="icon-discount">低至3.5折</span>
                </p>
            </div>
        </li>
        <li>
            <a class="a-goodsImg" href="#" title="">
                <img src="./res/test/test-newG3.jpg" alt="" />
            </a>
            <div class="goods-info">
                <a href="#" title="">
                    <h2>粉色系保暖特色印花短外套女</h2>
                </a>
                <p class="price">
                    <span>￥409</span>
                    <span class="old-price">￥600</span>
                    <span class="icon-discount">低至3.5折</span>
                </p>
            </div>
        </li>
        <li>
            <a class="a-goodsImg" href="#" title="">
                <img src="./res/test/test-newG4.jpg" alt="" />
            </a>
            <div class="goods-info">
                <a href="#" title="">
                    <h2>粉色系保暖特色印花短外套女</h2>
                </a>
                <p class="price">
                    <span>￥409</span>
                    <span class="old-price">￥600</span>
                    <span class="icon-discount">低至3.5折</span>
                </p>
            </div>
        </li>
    </ul>
    <div class="page-index">
        <div class="prev"><</div>
        <div class="indexes">
            <span class="cur">1</span>
            <span>2</span>
            <span>3</span>
            <span>4</span>
        </div>
        <div class="next">></div>
    </div>
</div>
<!--中部 end-->



<introduction></introduction>
<sub-footer></sub-footer>
<footer></footer>