<header></header>
<aside-right></aside-right>
<sub-header>
    <category has-sub-category="false"></category>
</sub-header>

<!--中部 start-->
<div class="container">
    <div class="content">
        <div class="shopping-status-top">
            <div class="pull-left">
                <h1>成功支付定金订单</h1>
            </div>

        </div>
        <div class="box-status">
            <div class="result-tips">
                <h1>支付定金成功！</h1>
            </div>
            <div class="buttons">
<!--                <a class="btn btn-balanced"  ng-click="playGame()" ng-show="isEnough">立即进入游戏</a>-->
                <a class="btn btn-org" href="/shoppingCart" title="">返回购物车</a>
            </div>
        </div>
    </div>
</div>
<!--中部 end-->

<modal-game-menu visible="gameMenu.show" gamectrl="gameMenu" ></modal-game-menu>

<introduction></introduction>
<sub-footer></sub-footer>
<footer></footer>