<header></header>
<aside-right></aside-right>
<sub-header>
    <category has-sub-category="false"></category>
</sub-header>

<!--中部 start-->
<div class="content">
    <div class="shopping-status-top earnest">
        <div class="pull-left">
            <h1>支付定金</h1>
        </div>
        <div class="shopping-steps pull-right">
            <span class="cur">支付定金</span>
            <span class="has-arrow-org">玩游戏赢折扣</span>
            <span class="has-arrow-white">确认支付</span>
            <span class="has-arrow-white">完成</span>
        </div>
    </div>

</div>
<form class="form-confirm-order">
    <div class="content box-confirmOrder earnest">
        <p class="label-cont-name"><label>商品信息</label></p>
        <div class="confirmOrder-th">
            <span>商品信息</span>
            <span style="width:200px">原价</span>
            <span style="width:300px">待支付定金</span>
        </div>
        <div class="goods-list" ng-show="data_order">
            <div class="bar-sellerInfo">
                <img ng-if="data_order.Brand.BrandImage" real-src={{imgHost+data_order.Brand.BrandImage+'@32w_32h_100Q.png'}} temp-src="./res/images/default.png" alt=""/>
                <p ng-bind="data_order.SupplierName"></p>
            </div>
            <div class="goods-list-cont">
                <div class="cont1">
                    <div class="img-container">
                        <a href="/item/{{data_order.CommodityId}}">
                            <img  ng-src={{imgHost+data_order.imageUrl+'@100w_100h_100Q.jpg'}} alt=""/>
                        </a>
                    </div>
                    <a class="goods-name" href="/item/{{data_order.CommodityId}}">
                        <h2 ng-bind="data_order.CommodityName" title={{data_order.CommodityName}}></h2>
                        <small ng-bind="'×'+data_order.Count"></small>
                    </a>
                    <p ng-bind="property.name+'：'+property.value" ng-repeat="property in data_order.Specifications"></p>
                </div>
                <div class="cont2" style="width:200px">
                    <div class="cont-container">
                        <p ng-bind="'￥'+data_order.UnitPrice*data_order.Count"></p>
                    </div>
                </div>
                <!--<div class="cont3">
                    <div class="cont-container">
                        <p class="discount-price"  ng-bind="'￥'+mathCeilPrice(data_order.cost)"></p>
                        <p>已享用折扣卡<span class="icon-discount" ng-bind="data_order.finalDiscount+'折'"></span></p>
                    </div>
                </div>-->
                <div class="cont4" style="width:300px">
                    <div class="cont-container">
                        <p class="unPay" ng-bind="'￥'+earnest_cost"></p>
                        <p ng-if="data_order.EarnestMoney>0">已付定金<span class="color-org" ng-bind="'￥'+data_order.EarnestMoney"></span></p>
                    </div>
                </div>
            </div>
        </div>


        <p class="label-cont-name">
            <label>支付方式</label>
        </p>

       <!-- <div class="box-wallet" ng-if="data_balance.Wallet.Balance>0">
            <div class="bar-balance" ng-style="{'border-color':isUseBalance?'#ff6700':'transparent'}">
                <a ng-class="{'my-checkbox checked':isUseBalance,'my-checkbox':!isUseBalance}"
                   ng-click="toggleCheckWallet()">
                    <i class="checkbox"></i>
                    <label class="label-checkbox">喵喵钱包</label>
                </a>
                <span>可用余额：</span>
                <span class="color-red val" ng-bind="'￥'+data_balance.Wallet.Balance"></span>
                <span ng-show="isUseBalance" class="color-gray">支付后</span>
                <span ng-show="isUseBalance" class="color-org"
                      ng-bind="'扣除￥'+(data_balance.Wallet.Balance>=earnest_cost?earnest_cost:data_balance.Wallet.Balance)"></span>
            </div>
            <p ng-if="needToPay()>0&&isUseBalance">
                还需支付：
                <span class="color-red val" ng-bind="'￥'+needToPay()"></span>
            </p>
        </div>-->
        <p class="s-label" ng-if="needToPay()>0">
            <small>在线支付</small>
        </p>
        <ul class="btn-pay-models" ng-if="needToPay()>0">
            <li ng-class="{'cur':pay_type=='zhifubao'}" ng-click="changePayType('zhifubao')">
                <span>√</span>
                <div class="img-container">
                    <img src="./res/images/zhifubao.png" alt=""/>
                </div>
            </li>
            <li ng-class="{'cur':pay_type=='weixin'}" ng-click="changePayType('weixin')">
                <span></span>
                <div class="img-container">
                    <img src="./res/images/weixinpay.png" alt=""/>
                </div>
            </li>
        </ul>
        <p class="s-label" ng-if="needToPay()>0">
            <small>网银支付</small>
        </p>
        <ul class="btn-pay-models" ng-if="needToPay()>0">
            <li ng-class="{'cur':pay_type=='bank_icbc'}" ng-click="changePayType('bank_icbc')">
                <span></span>
                <div class="img-container">
                    <img src="./res/images/bank_icbc.png" alt=""/>
                </div>
            </li>
            <li ng-class="{'cur':pay_type=='bank_jianshe'}" ng-click="changePayType('bank_jianshe')">
                <span></span>
                <div class="img-container">
                    <img src="./res/images/bank_jianshe.png" alt=""/>
                </div>
            </li>
            <li ng-class="{'cur':pay_type=='bank_nongye'}" ng-click="changePayType('bank_nongye')">
                <span></span>
                <div class="img-container">
                    <img src="./res/images/bank_nongye.png" alt=""/>
                </div>
            </li>
            <li ng-class="{'cur':pay_type=='bank_zhaoshang'}" ng-click="changePayType('bank_zhaoshang')">
                <span></span>
                <div class="img-container">
                    <img src="./res/images/bank_zhaoshang.png" alt=""/>
                </div>
            </li>
            <li ng-class="{'cur':pay_type=='bank_zhongguo'}" ng-click="changePayType('bank_zhongguo')">
                <span></span>
                <div class="img-container">
                    <img src="./res/images/bank_zhongguo.png" alt=""/>
                </div>
            </li>
            <li ng-class="{'cur':pay_type=='bank_xingye'}" ng-click="changePayType('bank_xingye')">
                <span></span>
                <div class="img-container">
                    <img src="./res/images/bank_xingye.png" alt=""/>
                </div>
            </li>
            <li ng-class="{'cur':pay_type=='bank_pingan'}" ng-click="changePayType('bank_pingan')">
                <span></span>
                <div class="img-container">
                    <img src="./res/images/bank_pingan.png" alt=""/>
                </div>
            </li>
            <li ng-class="{'cur':pay_type=='bank_youzheng'}" ng-click="changePayType('bank_youzheng')">
                <span></span>
                <div class="img-container">
                    <img src="./res/images/bank_youzheng.png" alt=""/>
                </div>
            </li>
            <li ng-class="{'cur':pay_type=='bank_guangfa'}" ng-click="changePayType('bank_guangfa')">
                <span></span>
                <div class="img-container">
                    <img src="./res/images/bank_guangfa.png" alt=""/>
                </div>
            </li>
            <li ng-class="{'cur':pay_type=='bank_jiaotong'}" ng-click="changePayType('bank_jiaotong')">
                <span></span>
                <div class="img-container">
                    <img src="./res/images/bank_jiaotong.png" alt=""/>
                </div>
            </li>
        </ul>
    </div>
    <div class="content confirmOrder-bottom earnest">
        <div >
            <label>支付方式：</label>
            <p ng-bind="showPayType()"></p>
        </div>
        <div>
            <label>支付类型：</label>
            <p>定金支付</p>
        </div>
        <div>
            <label>合计金额：</label>
            <p><span class="cost" ng-bind="'￥'+earnest_cost"></span>元</p>
        </div>
        <div>
            <button class="btn-submitOrder" ng-click="submitOrder()">确认支付</button>
        </div>
    </div>
</form>
<!--中部 end-->

<div class="modal-container" ng-if="isModalWaitingShow">
    <div class="modal-waitingPay">
        <p class="bar-time">请于<span count-down="1800" time-over="payTimeOver"></span>内，在新打开的页面完成支付</p>
        <p class="bar-paySuccess">若已成功支付，请点击：<a ng-click="testTradeStatus()">已完成付款</a></p>
        <p class="bar-payError">如果付款遇到问题，请您到“待支付”订单列表重新支付</p>
        <p class="bar-support"><a>在线客服</a></p>
        <span class="btn-close" title="关闭" ng-click="closeWaitingPayModal()">×</span>
        <div class="tips-unFinish" ng-if="isTipsUnFinishShow==true">
            <p class="bar-tips">检测到您并<span class="color-org">未支付</span>，请您在<span class="color-org">新打开的页面</span>中完成支付</p>
<!--            <p class="bar-time">
                <span class="color-org" count-down="5" time-over="returnWaitingModal"></span>
                后返回
            </p>-->
            <p class="bar-btn">
                <a ng-click="returnWaitingModal()">确定</a>
            </p>
        </div>
    </div>
</div>

<div class="modal-protocol-payForEnergy" ng-if="false">
    <div class="modal-content" ng-class="{'modal2-show':isModal2show,'modal2-hide':!isModal2show}">
        <h1>定金支付说明</h1>
        <div class="protocol-content">
            <p>① 支付定金是为了确认您的购买意向，方便我们为您保留库存，同时赠予游戏机会。</p>

            <p>②支付定金后，若您不想购买该商品了，则系统会在订单取消之后，把已支付的定金退回到您的定金钱包里。下次购买商品时，可以直接用来支付所需商品的定金。</p>

            <p>③ 当您需要退货时，我们会为您全额退款。若因产品质量问题发生的退货，则退款会全部（包含定金）退回至您的支付宝或者微信账户中；若非因产品质量问题发生的退货，则退款当中的定金部分退回到您的定金钱包中，其余款项则直接退回您的支付宝或者微信账户中。</p>

            <p>④ 为了不让您忘记定金钱包里的余额，在您下一次购买商品时系统会优先使用您定金钱包中的余额来支付商品定金。</p>

        </div>


        <div class="bar-btn">
            <a class="btn btn-org" ng-click="agreeProtocol()">我同意此协议</a>
        </div>
        <span class="btn-close" title="取消" ng-click="closeModal2()">×</span>
    </div>
</div>
<introduction></introduction>
<sub-footer></sub-footer>
<footer></footer>