
<!--顶部  begin-->
<div class="simple sub-header">
    <div class="content">
        <div class="logo pull-left">
            <img src="./res/logo/logo.png" alt="幸运猫"/>

            <p class="logo-desc">新生代电商购物</p>
        </div>
        <div class="nav pull-right">
            <a href="/home" title="">首页</a>
            <a  href="#" title="">关于幸运猫</a>
            <a  href="#" title="">新手指南</a>
            <a class="border-bottom4 icon-mb-link" href="#" title="手机幸运猫">手机抢购 更多低折扣</a>
        </div>
    </div>
</div>
<!--顶部  end-->

<!--中部 begin-->
<div class="login container">
    <div class="content">
        <div class="box-login">
            <img class="login-big-img" src="./res/images/img_login_big.jpg" alt="" />
            <div class="login-tabs">
                <div class="tab-items">
                    <a class="tab-item" href="/login">账号登录</a>
                    <a  class="tab-item cur">账号注册</a>
                </div>


                <form class="form-register tab-content" name="form_register" novalidate="novalidate" ng-submit="submitRegister()">
                    <p class="input-tips" ng-bind="tips" ng-show="hasInputError"></p>
                    <p ng-class="{'checked':form_register.mobile.$valid}">
                        <input class="input-reg-username"  placeholder="手机号" ng-model="mobile" autocomplete="false" name="mobile" ng-pattern="/^[1][3458]\d{9}$/" required ng-blur="isMobileCanRegister()"/>
                    </p>
                    <p class="p-verifyCode">
                        <input  placeholder="验证码" ng-model="code"  autocomplete="false" maxlength="6" name="code" required ng-disabled="form_register.mobile.$invalid"/>
                        <input  class="btn-getCode" type="button" value="获取验证码"  btn-count-down="60" require={{isValid(mobile)&&form_register.mobile.$valid}} ng-click="getVerifyCode(mobile)" />
                    </p>
                    <p ng-class="{'checked':form_register.password.$valid}">
                        <input  type="password" placeholder="密码(8-24位字母与数字或下划线组合)" ng-model="password" autocomplete="false" name="password" ng-pattern="/^(?![0-9_]+$)(?![a-zA-Z]+$)[0-9A-Za-z_]{8,24}$/"
                                required  onpaste="return false"/>
                    </p>
                    <p ng-class="{'checked':form_register.re_password.$valid&&form_register.re_password.$modelValue==form_register.password.$modelValue}">
                        <input  type="password" placeholder="再次输入密码" ng-model="re_password" autocomplete="false" name="re_password" required  onpaste="return false" />
                    </p>
                    <p>
                        <input  type="text" placeholder="昵称（可选）" ng-model="nickname" autocomplete="false" name="nickname" />
                    </p>
                    <p>
                        <input class="btn btn-register" type="submit" ng-value="value_btn" />
                    </p>
                    <p>
                        <a href="#" class="color-org" ng-click="showProtocol()">《幸运猫用户协议》</a>
                    </p>
                </form>
            </div>
        </div>
    </div>
</div>
<!--中部 end-->
<div class="modal-protocol" ng-show="isModalProtocolShow">
    <span class="btn_close" ng-click="hideProtocol()">×</span>
    <div class="modal-content">
        <h1>《幸运猫用户协议》</h1>
        <p>1.幸运猫用户协议幸运猫用户协议幸运猫用户协议幸运猫用户协议</p>
        <p>1.幸运猫用户协议幸运猫用户协议幸运猫用户协议幸运猫用户协议</p>
        <p>1.幸运猫用户协议幸运猫用户协议幸运猫用户协议幸运猫用户协议</p>
        <p>1.幸运猫用户协议幸运猫用户协议幸运猫用户协议幸运猫用户协议</p>
        <p>1.幸运猫用户协议幸运猫用户协议幸运猫用户协议幸运猫用户协议</p>
        <p>1.幸运猫用户协议幸运猫用户协议幸运猫用户协议幸运猫用户协议</p>
        <p>1.幸运猫用户协议幸运猫用户协议幸运猫用户协议幸运猫用户协议</p>
        <p>1.幸运猫用户协议幸运猫用户协议幸运猫用户协议幸运猫用户协议</p>
        <p>1.幸运猫用户协议幸运猫用户协议幸运猫用户协议幸运猫用户协议</p>
    </div>
    <p class="bar-button">
        <button ng-click="hideProtocol()">确定</button>
    </p>
</div>
<introduction></introduction>

<sub-footer></sub-footer>

<footer></footer>