<header></header>
<aside-right></aside-right>
<sub-header>
    <category has-sub-category="false"></category>
</sub-header>

<!--中部 start-->
<div class="cart container">
    <div class="content">
        <div class="cart-top">
            <div class="pull-left">
                <h1>购物车</h1>
                <p class="cart-tips" ng-if="data_cart.length>0" ng-show="cartTimeRemain>0">请在<span class="color-org" ng-bind="cartTimeRemainFormat" ></span>内结算订单，超时后购物车将清空</p>

            </div>
           <!-- <div class="shopping-steps pull-right" >
                <span class="cur ">我的购物车</span>
                <span class="has-arrow-org">核对订单信息</span>
                <span class="has-arrow-white">提交订单</span>
                <span class="has-arrow-white">完成</span>
            </div>-->
        </div>
        <div class="cart-th" ng-if="data_cart.length>0">
            <p class="cart-checkedAll">
                <input type="checkbox" id="cart_ck_all" ng-model="data_cart.isCheckedAll" ng-click="toggleCheckedAll()"/>
                <label for="cart_ck_all">全选</label>
            </p>
            <span class="th1">商品信息</span>
            <span class="th2">原价</span>
            <span class="th3">折后价</span>
            <span class="th4">待支付</span>
            <span class="th5">操作</span>
        </div>
        <div class="cart-list" ng-repeat="list in data_cart" ng-if="data_cart.length>0">
            <div class="cart-list-top">
                <input class="cart-ck-order" type="checkbox" ng-model="list.isSelected" ng-click="testChecked()" />
                <img class="brand-img" ng-if="list.Brand.BrandImage!=''" real-src={{imgHost+list.Brand.BrandImage+'@64w_32h_100Q.png'}} alt="" temp-src="./res/images/default.png"   />
                <a class="brand-name" href="#" ng-bind="list.Brand.BrandName"></a>
               <!-- <a class="a-forDiscount"  title="点击有惊喜喔" ng-click="showModal1(list,list.UnitPrice*list.Count)" ng-if="list.OrderType==0">赢折扣</a>-->
                <a class="a-forDiscount"  title="点击有惊喜喔" ng-click="getDisc(list)" ng-if="list.OrderType==0&&list.EarnestBusinessType!=4">抢折购买</a>
                <a class="a-forDiscount"  title="此商品提供免费游戏模式，点击进入游戏赢取折扣吧！" ng-click="freePlayGame(list.Id,list.CommodityId)" ng-if="list.OrderType==1" ng-show="canPlay"  btn-free-play="{{list.CommodityId}}">赢折扣</a>
            </div>
            <div class="cart-list-cont">
                <div class="cont1">
                    <a class="a-cart-goodsImg" href="/item/{{list.CommodityId}}" title="">
                        <img  ng-src={{imgHost+list.imageUrl+'@100w_100h_100Q.jpg'}} alt=""/>
                    </a>
                    <div class="goods-name">
                        <h2>
                                <a href="/item/{{list.CommodityId}}" title={{list.CommodityName}} ng-bind="list.CommodityName"></a>
                        </h2>
                        <small ng-bind="'×'+list.Count"></small>
                    </div>
<!--                    <h2 class="goods-name">
                        <a href="#" title="" ng-bind="list.CommodityName"></a>
                    </h2>
                    <small ng-bind="list.Count"></small>-->
                    <p ng-bind="property.name+'：'+property.value" ng-repeat="property in list.Specifications"></p>
                </div>
                <div class="cont2">
                    <p ng-bind="'￥'+list.orgCost"></p>
                </div>
                <div class="cont3">
                    <div class="tb-content">
                        <p class="price" ng-bind="'￥'+list.cost"></p>
                        <p ng-if="list.finalDiscount<10">
                            已享用折扣卡
                            <span class="icon-discount" ng-bind="list.finalDiscount+'折'"></span>
                        </p>
                    </div>

                </div>
                <div class="cont4">
                    <p class="wait-to-pay" ng-bind="'￥'+list.needToPay"></p>
                    <p ng-if="list.EarnestMoney>0&&list.EarnestBusinessType!=4">
                        已付定金：
                        <span class="payed" ng-bind="'￥'+list.EarnestMoney"></span>
                    </p>
                    <p ng-if="list.EarnestBusinessType==3" class="color-gray">
                        已兑游戏机会
                    </p>
                    <p ng-if="list.EarnestBusinessType==4&&(list.CouponMoney+list.EarnestMoney)>0">
                        已抵用：
                        <span class="payed" ng-bind="'￥'+(list.CouponMoney+list.EarnestMoney)"></span>
                    </p>

                </div>
                <div class="cont5">
                    <span ng-if="list.EarnestMoney==0" class="icon-remove" title="从购物车移除该商品" ng-click="removeOrder(list.Id)"></span>
                </div>
            </div>
        </div>

    <!--    <table style="background: #fff">
            <tr>
                <th></th>
                <th>商品信息</th>
                <th>原价</th>
                <th>折后价</th>
                <th>待支付</th>
                <th>操作</th>
            </tr>
            <table ng-repeat="list in data_cart">
                <tr>
                    <td colspan="5"></td>
                </tr>
                <tr>
                    <td>
                        <h2>
                            <a href="/item/{{list.CommodityId}}" title={{list.CommodityName}} ng-bind="list.CommodityName"></a>
                        </h2>
                    </td>
                    <td>
                        <p ng-bind="'￥'+list.orgCost"></p>
                    </td>
                    <td>
                        <div class="tb-content">
                            <p class="price" ng-bind="'￥'+list.cost"></p>
                            <p ng-if="list.finalDiscount<10">
                                已享用折扣卡
                                <span class="icon-discount" ng-bind="list.finalDiscount+'折'"></span>
                            </p>
                        </div>
                    </td>
                    <td>
                        <p class="wait-to-pay" ng-bind="'￥'+list.needToPay"></p>
                        <p ng-if="list.EarnestMoney>0&&list.EarnestBusinessType!=4">
                            已付定金：
                            <span class="payed" ng-bind="'￥'+list.EarnestMoney"></span>
                        </p>
                        <p ng-if="list.EarnestBusinessType==3" class="color-gray">
                            已兑游戏机会
                        </p>
                        <p ng-if="list.EarnestBusinessType==4&&(list.CouponMoney+list.EarnestMoney)>0">
                            已抵用：
                            <span class="payed" ng-bind="'￥'+(list.CouponMoney+list.EarnestMoney)"></span>
                        </p>
                    </td>
                    <td>
                        <span ng-if="list.EarnestMoney==0" class="icon-remove" title="从购物车移除该商品" ng-click="removeOrder(list.Id)"></span>
                    </td>
                </tr>
            </table>
        </table>-->
        <div class="tips" ng-if="data_cart.length<=0">
            <p>您的购物车空空如也</p>
        </div>
        <div class="cart-finally" ng-if="data_cart.length>0">
            <p>共有<span class="color-org" ng-bind="data_cart.totalAmount"></span>件商品</p>
            <p class="cart-sum-cost">合计（免运费）：<span ng-bind="'￥'+data_cart.totalCost"></span></p>
            <p>
                <input id="btn_sure_pay" type="submit" value="确认结算" ng-click="goConfirmPage()">
            </p>
        </div>
    </div>
</div>
<spinner ng-show="!loaded"></spinner>
<!--中部 end-->




<modal-get-discount visible="isModalGetDiscountShow" data="data_modal_getDisc" imghost="imgHost" luckyenergy="luckyEnergy" gamectrl="gameMenu"></modal-get-discount>
<modal-game-menu visible="gameMenu.show" gamectrl="gameMenu"></modal-game-menu>
<introduction></introduction>
<sub-footer></sub-footer>
<footer></footer>