<header></header>
<aside-right></aside-right>
<sub-header>
    <category has-sub-category="false"></category>
</sub-header>
<div></div>
<!--中部 start-->
<div class="showOffOrders container">
    <div class="soo-banner">
        <img src="../res/images/background/bg_soo_banner.png"/>
    </div>
    <div class="content">
        <div class="common-loading" ng-show="Soo.loading">
            正在加载...
        </div>
        <p class="tips-nothing" ng-show="!Soo.loading&&Soo.page.count==0">暂无</p>
        <ul class="ul-soo">
            <li ng-repeat="soo in Soo.currentPage">

                    <div class="img-container">
                        <a href="soo_dt/{{soo.Id}}" target="_blank">
                            <img real-src="{{imgHost+soo.images[0]+'@300w_300h_100Q.jpg'}}" temp-src="./res/images/default.png" img-adapt-self />
                        </a>
                    </div>
                    <div class="box-dt">
                        <a href="soo_dt/{{soo.Id}}" target="_blank">
                            <h2 class="item-name" ng-bind="soo.CommodityName">

                            </h2>

                            <p class="soo-describe color-999" ng-bind="soo.Content">

                            </p>
                        </a>
                        <p class="bar-like over-hidden">
                        <span class="pull-left icon-like-cont" ng-click="Soo.like(soo)" >
                             <i class="lm-heart iconfont" ng-style="{'color':soo.liked?'red':'#666'}"></i>
                        </span>
                          <span class="color-666 icon-like pull-left" ng-bind="soo.LikeCount"></span>
                            <a class="pull-right">
                                <span class="so-icon-disc" ng-bind="'获得'+soo.DiscountValue+'折'"></span>
                            </a>
                        </p>

                    </div>
                    <div class="bar-user over-hidden">
                        <img class="avatar" ng-src={{imgHost+soo.Avatar.image}} error-src="./res/images/touxiang.jpg"/>

                        <p class="user-name pull-left" ng-bind="soo.Nickname"></p>

                        <p class="time color-999 pull-right" ng-bind="soo.CreateTime"></p>
                    </div>
                    <div class="box-buttons">
                        <div class="btn-like" title="赞一个" ng-click="Soo.like(soo)">
                            <i class="iconfont lm-heart" ng-style="{'color':soo.liked?'red':'#666'}"></i>
                        </div>
                    </div>
            </li>
        </ul>
        <div class="page-index" btn-scroll-to="180" ng-show="!Soo.loading&&Soo.page.count>0">
            <div class="prev" ng-click="Soo.prevPage()" ><</div>
            <div class="indexes">
            <span ng-class="{'cur':Soo.page.index==p}" ng-repeat="p in Soo.page.items"
                    ng-click="Soo.changePage(p)"
                  ng-bind="(p==Soo.page.index-5||p==Soo.page.index+5)?'...':p+1"
                  ng-if="(p>=Soo.page.index-5&&p<=Soo.page.index+5)"></span>
            </div>
            <div class="next" ng-click="Soo.nextPage()" >></div>
        </div>
    </div>
</div>
<!--中部 end-->


<introduction></introduction>
<sub-footer></sub-footer>
<footer></footer>