<header></header>
<aside-right></aside-right>
<sub-header>
    <category has-sub-category="false"></category>
</sub-header>
<div></div>
<!--中部 start-->
<div class="soo-dt container">
    <div class="content">
        <div class="page-location">
            <a href="/home">幸运猫</a>
            <a>晒单分享</a>
            <a>晒单详情</a>
        </div>
        <div class="soo-dt-content">
            <div class="box-shower-order">
                <div class="bso-left">
                    <img class="avatar" ng-src={{imgHost+soo_dt.SOOInfo.Avatar.image}} error-src="./res/images/touxiang.jpg" />
                    <p>
                        <label>幸运买家：</label>
                        <span class="b font-14" ng-bind="soo_dt.SOOInfo.Nickname"></span>
                    </p>
                    <p>
                        <label>下单时间：</label>
                        <span class="color-666" ng-bind="soo_dt.orderInfo.CreateTime"></span>
                    </p>
                    <p>
                        <label>买下价格：</label>
                        <span class="font-16 color-org" ng-bind="'￥'+soo_dt.SOOInfo.DiscountPrice">￥10</span>
                        <span class="line-through color-gray"  ng-bind="'￥'+soo_dt.SOOInfo.RetailPrice">￥100</span>
                    </p>
                    <p>
                        <label>获得折扣：</label>
                        <span class="so-icon-disc" ng-bind="soo_dt.SOOInfo.DiscountValue+'折'">1折</span>
                    </p>
                </div>
                <div class="bso-right">
                    <a href="/item/{{soo_dt.SOOInfo.CommodityId}}" title={{soo_dt.SOOInfo.CommodityName}}>
                        <img class="item-img"ng-show="soo_dt.itemData.image" ng-src={{imgHost+soo_dt.itemData.image+'@100w_100h_100Q.jpg'}} error-src="./res/images/default.png" />
                    </a>

                    <p class="item-name" title={{soo_dt.SOOInfo.CommodityName}} >
                        <a ng-bind="soo_dt.SOOInfo.CommodityName" href="/item/{{soo_dt.SOOInfo.CommodityId}}" target="_blank"></a>
                    </p>
                    <ul class="ul-property">
                        <li class="color-999" ng-repeat="spec in soo_dt.orderInfo.spec">
                              {{spec.name+'：'+spec.value}}
                        </li>

                    </ul>
                </div>
            </div>
            <div class="soo-failureInfo" ng-if="soo_dt.SOOInfo.ShaiDanStatus==2">
                该晒单未通过审核！原因：<span>{{soo_dt.failureReason}}</span>
            </div>
            <div class="box-submitInfo">
                <div class="info-top over-hidden">
                    <span class="color-gray pull-left" ng-bind="soo_dt.SOOInfo.CreateTime">2016-03-07</span>
                    <div class="pull-right txt-no-select relative" ng-click="soo_dt.like(soo_dt.SOOInfo)" ng-if="soo_dt.SOOInfo.ShaiDanStatus!=2">
                        <i class="iconfont lm-heart" ng-style="{'color':soo_dt.SOOInfo.liked?'red':'#999'}"></i>
                        <span>{{soo_dt.SOOInfo.liked?'已赞':'赞'}}({{soo_dt.SOOInfo.LikeCount}})</span>

                    </div>
                </div>
                <div class="info">
                    <p class="color-666" ng-bind="soo_dt.SOOInfo.Content">
                        第一次中奖哈哈～费列罗巧克力3粒16条的，以前以为是骗人的，自己中奖后才知道是真的，大家加油好运会降临的。第一次中奖哈哈~费列罗巧
                        克力3粒16条的，以前以为是骗人的，自己中奖后才知道是真的，大家加油好运会降临的。第一次中奖哈哈~~费列罗巧克力3粒16条的，以前以为
                        是骗人的，自己中奖后才知道是真的，大家加油好运会降临的。第一次中奖哈哈～费列罗巧克力3粒16条的，以前以为是骗人的，自己中奖后才知
                        道是真的，大家加油好运会降临的。
                    </p>
                    <ul class="ul-images">
                        <li ng-class="{'cur':soo_dt.imgIndex==$index}" ng-repeat="img in soo_dt.SOOInfo.images" ng-click="soo_dt.showImg($index)">
                            <a style="display:block;width:66px;height:66px;">
                                <img real-src={{imgHost+img}} temp-src="./res/images/default.png"  />
                            </a>
                        </li>

                    </ul>
                    <div >
                        <img ng-show="!loading" ng-src={{imgHost+soo_dt.SOOInfo.images[soo_dt.imgIndex]}} error-src="./res/images/default.png" style="max-width: 100%" />
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<!--中部 end-->


<introduction></introduction>
<sub-footer></sub-footer>
<footer></footer>