<header></header>
<aside-right></aside-right>
<sub-header>
    <category has-sub-category="false"></category>
</sub-header>
<div></div>
<!--中部 start-->
<div class="soo-dt container">
    <div class="content">
        <div class="page-location">
            <a href="/home">幸运猫</a>
            <a>晒单分享</a>
            <a>晒单详情</a>
        </div>
        <div class="soo-dt-content">
            <div class="box-shower-order">
                <div class="bso-left">
                    <img class="avatar" src="./res/images/touxiang.jpg" />
                    <p>
                        <label>幸运买家：</label>
                        <span class="b font-14">helloworld</span>
                    </p>
                    <p>
                        <label>下单时间：</label>
                        <span class="color-666">2016-03-07 16：00</span>
                    </p>
                    <p>
                        <label>买下价格：</label>
                        <span class="font-16 color-org">￥10</span>
                        <span class="line-through color-gray">￥100</span>
                    </p>
                    <p>
                        <label>获得折扣：</label>
                        <span class="so-icon-disc">1折</span>
                    </p>
                </div>
                <div class="bso-right">
                    <img class="item-img" src="./res/images/touxiang.jpg" />
                    <p class="item-name">
                        iphone 6s 128G iphone 6s 128G iphone 6s 128G iphone 6s 128G iphone 6s 128G iphone 6s 128G iphone 6s 128G iphone 6s 128G iphone 6s 128G iphone 6s 128G iphone 6s 128G
                    </p>
                    <ul class="ul-property">
                        <li class="color-999">
                            内存：128G内存：128G内存：128G内存：128G内存：128G内存：128G内存：128G内存：128G内存：128G内存：128G内存：128G内存：128G内存：128G内存：128G内存：128G
                        </li>
                        <li class="color-999">
                            网络制式：双4G
                        </li>
                        <li class="color-999">
                            网络制式：双4G
                        </li>
                        <li class="color-999">
                            网络制式：双4G
                        </li>
                        <li class="color-999">
                            网络制式：双4G
                        </li>
                        <li class="color-999">
                            网络制式：双4G
                        </li>
                        <li class="color-999">
                            网络制式：双4G
                        </li>
                        <li class="color-999">
                            网络制式：双4G
                        </li>

                    </ul>
                </div>
            </div>
            <div class="box-submitInfo">
                <div class="info-top over-hidden">
                    <span class="color-gray pull-left">2016-03-07</span>
                    <div class="pull-right ">
                        <i class="iconfont lm-heart"></i>
                        <span>赞(100)</span>
                    </div>
                </div>
                <div class="info">
                    <p class="color-666">
                        第一次中奖哈哈～费列罗巧克力3粒16条的，以前以为是骗人的，自己中奖后才知道是真的，大家加油好运会降临的。第一次中奖哈哈~费列罗巧
                        克力3粒16条的，以前以为是骗人的，自己中奖后才知道是真的，大家加油好运会降临的。第一次中奖哈哈~~费列罗巧克力3粒16条的，以前以为
                        是骗人的，自己中奖后才知道是真的，大家加油好运会降临的。第一次中奖哈哈～费列罗巧克力3粒16条的，以前以为是骗人的，自己中奖后才知
                        道是真的，大家加油好运会降临的。
                    </p>
                    <ul class="ul-images">
                        <li class="cur">
                            <a>
                                <img src="http://image.luckyec.com/image/b8461534-1321-4618-8188-7e2908b7650d.jpg"  />
                            </a>
                        </li>
                        <li>
                            <a>
                                <img src="http://image.luckyec.com/image/b8461534-1321-4618-8188-7e2908b7650d.jpg"  />
                            </a>
                        </li>
                        <li>
                            <a>
                                <img src="http://image.luckyec.com/image/b8461534-1321-4618-8188-7e2908b7650d.jpg"  />
                            </a>
                        </li>
                        <li>
                            <a>
                                <img src="http://image.luckyec.com/image/b8461534-1321-4618-8188-7e2908b7650d.jpg"  />
                            </a>
                        </li>
                    </ul>
                    <div class="big-img">
                        <img src="http://image.luckyec.com/image/b8461534-1321-4618-8188-7e2908b7650d.jpg"/>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<!--中部 end-->


<introduction></introduction>
<sub-footer></sub-footer>
<footer></footer>