
.paragraph h6{
    font-size: 14px;
    color:#333;
    font-weight: 500;
    margin-bottom: 15px;
    margin-top:-30px;
}


.question_z .title_z{
    font-size:18px;
    color:#ff6700;
    width:100%;
    display:inline-block;
    border-bottom: dashed 1px #f1f1f1;
    padding-bottom:10px;
    margin-bottom:20px;
}
.question_z a{
    width:100%;
    display:inline-block;
    font-size:14px;
    margin-bottom:10px;
    color:#666;
}
.question_z .answer_z{
    font-size:14px;
    color:#999999;
}
.related_z{
    width:873px;
    padding:30px;
    background:#f8f8f8;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    margin-top:100px;
}
.related_z h3{
    font-size:18px;
    font-weight:400;
    border-left:2px #2aa817 solid;
    line-height:18px;
    padding-left:10px;
    margin-bottom:10px;
}
.relative_z{ position:relative;}
.related_z a{ width:100%; display:inline-block; color:#666666; font-size:14px; margin-top:10px;}
.question_z img{
    width:100%; margin:20px 0;
}
.protocol_z{
    text-align:left;
    color:#757575;
}
.protocol_z h3{ font-size:24px; text-align:center; font-weight:400; margin-bottom:50px;}
.protocol_z p{ text-indent:2em; line-height:24px;}
.protocol_z b{  line-height:32px; display:inline-block; margin-top:20px;}
.text_right{ text-align:right; }
.container2 {
    position: relative;
    margin: 0 auto;
}

/*button {
    background-color: #2cc185;
    color: #fff;
    border: 0;
    padding: 1em 1.5em;
}

button:hover {
    background-color: #239768;
    color: #fff;
}

button:focus {
    background-color: #239768;
    color: #fff;
}*/

.accordion {
    position: relative;
    background-color: #fff;
    display: inline-block;
    width: 100%;

    border-bottom: 1px solid #f1f4f3;
    font-weight: 700;
    color: #74777b;
    vertical-align: middle;
}

.accordion .fa {
    position: relative;
    float: right;
}

.accordion h4 {
    position: relative;
    top: 0.8em;
    margin: 0;
    font-size: 14px;
    font-weight: 500;
}
.accordion h4:before{
    content:" ";
    background:url(../img/wen.png);
    width:15px;
    height:15px;
    display:inline-block;
    vertical-align: sub;
    margin-right:10px;
}
.accordion a {
    position: relative;
    display: block;
    color: #74777b;
    padding: 1em 1em 2.5em 1em;
    text-decoration: none;
}

.accordion a:hover {
    text-decoration: none;
    color: #ff6700;
    background-color: #f6f6f6;

}

.container2 div:nth-last-child(2){ border-bottom:none;}
.accordion-desc {
    background-color: #f6f6f6;
    color: #757575;
    z-index: 2;
    text-indent:2em;
    line-height:30px;
    font-size:14px;
    margin-bottom:30px;
    padding: 20px 15px;
}
.accordion-desc span{
    color:#87c143;
}
.accordion-desc img{
    width:100%;
    margin-top:20px;
}

.join_z h3{
    width:100%;
    font-size:22px;
    font-weight:400;
    color:#333;
    display:inline-block;
    padding-left:15px; line-height:22px; margin-bottom:10px;
}
.join_z h3.h1{border-left:solid 2px #FF9900; }
.join_z h3.h2{border-left:solid 2px #7ac91c; }
.join_z h3.h3{border-left:solid 2px #59aef5; }
.join_z p{ margin-left:20px;line-height:24px; font-size:13px; color:#666; margin-top:10px; }
.join_z b{ font-size:17px; margin-top:30px; display:inline-block;font-weight:500; }
.top50{ margin-top:50px;}
.top0{margin-top:0px !important;}





/*关于幸运猫begin*/
.about .page-location{
    line-height:50px;
    font-size:12px;
    color:#666;
}
.about .page-location a{
    color:#999;
}
.about .page-location a:last-child:after{content: ' ';}
.about .box-introduction{
    padding:30px;
    background:#fff;
}
.box-introduction .box-title{
    display:block;
    margin-bottom: 30px;
    color:#ababab;
    font-size:30px;
    font-weight:500;
}
.box-introduction .intro-title{
    height:285px;
    color:#fff;
    background:#ff9900;
    text-align:center;
    overflow:hidden;
}
.box-introduction .intro-title h1{
    margin-top:100px;
    margin-bottom:25px;
    font-size:60px;
    font-weight:500;
}
.box-introduction .intro-title small{
    font-size:18px;
}
.box-introduction .paragraph{
    margin-top:56px;
}
.box-introduction .paragraph h3{
    font-size:18px;
    font-weight:500;
    color:#373737;
    margin-bottom:15px;
}
.box-introduction .paragraph p{
    font-size:13px;
    color:#666;
    line-height:30px;
    text-indent:30px;
}
/*关于幸运猫end*/

/*联系我们 begin*/
.box-touch{
    background:#fff;
    padding:30px;
}
.box-touch .box-title{
    display:block;
    margin-bottom: 30px;
    color:#ababab;
    font-size:30px;
    font-weight:500;
}
.box-touch .title-img{
    height:336px;
}
.box-touch .boxes{
    overflow:hidden;
}
.box-touch .boxes .bbs{
    margin-top:56px;
    width:50%;
    float:left;
}
.box-touch .boxes .bbs h3{
    margin-bottom:20px;
    height:24px;
    line-height:24px;
    font-size:24px;
    font-weight:500;
    border-left:3px solid #666;
    padding-left:15px;
}
.box-touch .boxes .bbs p{
    line-height:26px;
    color:#8d8e92;
    font-size:12px;
}
.box-touch .boxes .bbs p.describe{
    font-size:14px;
    color:#555;
}
.box-touch .boxes .bbs1 h3{
    border-color:#2aa817;
}
.box-touch .boxes .bbs2 h3{
    border-color:#f17509;
}
.box-touch .boxes .bbs3 h3{
    border-color:#a64ef2;
}
.box-touch .map{
    height:626px;
    background:#f1f1f1;
    margin-top:30px;
}
/*联系我们 end*/

/*帮助中心 begin*/
.help .page-location{
    line-height:40px;
    font-size:12px;
    color:#666;
}
.help .page-location a{
    color:#999;
}
.box-help{
    background:#fff;
    padding:30px;
}
.box-help .box-title{
    display:block;
    margin-bottom: 30px;
    color:#ababab;
    font-size:30px;
    font-weight:500;
}
.box-help .label{
    display:block;
    font-size:20px;
    height:20px;
    line-height:20px;
    border-left:2px solid #ccc;
    text-indent:15px;
    font-weight:500;
    margin-bottom:20px;
}
.help .steps{
    overflow:hidden;
}
.help .steps ul{
    margin:20px auto;
}
.help .steps li{
    display:inline-block;
    width:223px;
    height:125px;
    background-color:#f8f8f8;
    text-align:center;
    line-height:180px;
}.help .steps li a{
     color:#666;
 }
.help .steps li span{
    color:#666;
    margin-right:8px;
    position:relative;
    top:-2px;
}
.box-help .step1,.box-help .step2,.box-help .step3,.box-help .step4,.box-help .step5{
    background-repeat:no-repeat;
    background-position:80px 10px;
}
.box-help .step1{
    background-image:url(../res/icon/icon_shopping_step1.png);
}
.box-help .step2{
    background-image:url(../res/icon/icon_shopping_step2.png);
}
.box-help .step3{
    background-image:url(../res/icon/icon_shopping_step3.png);
}
.box-help .step4{
    background-image:url(../res/icon/icon_shopping_step4.png);
}
.box-help .step5{
    background-image:url(../res/icon/icon_shopping_step5.png);
}
.QA{
    overflow:hidden;
}
.QA-list{
    width:47%;
    float:left;
    margin-top:56px;
}
.QA-list:nth-child(2n+2){
    margin-left:6%;
}
.QA-list-cont{
    height:100px;
    padding-left:120px;

}
.QA-list-cont1{
    background:url(../res/icon/icon_help1.png) no-repeat;
}
.QA-list-cont2{
    background:url(../res/icon/icon_help2.png) no-repeat;
}
.QA-list-cont3{
    background:url(../res/icon/icon_help3.png) no-repeat;
}
.QA-list-cont4{
    background:url(../res/icon/icon_help4.png) no-repeat;
}
.QA-list-cont p{
    margin-bottom:7px;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}
.QA-list-cont p a{
    color:#8c8c8c;
}
.QA-hot{
    margin-top:24px;
}
.help .question{
    font-size:16px;
}
.help .answer{
    margin-top:7px;
    font-size:14px;
    color:#999;
    line-height:24px;
}
.help .question:before{
    content:'Q';
    color:#52b843;
    margin-right:7px;
}
.help .answer:before{
    display:inline-block;
    height:100%;
    content:'A';
    color:#ff6700;
    margin-right:7px;
}
.hot-QA-list{
    margin-top:56px;
}
.help .hot-QA-list .question{
    margin-top:20px;
}
.help .label1{
    border-color:#5592e5;
}
.help .label2{
    border-color:#ff7a56;
}
.help .label3{
    border-color:#94bb19;
}
.help .label4{
    border-color:#52b843;
}
.help .label5{
    border-color:#f49537;
}
.help .label6{
    border-color:#2aa817;
}
/*帮助中心 end*/

.UC-menu.support{
   margin-top:0px;
}
.UC-menu-cont.support{
    margin-top:0px;
}

 	