<div class="box-introduction box-help">
    <h2 class="box-title">正品保障</h2>
    <div class="join_z">
        <b class="top0">严把品质关 确保100%正品 让用户100%信赖安心</b><br>
        <b>品牌授权</b>
        <p>幸运猫所售的商品均由正规的品牌供应商供应，符合国家或国际标准。品牌供应商包括品牌生产商、品牌授权代理商、品牌授权经销商、品牌分公司以及国际品牌入驻中国的办事处等等。幸运猫启动初期就囊括了数百个国内外优秀品牌，数万个商品同步上线，让广大用户在海量正品中，通过游戏化的体验享尽购物的乐趣。</p>
        <b>正品采购</b>
        <p>幸运猫网站所售的商品均从品牌方、代理方、品牌分支机构以及国际品牌入驻中国的办事处等等正规渠道采购，并与之签订正品保证协议。同时对供应商的资质进行严格的审查，
            五证和质检报告是必不可少的认证：营业执照，卫生许可证，税务登记证，企业代码证，生产许可证。如果涉及到食品等类目，还要求供应商必须提供有关食品安全生产许可的证书，以确保100%的正品。</p>
        <b>正规配送 </b>
        <p>选购了心仪的商品，还需满意的配送。幸运猫以及相应的品牌商与数十家国内知名的物流快递公司签有合作协议。无论你身在何方，我们都竭诚将您所购的商品，用最快捷安全的方式送达您的手中。 </p>

    </div>








</div>