<div class="box-introduction box-help">
    <h2 class="box-title">常见问题</h2>





    <div class="accordion-container">
        <div class="container2">

            <div class="accordion" ng-click="toggleAnswer(0)">
                <a href="#"><h4>幸运猫是什么，有什么特色？</h4></a>
            </div>
            <div ng-show="answer[0]" class="accordion-desc">
                <span>答：</span>幸运猫是一个游戏化电商购物平台，用户购物时，通过玩游戏来获取折扣，折扣的大小完全由用户玩游戏的结果来决定。
            </div>

            <div class="accordion" ng-click="toggleAnswer(1)">
                <a href="#"><h4>如何通过玩游戏来获取折扣？</h4></a>
            </div>
            <div ng-show="answer[1]" class="accordion-desc">
                <span>答：</span>进入购物车后，直接点击“抢折扣”进入游戏即可。
            </div>

            <div class="accordion" ng-click="toggleAnswer(2)">
                <a href="#"><h4>玩游戏之后折扣是多少呢？</h4></a>
            </div>
            <div ng-show="answer[2]" class="accordion-desc">
                <span>答：</span>由用户玩游戏的结果来决定。
            </div>

            <div class="accordion" ng-click="toggleAnswer(3)">
                <a href="#"><h4>结算过程中，因未知错误导致未完成支付的订单，应该怎么处理？</h4></a>
            </div>
            <div ng-show="answer[3]"  class="accordion-desc">
                <span>答：</span>建议您可先查询付款账户，核实款项是否已支付成功。如未支付成功，请您在订单管理中，找到相应的订单，点击“支付”重新购买；如您的款项已支付成功，但订单状态显示未支付，请您联系幸运猫在线客服，我们将尽快为您处理。
            </div>

            <div class="accordion" ng-click="toggleAnswer(4)">
                <a href="#"><h4>我不小心写错了收货地址，请问还可以改吗？</h4></a>
            </div>
            <div ng-show="answer[4]"  class="accordion-desc">
                <span>答：</span>如订单状态为“待付款”，您在订单管理中自行修改有效地址即可；如订单状态为“已付款”，您需要在待收货订单详情中给客服留言。
            </div>

            <div class="accordion" ng-click="toggleAnswer(5)">
                <a href="#"><h4>我支付了定金之后，不想买了，可以退款吗？</h4></a>
            </div>
            <div ng-show="answer[5]"   class="accordion-desc">
                <span>答：</span>可以的，但我们是将定金退回到您的幸运猫定金钱包中，等到下次您过来选购其他商品时，可以直接用来支付其他商品的定金，但是不会再获赠游戏机会。
            </div>

            <div class="accordion" ng-click="toggleAnswer(6)">
                <a href="#"><h4>收货之后，发现商品不太满意或者质量有问题可以退换货吗？运费谁来承担？</h4></a>
            </div>
            <div ng-show="answer[6]"   class="accordion-desc">
                <span>答：</span>可以的，幸运猫平台支持七天无理由退货。若是商品质量问题，运费则由幸运猫负责；若商品不存在质量问题，幸运猫将扣除退货运费后，将相应的余额返还给您。
            </div>

            <div class="accordion" ng-click="toggleAnswer(7)">
                <a href="#"><h4>由于玩游戏前付了定金，后面如果要退款的话，是全额退，还是不包含定金部分？</h4></a>
            </div>
            <div ng-show="answer[7]"  class="accordion-desc">
                <span>答：</span>是全额退款的哦，若是因为产品质量问题，幸运猫会将款项直接退回您的支付宝或微信账户中；若非产品质量问题，尾款将打回您的支付宝或者微信账户中；定金部分则返回到您的幸运猫定金钱包里，下次购物时，直接用来支付其他商品的定金。
            </div>

        </div>
    </div>

</div>