<div class="box-introduction box-help">
    <h2 class="box-title">退货政策</h2>
    <div class="join_z">
        <b>填写“退货申请”</b><br>
        <p>在个人中心-我的订单，点击“申请售后”，进入后填写“退货申请信息”，接着“提交申请”，转到“退换/售后”页面等待审核。</p>
        <b>客服确认</b><br>
        <p>当退货申请审核通过时，在“售后/退换”项下的订单详情中，会看到客服的反馈信息，点击信息确认，跳转到“售后信息确认”。里面会有系统提供的地址、收货人、电话等信息。</p>
        <b>寄回退货商品</b><br>
        <p>用户可根据幸运猫在“售后信息确认页”留下的地址将商品寄回，并把寄回的快递单号填写在相应的留言框内，最后点击提交，向幸运猫确认商品已寄回。 </p>
        <b>客服收到退货后退款</b><br>
        <p>收到退货商品后，我们会于7天内将退款发出。如因质量问题，退货所产生的运费将由幸运猫承担（若非质量问题，则运费由用户承担）；如用户先行支付运费，那么所报销的运费将连同商品价款按原支付路径返还给用户。</p>
        <p>对于部分商品，包含但不限于：高价值商品、食品类、贴身衣物（如内衣/裤、袜子等），在发出之前均已经过专业人员仔细检查，为了保证您能购买到全新正品，售出后无质量问题恕不支持退货。请您在快递送达时先当面验货，再进行签收，签收完毕则认为无质量问题。部分高价值的商品，幸运猫会在商品上挂上印有“幸运猫优品”字样的安全封条，请您收到商品仔细检查后无问题再剪断，若剪断后再涉及退款，我们将不能为您办理退货。</p>
        <b>如有疑问，请在签收后7日内跟客服联系：400-808-9136</b>
    </div>

</div>