<header></header>
<sub-header nav="guide">
    <category has-sub-category="false"></category>
</sub-header>


<div class="about help  container ng-scope">
    <div class="content">
        <div class="page-location" >
            <a href="/home">幸运猫</a>
            <a>购物流程</a>
        </div>
        <div class="box-introduction box-help">
            <div style=" color:#ec3640; font-size: 24px; border-left: 3px solid #ec3640; line-height: 24px; padding-left: 15px; margin-bottom: 20px;">了解幸运猫商城</div>
            <img src="./res/images/guide/guide_ljxym.jpg" />

            <div style="width: 100%; margin-top: 40px; padding-top: 40px; border-top: 1px dashed #e2e2e2;"></div>
            <div style=" color:#ec3640; font-size: 24px; border-left: 3px solid #ec3640; line-height: 24px; padding-left: 15px; margin-bottom: 20px; ">支付定金赢折扣</div>
            <p style="font-size: 16px; color: #666; display: block; width: 40%; float: left; text-indent: 2em; line-height: 40px; margin-top: 100px; margin-right: 65px;">       在幸运猫，用户可支付定金来获赠游戏砍价机会，
                游戏中的折扣可累计叠加折上折，支付的定金可在折后
                价自动减免！</p>
            <img src="./res/images/guide/guide_ljxym2.jpg" />

            <div style="width: 100%; margin-top: 40px; padding-top: 40px; border-top: 1px dashed #e2e2e2;"></div>

            <div style=" color:#ec3640; font-size: 24px; border-left: 3px solid #ec3640; line-height: 24px; padding-left: 15px; margin-bottom: 20px;">三步赢折扣</div>
            <img src="./res/images/guide/guide_ljxym3.jpg" />
            <p style="font-size: 16px; margin: 34px; color: #00a122;">温馨提示：若不熟悉游戏砍价玩法，可在商品详情页面选择“试玩练手”，试玩结果不参与最终交易唷！</p>

            <div style="width: 100%; margin-top: 40px; padding-top: 40px; border-top: 1px dashed #e2e2e2;"></div>

            <div style=" color:#ec3640; font-size: 24px; border-left: 3px solid #ec3640; line-height: 24px; padding-left: 15px; margin-bottom: 20px;">定金规则</div>
            <div style="font-size: 16px; line-height: 30px; color: #666;">
                <P>① 若玩了游戏没购买商品，直到商品下架后定金将退回至[我的代金券]，在我的[个人中心]可查看。</P>
                <P>② 若商品因质量问题退货，将全额（含定金）退回您的原支付账户。</P>
                <P>③ 若商品因非质量问题退货，定金退回至[我的代金券]，余额退回原支付账户。</P>
                <P>④ 我的代金券：可使用于支付所有商品的定金，但不赠送游戏机会。</P>
            </div>

        </div>
    </div>
</div>



<introduction></introduction>
        <sub-footer></sub-footer>
        <footer></footer>
