<p class="menu-cont-title">
    <label>建议和反馈</label>
</p>
<div class="modal-feedback">
    <form class="modal-content">
        <p class="input-tips">亲，至少输入15个字！</p>
        <p>
            <label class="no-null">标题：</label>
            <input placeholder="请输入标题"/>
        </p>
        <p>
            <label class="no-null">内容：</label>
            <textarea placeholder="请输入内容"></textarea>
        </p>
        <p>
            <label>电子邮箱：</label>
            <input placeholder="请输入电子邮箱（选填）"/>
        </p>
        <p>
            <label>联系电话：</label>
            <input placeholder="请输入联系电话（选填）" require-number maxlength="11" />
        </p>
        <p class="tx-center">
            <input class="btn-submit" type="submit" value="提交反馈" />
        </p>
    </form>
</div>