<p class="menu-cont-title">
    <label>我的折扣卡</label>
</p>

<div class="loading-tips" ng-show="showLoading==true">正在加载...</div>
<!--<div class="discount-card-tabs">
    <a ng-class="{'cur':card_status==0}" href="/UCIndex/myDiscountCards/status=0">未使用</a>
    <a ng-class="{'cur':card_status==1}" href="/UCIndex/myDiscountCards/status=1">已使用</a>
    <a ng-class="{'cur':card_status==2}" href="/UCIndex/myDiscountCards/status=2">已失效</a>
</div>-->
<ul>
    <li class="dc-cart-li" ng-repeat="list in data_card">
        <div class="details">
            <a class="img-container" href="list.Order.CommodityId">
                <img real-src={{imgHost+list.imgUrl+'@80w_80h_100Q.png'}} alt="" temp-src="./res/images/default.png"/>
            </a>
            <a href="list.Order.CommodityId">
                <h2 ng-bind="list.Order.CommodityName"></h2>
            </a>

            <p ng-repeat="property in list.Order.goodsProperty" ng-bind="property.name+'：'+property.value"></p>
        </div>
        <div class="price">
            <div class="cont">
                <p>
                    <label>折后价：</label>
                    <span class="dc-price" ng-bind="'￥'+list.discountPrice"></span>
                </p>
                <p class="old-price" ng-bind="'原价'+list.Order.Commodity.RetailPrice"></p>
            </div>
        </div>
        <div class="card">
            <div class="card-top">
                <label></label>
                <span><font ng-bind="list.BaseDiscount.toFixed(1)"></font>折</span>
            </div>
            <p>使用说明：限本商品使用</p>
           <!-- <p>使用期限：2015.08.15-2015.12.03</p>-->
        </div>
    </li>
</ul>

<p class="tips-nothing" ng-show="data_card.length<=0">暂无</p>
<!--<div class="UC page-index">
    <div class="prev"><</div>
    <div class="indexes">
        <span class="cur">1</span>
        <span>2</span>
        <span>3</span>
        <span>4</span>
        <span>5</span>
    </div>
    <div class="next">></div>
</div>-->